{% load markdownify %}

{% block article %}
<article class="article article-details">
	<header class="article-header">
		<p class="article-metadata">
			<time pubdate="pubdate" datetime="{{ article.created|date:'c' }}">{{ article.created }}</time> &middot;
			<a href="{{ article.author.get_absolute_url }}">{{ article.author }}</a>
			{% if user.is_staff or user == article.author %}
				&middot; <a href="{% url 'admin:articles_article_change' article.pk %}">Edit</a>
			{% endif %}
		</p>
		<h1 class="article-title">
			<a href="{{ article.get_absolute_url }}">{{ article }}</a>
		</h1>
	</header>

	<section class="article-contents markdown">
		{{ article.contents|markdownify }}
	</section>
</article>

{% block comments %}
{% if article.enable_comments %}
	<section class="article-comments comments-section" id="comments">
		{% include "comments/comment_section.html" with object=article %}
	</section>
{% endif %}
{% endblock %}
{% endblock %}
