{% extends "base.html" %}
{% load static from static %}
{% load feature from features %}
{% load setting from web_extras %}
{% load render_bundle from webpack_loader %}

{% block fullcontent %}
{% feature "billing" as billing %}

<article id="premium-upgrade-page">

	<header id="opener">
		<div class="container">
			<h2>HearthSim <span>Premium</span></h2>
			{% if premium %}
				<p class="tagline text-premium">
					<span class="glyphicon glyphicon-ok"></span> You've subscribed. Thanks for your support!
				</p>
				<p>
					<a href="{% url 'billing_methods' %}" class="promo-button-outline">Billing settings</a>
				</p>
			{% else %}
				<p class="tagline">Advanced Statistics for Hearthstone</p>
				{% if not billing.read_only %}
					<p><a href="#go" class="promo-button-outline text-premium">Get Premium</a></p>
					<p>Subscribe for {{ monthly_plan.human_readable_price }}.</p>
				{% else %}
					<p><span class="btn promo-button-outline disabled">Not available</span></p>
				{% endif %}
			{% endif %}
		</div>
	</header>

	<section id="features">
		{% setting "FEATURED_CARD_ID" as featured_card %}
		{% setting "FEATURED_DECK_ID" as featured_deck %}
		<div class="container">
			<h3>Features</h3>
			<p>
				{% if premium %}
				You now have access to the following features:
				{% else %}
				You'll have access to the following features once you subscribe:
				{% endif %}
			</p>
			<div class="row">
				<div class="clearfix"></div>
				<figure class="auto col-sm-6 col-xs-12">
					{% if premium %}<a href="{% url 'card_stats' %}">{% endif %}
						<img src="{% static 'images/premium-promotional/filters.png' %}" class="bordered" alt="Rank Range & Time Frame" />
					{% if premium %}</a>{% endif %}
					<figcaption>
						<h4>Time & Rank Filters</h4>
						<p>
							Benefit from new filters to dive deep into the meta: View the latest global statistics
							and filter data for the higher ranks.
						</p>
					</figcaption>
				</figure>
				<figure class="auto col-sm-6 col-xs-12">
					{% if premium %}<a href="{% url 'my_card_stats' %}">{% endif %}
						<img src="{% static 'images/premium-promotional/mycards.png' %}" class="bordered" alt="My Cards" />
					{% if premium %}</a>{% endif %}
					<figcaption>
						<h4>My Cards</h4>
						<p>
							Discover the cards you've personally have the highest winrate with across your replays—or
							just find that one card with which you've killed the most heroes!
						</p>
					</figcaption>
				</figure>
				<figure class="auto col-sm-6 col-xs-12">
					{% if premium and featured_card %}<a href="{% url 'card_detail' pk=featured_card %}#tab=turn-stats">{% endif %}
						<img src="{% static 'images/premium-promotional/charts.png' %}" class="bordered" alt="Winrate by turn" />
					{% if premium and featured_card %}</a>{% endif %}
					<figcaption>
						<h4>Turn Details</h4>
						<p>
							Choose any card and see how effective it is at various stages in the game.
							Pinpoint exactly when it's usually played and how it performs against certain classes.
						</p>
					</figcaption>
				</figure>
				<figure class="auto col-sm-6 col-xs-12">
					{% if premium %}<a href="{% url 'deck_list' %}">{% endif %}
						<img src="{% static 'images/premium-promotional/classes.png' %}" class="bordered" alt="Opponent class selector" />
					{% if premium %}</a>{% endif %}
					<figcaption>
						<h4>Matchup Selectors</h4>
						<p>
							Whether you want to learn how to pilot a deck against Priest or
							identify the weakest card against Druid in your deck, we know the matchups.
						</p>
					</figcaption>
				</figure>
				<figure class="col-sm-6 col-sm-offset-3 col-xs-12">
					<figcaption>
						<h4>&hellip;and we're just getting started!</h4>
						<p>
							We are not stopping here! Expect to see more features in the future.
						</p>
					</figcaption>
				</figure>
			</div>
			<div class="single-row"><hr /><h4>Further more…</h4><hr /></div>
			<div class="row">
				<figure class="auto col-sm-6 col-xs-12">
					<img src="{% static 'images/premium-promotional/data.png' %}" />
					<figcaption>
						<h4>We Trust Our Data</h4>
						<p>
							Our statistics are backed by millions of games per week across all ranks and game modes.<br />
							That way we can update all our statistics multiple times a day.
						</p>
					</figcaption>
				</figure>
				<figure class="auto col-sm-6 col-xs-12">
					<img src="{% static 'images/hearthsim_logo.png' %}" class="logo" />
					<figcaption>
						<h4>Support HearthSim</h4>
						<p>
							Your subscription directly supports HearthSim. We're the team behind Hearthstone Deck Tracker,
							HSReplay.net and a lot more Hearthstone tools.
						</p>
					</figcaption>
				</figure>
			</div>
		</div>
	</section>

	{% if not premium and billing.enabled and not billing.read_only %}
	<section id="go" class="promo">
		<div class="container">
			<h3 class="text-center">{{ random_quote }}</h3>
			{% include "premium/checkout_form_open.html" %}
			<div class="form-group text-center">
				{% if user.is_authenticated %}
					<p>Please choose your plan:</p>
					<div class="btn-group" data-toggle="buttons" role="radiogroup">
						<label class="btn btn-default active" id="plan-{{ monthly_plan.stripe_id }}">
							<h4>{{ monthly_plan.human_readable_price }}</h4>
							<input
									type="radio"
									name="plan"
									value="{{ monthly_plan.stripe_id }}"
									data-amount="{{ monthly_plan.amount_in_cents }}"
									data-currency="{{ monthly_plan.currency }}"
									data-description="{{ monthly_plan.human_readable_price }}"
									required
									checked
							>
						</label>
						<label class="btn btn-default" id="plan-{{ semiannual_plan.stripe_id }}">
							<h4>{{ semiannual_plan.human_readable_price }}</h4>
							<input
									type="radio"
									name="plan"
									value="{{ semiannual_plan.stripe_id }}"
									data-amount="{{ semiannual_plan.amount_in_cents }}"
									data-currency="{{ semiannual_plan.currency }}"
									data-description="{{ semiannual_plan.human_readable_price }}"
									required
							>
						</label>
					</div>
				{% endif %}
			</div>
			{% if user.is_authenticated %}
				{% with user.stripe_customer as customer %}
				<div class="form-group">
					{% if customer.coupon %}
						<p class="alert alert-success">
							You have an active coupon for <strong>{{ customer.coupon.human_readable }}</strong>.
							This amount will be deducted from your purchase.
						</p>
					{% endif %}

					{% if customer.default_source %}
						<p class="text-center">
							<button type="submit" class="promo-button text-premium">Subscribe now</button>
						</p>
						<p class="text-center">Using <strong>{{ customer.default_source.brand }} &bull;&bull;&bull;&bull; {{ customer.default_source.last4 }}</strong></p>
					{% else %}
						<p class="text-center">
							{% include "premium/checkout_button.html" with id="premium-checkout-button" label="Sign me up!" %}
						</p>
						<script type="text/javascript">
							var button = document.getElementById("premium-checkout-button");
							window.hsreplaynet_load_stripe(button);
						</script>
					{% endif %}
				</div>
				<small class="help-block text-center">
					By signing up you agree to our <a href="{% url 'terms_of_service' %}" target="_blank">Terms of Service</a>.<br/>
					Subscriptions renew automatically and can be cancelled any time from the <a href="{% url 'billing_methods' %}" target="_blank">billing settings</a> page.
				</small>
				{% endwith %}
			{% else %}
				<p class="text-center">
					{% include "login_button.html" with next="/premium#go" %}
				</p>
			{% endif %}
			{% include "premium/checkout_form_close.html" %}
		</div>
	</section>
	{% endif %}
</article>

{% endblock %}
