{% extends "base.html" %}
{% load static from static %}
{% load feature from features %}
{% load setting from web_extras %}
{% load render_bundle from webpack_loader %}

{% block fullcontent %}
{% feature "billing" as billing %}

<article id="premium-upgrade-page">
	{% if reflink %}
		<aside id="referrals" data-reflink="https://hsreplay.net{{ reflink }}"></aside>
		{% render_bundle "premium_detail" %}
	{% endif %}

	<header id="opener">
		<div class="container">
			<h2>HearthSim <span>Premium</span></h2>
			{% if premium %}
				<p class="tagline text-premium">
					<span class="glyphicon glyphicon-ok"></span> You've subscribed. Thanks for your support!
				</p>
				<p>
					<a href="{% url 'billing_methods' %}" class="promo-button-outline">Billing settings</a>
				</p>
			{% else %}
				<p class="tagline">Advanced Statistics for Hearthstone.</p>
				{% if billing.read_only %}
					<p><span class="btn promo-button-outline disabled">Not available</span></p>
				{% elif has_subscription_past_due %}
					<p><span class="btn promo-button-outline disabled">Subscription suspended</span></p>
					<p>
						Your subscription was suspended due to an open payment.<br />
						<a href="{% url 'billing_methods' %}" style="color: white; text-decoration: underline">Please visit the billing settings</a>.
					</p>
				{% else %}
					<p><a href="#go" class="promo-button-outline text-premium">Get Premium</a></p>
					<p>Subscribe for {{ stripe_monthly_plan.human_readable_price }}.</p>
				{% endif %}
			{% endif %}
		</div>
	</header>

	<section id="features">
		{% setting "FEATURED_CARD_ID" as featured_card %}
		{% setting "FEATURED_DECK_ID" as featured_deck %}
		<div class="container">
			<h3>Features</h3>
			<p>
				{% if premium %}
				As a premium subscriber you now have access to the following features:
				{% else %}
				You'll gain access to the following features as a premium subscriber:
				{% endif %}
			</p>
			<div class="row">
				<div class="clearfix"></div>
				<figure class="auto col-sm-6 col-xs-12">
					{% if premium %}<a href="{% url 'cards' %}">{% endif %}
						<img src="{% static 'images/premium-promotional/filters.png' %}" class="bordered" alt="Rank Range & Time Frame" />
					{% if premium %}</a>{% endif %}
					<figcaption>
						<h4>Time & Rank Filters</h4>
						<p>
							Benefit from new filters to dive deep into the meta: View the latest global statistics
							and filter data for the higher ranks.
						</p>
					</figcaption>
				</figure>
				<figure class="auto col-sm-6 col-xs-12">
					{% if premium %}<a href="{% url 'my_cards' %}">{% endif %}
						<img src="{% static 'images/premium-promotional/mycards.png' %}" class="bordered" alt="My Cards" />
					{% if premium %}</a>{% endif %}
					<figcaption>
						<h4>My Cards</h4>
						<p>
							Start tracking your replays and learn how your cards perform—or just find that one card with
							which you're killing the most heroes!
						</p>
						<p class="help-block">Data available during the subscription period.</p>
					</figcaption>
				</figure>
				<div class="clearfix"></div>
				<figure class="auto col-sm-6 col-xs-12">
					{% if premium and featured_card %}<a href="{% url 'card_detail' pk=featured_card %}#tab=turn-statistics">{% endif %}
						<img src="{% static 'images/premium-promotional/charts.png' %}" class="bordered" alt="Winrate by turn" />
					{% if premium and featured_card %}</a>{% endif %}
					<figcaption>
						<h4>Turn Details</h4>
						<p>
							Choose any card and see how effective it is at various stages in the game.
							Pinpoint exactly when it's usually played and how it performs against certain classes.
						</p>
					</figcaption>
				</figure>
				<figure class="auto col-sm-6 col-xs-12">
					{% if premium %}<a href="{% url 'decks' %}">{% endif %}
						<img src="{% static 'images/premium-promotional/classes.png' %}" class="bordered" alt="Opponent class selector" />
					{% if premium %}</a>{% endif %}
					<figcaption>
						<h4>Matchup Selectors</h4>
						<p>
							Whether you want to learn how to pilot a deck against Priest or
							identify the weakest card against Druid in your deck, we know the matchups.
						</p>
					</figcaption>
				</figure>
				<div class="clearfix"></div>
				<figure class="auto col-sm-6 col-xs-12">
					{% if premium %}<a href="{% url 'my_decks' %}">{% endif %}
					<img src="{% static 'images/premium-promotional/mydecks.png' %}" class="bordered" alt="My Decks" />
					{% if premium %}</a>{% endif %}
					<figcaption>
						<h4>My Decks</h4>
						<p>
							Keep track of the decks you play across all your replays! Quickly access any deck's page
							here, even if you're the only one playing it.
						</p>
						<p class="help-block">Data available during the subscription period.</p>
					</figcaption>
				</figure>
				<figure class="auto col-sm-6 col-xs-12">
					<img src="{% static 'images/premium-promotional/mystatistics.png' %}" class="bordered" alt="My Statistics" />
					<figcaption>
						<h4>My Statistics</h4>
						<p>
							View your own Mulligan Guide and Deck statistics for any deck you're playing  and see how
							efficient your mulligans really are.
						</p>
						<p class="help-block">Data available during the subscription period.</p>
					</figcaption>
				</figure>
				<figure class="col-sm-6 col-sm-offset-3 col-xs-12">
					<figcaption>
						<h4>&hellip;and we're not stopping here!</h4>
						<p>
							We're continuously working on new features, both for free users and exclusively for premium subscribers.
							Expect to see more in the future.
						</p>
					</figcaption>
				</figure>
			</div>
			<div class="single-row"><hr /><h4 id="further-more">Further more…</h4><hr /></div>
			<div class="row">
				<figure class="auto col-sm-6 col-xs-12">
					<img src="{% static 'images/premium-promotional/data.png' %}" />
					<figcaption>
						<h4>We trust our data</h4>
						<p>
							Our statistics are backed by millions of games per week across all ranks and game modes.<br />
							That way we can update our statistics multiple times a day.
						</p>
					</figcaption>
				</figure>
				<figure class="auto col-sm-6 col-xs-12">
					<img src="{% static 'images/hearthsim_logo.png' %}" class="bordered-red logo" />
					<figcaption>
						<h4>Support HearthSim</h4>
						<p>
							Your subscription directly supports HearthSim. We're the team behind Hearthstone Deck Tracker,
							HSReplay.net and <a href="https://github.com/HearthSim#org-repositories" target="_blank">many more Hearthstone tools</a>.
						</p>
					</figcaption>
				</figure>
				<div class="clearfix"></div>
				<figure class="auto col-sm-6 col-xs-12">
					{% if premium %}<a href="{% setting 'HSREPLAY_DISCORD_URL' %}">{% endif %}
					<img src="{% static 'images/premium-promotional/discord_role.png' %}" class="bordered" />
					{% if premium %}</a>{% endif %}
					<figcaption>
						<h4>Show off in Discord</h4>
						<p>
							Show everyone how awesome you are with a special role on our <a href="{% setting 'HSREPLAY_DISCORD_URL' %}">Community Discord server</a>!
						</p>
						{% if premium %}
						<p>
							Visit the <a href="{% url 'socialaccount_connections' %}">account settings</a> to connect to Discord.
						</p>
						{% else %}
						<p>
							You'll be able to connect your Discord account after you subscribe.
						</p>
						{% endif %}
					</figcaption>
				</figure>
			</div>
		</div>
	</section>

	{% if not premium and billing.enabled and not billing.read_only and not has_subscription_past_due %}
	<section id="go" class="promo">
		<div class="container">
			{% if user.is_authenticated %}
				<h3 class="text-center">{{ random_quote }}</h3>
				<div class="form-group">
				{% include "premium/checkout_form.html" with id="premium-detail-checkout" support_stripe_elements="1" %}
				<script type="text/javascript">
					window.hsreplaynet_load_hscheckout(
						document.getElementById("premium-detail-checkout"),
						document.getElementById("premium-plan-data"),
					);
				</script>
			{% else %}
				<h3 class="text-center">Log in to subscribe:</h3>
				<div class="text-center" style="margin: 25px 0 10px 0">
					{% include "login_button.html" with next="/premium#go" %}
				</div>
			{% endif %}
		</div>
	</section>
	{% endif %}
</article>

{% endblock %}
