{% load static from static %}
{% load provider_login_url from socialaccount %}
{% load feature from features %}
{% load render_bundle from webpack_loader %}

{% feature "billing" as billing %}
{% if billing %}
{% if not premium %}
<div id="premium-modal"{% if show_premium_modal %} data-load-checkout="1"{% else %} style="display: none;"{% endif %}>
	<div class="inner">
		<header>
			<span class="pull-right">
				<a href="#" id="premium-modal-close" style="display: none;">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</a>
			</span>
			<h3>HearthSim <span class="text-premium">Premium</span></h3>
		</header>

		<main>
			<p>
				HearthSim Premium enables loads of cool new features and filters on the site.
				You get to improve your gameplay and support the continued development of HSReplay.net and
				Hearthstone Deck Tracker at the same time!
				{% if user.is_authenticated %}
					<a href="{% url 'premium' %}" id="premium-modal-learn-more" target="_blank">Learn more…</a>
				{% endif %}
			</p>

			<div class="thumbnails">
				<img src="{% static 'images/premium-promotional/mycards.png' %}" class="bordered" alt="My Cards" />
				<img src="{% static 'images/premium-promotional/filters.png' %}" class="bordered" alt="Rank Range & Time Frame" />
				<img src="{% static 'images/premium-promotional/charts.png' %}" class="bordered" alt="Winrate by turn" />
				<img src="{% static 'images/premium-promotional/classes.png' %}" class="bordered" alt="Opponent class selector" />
			</div>

			{% if user.is_authenticated %}
				{% if billing.read_only %}
					<p class="text-center">
						<span class="btn promo-button-outline hero-button disabled">Not available</span>
					</p>
				{% elif has_subscription_past_due %}
					<p class="text-center">
						<span class="btn promo-button-outline hero-button disabled">Subscription suspended</span>
					</p>
					<p class="text-center">
						Your subscription was suspended due to an open payment.<br />
						<a href="{% url 'billing_methods' %}">Please visit the billing settings</a>.
					</p>
				{% else %}
					{% include "premium/checkout_form.html" with id="modal-checkout" %}
				{% endif %}
			{% else %}
				<h4 class="text-center">Log in to continue:</h4>
				<div class="text-center">
					{% include "login_button.html" with next=request.path|urlencode|add:"?premium-modal" %}
					<a href="{% url 'premium' %}" class="btn promo-button-outline hero-button">Learn more</a>
				</div>
				<p class="help-block text-center">
					HSReplay.net does not gain access to your Blizzard email address or password.
				</p>
			{% endif %}
		</main>
	</div>
</div>
{% endif %}
{% endif %}
