hsreplaynet/local_settings.py
node_modules/
build/
__pycache__/
.vagrant/
.tox/

hsreplaynet/static/fonts/
hsreplaynet/static/bundles/
hsreplaynet/static/scripts/src/hearthstone.d.ts
hsreplaynet/static/styles/main.css*
hsreplaynet/static/vendor/

tests/logdata/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.cache/
