{% extends "account/base.html" %}
{% load setting from web_extras %}

{% block content %}
<div class="content authentication-error">
	<section>
		<h1>Authentication error</h1>

		<p class="alert alert-danger">
			We could not authenticate you with {{ auth_error.provider|title }}.<br/>
			If this persists, <a href="mailto:{% setting 'DEFAULT_FROM_EMAIL' %}">contact us</a>.
		</p>
	</section>
	{% if debug %}
	<section class="alert">
		<h4>Debug information</h4>
		<dl class="dl-horizontal">
			<dt>Provider</dt>
			<dd>{{ auth_error.provider }}</dd>
			<dt>Error code</dt>
			<dd>{{ auth_error.code }}</dd>
			<dt>Exception</dt>
			<dd>{{ auth_error.exception }}</dd>
		</dl>
	</section>
	{% endif %}
	<section>
		<p><a href="/">Back to the office.</a></p>
	</section>
</div>
{% endblock %}
