{% load static %}
{% load web_extras %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ replay.pretty_name_spoilerfree }}</title>
	<link rel="stylesheet" type="text/css" href="{% joust_static 'joust.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/belwefs_extrabold_macroman/stylesheet.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/franklingothicfs_mediumcondensed_macroman/stylesheet.css' %}"/>
	<style type="text/css">
		html, body, #joust-container {
			margin: 0;
			padding: 0;
			height: 100%;
			width: 100%;
		}
		{% include "games/svg-paths-shim.css" with svg="/static/svg-paths.svg" %}
	</style>
	{% render_bundle "vendor" %}
</head>
<body>
	<div id="joust-container" data-replayurl="{{ replay.replay_xml.url }}"></div>
	<script type="text/javascript" src="{% static 'vendor/jquery.min.js' %}"></script>
	{% render_bundle "vendor" %}
	<script src="{% joust_static 'joust.js' %}"></script>
	{% render_bundle "replay_embed" %}
</body>
</html>
