{% extends "base.html" %}
{% load static %}
{% load web_extras %}
{% load render_bundle from webpack_loader %}
{% load humanize %}

{% block stylesheets %}
	{{ block.super }}
	{% include "games/stylesheets.html" %}
{% endblock %}

{% block error_reporting %}
	{% comment %}Disable error reporting since it conflicts with Joust's Sentry{% endcomment %}
{% endblock %}

{% block meta %}
{% with replay.generate_description as description %}
	{{ block.super }}
	<meta property="og:title" content="{{ title }}" />
	<meta property="og:description" content="{{ description }}" />
	<meta property="og:url" content="{{ canonical_url }}" />
	<meta property="og:image" content="{% static_absolute 'images/hsreplay-thumbnail.png' %}" />
	<meta property="og:image:width" content="400" />
	<meta property="og:image:height" content="400" />
	<link rel="canonical" href="{{ canonical_url }}" />
	<meta name="date" content="{{ replay.global_game.match_start|date:"c" }}">
	<meta name="description" content="{{ description }}" />
	{% if twitter_card == "player" %}
		<meta name="twitter:card" content="player" />
		<meta name="twitter:player" content="{% url 'games_replay_embed' replay.shortid %}" />
		<meta name="twitter:player:width" content="640" />
		<meta name="twitter:player:height" content="360" />
		<meta name="twitter:player:image" content="{% static_absolute 'images/joust-thumbnail.png' %}" />
	{% elif twitter_card == "summary" %}
		<meta name="twitter:card" content="summary" />
	{% endif %}
	<meta name="twitter:title" content="{{ title }}" />
{% endwith %}
{% endblock %}

{% block title %}{{ title }}{% endblock title %}

{% block fullcontent %}
<div class="flex-container" id="replay-container">
	{% with replay.global_game as gg %}
	<aside id="replay-infobox" class="infobox" data-shortid="{{ replay.shortid }}">
		<h1>{{ gg.format_friendly_name|default:"Ranked" }}</h1>
		<div id="replay-toggle-container"></div>

		<h2>Players</h2>
		<div id="infobox-players-container" game-id="{{ replay.shortid }}" player-name="{{ replay.friendly_player.name }}"
			 opponent-name="{{ replay.opposing_player.name }}" build="{{ replay.global_game.build }}">
		</div>
		<h2>Game</h2>
		<ul id="infobox-game">
			<li>Played <span class="infobox-value"> {{ gg.match_start|naturaltime }} </span></li>
			{% if replay.build %}
				<li>Build <span class="infobox-value"> {{ replay.build }} </span></li>
			{% endif %}
			{% if gg.ladder_season %}
				<li>Season <span class="infobox-value"> {{ gg.ladder_season }} </span></li>
			{% endif %}
			<li>Turns <span class="infobox-value"> {{ gg.num_own_turns }} </span></li>
			{% if replay.spectator_mode %}
				<li>Spectator mode <span class="infobox-value">POV: {{ replay.friendly_player.name }}</span></li>
			{% endif %}
		</ul>

		{% comment %}
			<h2>Related</h2>
			<ul id="infobox-related">
				<li class="related-empty">No similar games found</li>
				<!-- This is too slow, it's killing the server. Figure out how to optimize it before uncommenting. -->
				{% for recommendation in replay.related_replays %}
					<li><a href="{{ recommendation.replay.get_absolute_url }}">{{ recommendation.replay }}</a></li>
				{% empty %}
					<li class="related-empty">No similar games found!</li>
				{% endfor %}
			</ul>
			{% endcomment %}

		<h2>Share{% if user.is_staff %}<strong class="pull-right">{{ replay.views }} views</strong>{% endif %}</h2>
		<div id="share-game-dialog" data-url="{{ canonical_url }}"></div>

		<h2>Controls</h2>
		<ul class="infobox-settings hidden-sm">
			{% if user == replay.user %}
				<li class="clearfix">Visibility <span class="infobox-value" id="replay-visibility" data-selected="{{ replay.visibility.value }}"></span></li>
				<li class="clearfix">Delete <span class="infobox-value" id="replay-delete" data-redirect="{% url 'my_replays' %}"></span></li>
			{% endif %}
			{% if user.is_staff %}
				<li>View in Admin<span class="infobox-value"><a href="{% url 'admin:games_gamereplay_change' replay.id %}">Link</a></span></li>
				<li>Player Deck Details<span class="infobox-value"><a href="https://dev.hsreplay.net/decks/{{ replay.friendly_deck.id }}">Link</a></span></li>
			{% endif %}
			<!-- TODO: move this to Joust itself, in the extra menu -->
			<li><a href="{{ replay.replay_xml.url }}" download="{{ replay.shortid }}.hsreplay.xml">Download XML</a></li>
		</ul>
	</aside>
	{% endwith %}
	<main>
		{% include "snippets/noscript.html" %}
		<section id="joust-container" class="hidden-xs"
			data-replayurl="{{ replay.replay_xml.url }}"
			{% if user.is_authenticated %}data-locale="{{ user.locale }}"{% endif %}
			{% if user.joust_autoplay is False %}data-autoplay="false"{% endif %}
			{% for player in players %}
				data-player{{ forloop.counter }}="{{ player }}"
			{% endfor %}
		></section>
		<section id="replay-comments" class="clearfix">
			{% include "comments/comment_section.html" with object=replay %}
		</section>
	</main>
</div>

<script src="{% joust_static 'joust.js' %}"></script>
<script>if(typeof Joust === "undefined") var Joust = null;</script>
{% render_bundle "replay_detail" %}

{% endblock %}
