{% extends "skeleton.html" %}
{% load static %}
{% load socialaccount %}
{% load web_extras %}
{% load feature from features %}
{% load render_bundle from webpack_loader %}

{% block stylesheets %}
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">
	<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'styles/main.css' %}" rel="stylesheet"/>
{% endblock stylesheets %}

{% block opengraph %}
	<meta property="og:type" content="website" />
	<meta property="og:site_name" content="HSReplay.net" />
	<meta property="og:locale" content="en_US" />
	{% setting 'HSREPLAY_TWITTER_HANDLE' as twitter_handle %}
	{% if twitter_handle %}
		<meta name="twitter:site" content="@{{ twitter_handle }}" />
	{% endif %}
	{% setting 'HSREPLAY_FACEBOOK_APP_ID' as facebook_app_id %}
	{% if facebook_app_id %}
		<meta property="fb:app_id" content="{{ facebook_app_id }}" />
	{% endif %}
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{% static 'vendor/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/react.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/react-dom.min.js' %}"></script>
{% block error_reporting %}
	{% setting "RAVEN_CONFIG_FRONTEND" as raven_config_frontend %}
	{% if raven_config_frontend %}
		<script src="{% static 'vendor/raven.min.js' %}"></script>
		<script>
			var raven = Raven.config("{{ raven_config_frontend.dsn }}", {
				release: "{{ raven_config_frontend.release }}",
				environment: "{% if debug %}development{% else %}production{% endif %}",
			}).install();
			{% if user.is_authenticated %}
			raven.setUserContext({
				username: "{{ user.username }}",
			});
			{% endif %}
		</script>
	{% endif %}
{% endblock %}
{% render_bundle "polyfills" %}
{% endblock %}

{% block body %}

	{% block premium_modal %}
		{% include "premium/premium_modal.html" %}
	{% endblock %}

	<header>
	{% block header %}
		<div class="navbar navbar-hsreplay">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">
					<img src="{% static 'images/logo.png' %}" id="navbar-logo" alt="HSReplay"/>
					<h1>HSReplay.net</h1>
				</a>
			</div>

			<div class="container-fluid">
				<nav class="collapse navbar-collapse" id="navbar-collapse">
					{% with request.resolver_match.url_name as urlname %}
					{% block navlinks %}
					<ul class="nav navbar-nav">
						{% feature "carddb" as ft_carddb %}{% if ft_carddb.enabled %}
							<li{% nav_active 'trending_decks' %}><a href="{% url 'trending_decks' %}"><span class="glyphicon glyphicon-fire"></span>Trending</a></li>
							<li{% nav_active 'deck_list' %}><a href="{% url 'deck_list' %}"><span class="glyphicon glyphicon-th-list"></span>Decks</a></li>
							<li{% nav_active 'card_stats' %}><a href="{% url 'card_stats' %}"><span class="glyphicon glyphicon-stats"></span>Cards</a></li>
							<li{% nav_active 'card_gallery' %}><a href="{% url 'card_gallery' %}"><span class="glyphicon glyphicon-th-large"></span>Gallery</a></li>
						{% endif %}

						{% feature "archetypes" as ft_archetypes %}{% if ft_archetypes.enabled %}
							<li{% nav_active 'deck_archetypes' %}><a href="{% url 'deck_archetypes' %}">Archetypes</a></li>
						{% endif %}

						{% feature "scenarios" as ft_scenarios %}{% if ft_scenarios.enabled %}
							<li{% nav_active 'scenario_list_view' %}><a href="{% url 'scenario_list_view' %}">Scenarios</a></li>
						{% endif %}

						<li{% nav_active 'articles_article_list' %}><a href="{% url 'articles_article_list' %}"><span class="glyphicon glyphicons-article"></span>Articles</a></li>

						{% feature "billing" as ft_billing %}
						{% if ft_billing.enabled %}
							<li{% nav_active 'premium' css='active active-premium' %}><a href="{% url 'premium' %}" class="text-premium">Premium</a></li>
						{% endif %}
					</ul>
					{% endblock %}

					<ul class="nav navbar-nav navbar-right">
						{% if user.is_authenticated %}
							{% if user.is_staff %}
								<li><a href="{% url 'admin:index' %}">Admin</a></li>
							{% endif %}
							{% feature "freemode_toggle" as ft_freemode %}{% if ft_freemode.enabled %}
								<li><a href="" id="free-mode">Freemode</a></li>
								<script type="text/javascript">
									const freeMode = document.cookie.indexOf("free-mode") !== -1;
									if (freeMode) {
										$("#free-mode").css("color", "red")
									}
									document.getElementById("free-mode").onclick = function() {
										if (freeMode) {
											document.cookie = "free-mode=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/";
										}
										else {
											document.cookie = "free-mode=true; expires=Thu, 01 Jan 2018 00:00:00 UTC; path=/";
										}
									};
								</script>
							{% endif %}

							{% feature "carddb" as ft_carddb %}{% if ft_carddb.enabled %}
								<li{% nav_active 'profile_highlights' %}><a href="{% url 'profile_highlights' %}"><span class="glyphicon glyphicon-star"></span>My Highlights</a></li>
								<li{% nav_active 'my_card_stats' %}><a href="{% url 'my_card_stats' %}"><span class="glyphicon glyphicon-stats"></span>My Cards</a></li>
							{% endif %}
							<li{% nav_active 'my_replays' %}><a href="{% url 'my_replays' %}"><span class="glyphicon glyphicon-play"></span>My Replays</a></li>

							<li{% nav_active 'account_edit' css="active" %}>
								<a href="{% url 'account_edit' %}">
									<span class="custom-icon" style="background-image: url('{% static 'images/bnet.png' %}')"></span>
									{{ user.username }}
								</a>
							</li>
						{% else %}
							<li class="button-container">
								<a href="{% provider_login_url "battlenet" %}" class="promo-button">
									Log in with Battle.net
								</a>
							</li>
						{% endif %}
					</ul>
					{% endwith %}
				</nav>
			</div>
		</div>
	{% endblock %}
	</header>

	{% if messages %}
		{% spaceless %}
		<div id="site-messages">
			<ul class="inner">
			{% for message in messages %}
				<li>{{ message }}</li>
			{% endfor %}
			</ul>
		</div>
		<script type="text/javascript">$("#site-messages").delay(3200).fadeOut("slow");</script>
		{% endspaceless %}
	{% endif %}

	{% block fullcontent %}
	<div id="content">
	{% block content %}{% endblock %}
	</div>
	{% endblock fullcontent %}

	<footer class="site-footer">
		{% block footer %}
			{% include "footer.html" %}
		{% endblock %}
	</footer>

{% endblock %}
