{% extends "skeleton.html" %}
{% load static %}
{% load socialaccount %}
{% load web_extras %}
{% load feature from features %}

{% block stylesheets %}
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">
	<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'styles/main.css' %}" rel="stylesheet"/>
{% endblock stylesheets %}

{% block meta %}
	{% render_deck_list_meta_for_digest_param %}
{% endblock %}

{% block opengraph %}
	<meta property="og:type" content="website" />
	<meta property="og:site_name" content="HSReplay.net" />
	<meta property="og:locale" content="en_US" />
	{% setting 'HSREPLAY_TWITTER_HANDLE' as twitter_handle %}
	{% if twitter_handle %}
		<meta name="twitter:site" content="@{{ twitter_handle }}" />
	{% endif %}
	{% setting 'HSREPLAY_FACEBOOK_APP_ID' as facebook_app_id %}
	{% if facebook_app_id %}
		<meta property="fb:app_id" content="{{ facebook_app_id }}" />
	{% endif %}
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{% static 'vendor/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/react.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/react-dom.min.js' %}"></script>
{% block error_reporting %}
	{% setting "RAVEN_CONFIG_FRONTEND" as raven_config_frontend %}
	{% if raven_config_frontend %}
		<script src="{% static 'vendor/raven.min.js' %}"></script>
		<script>
			var raven = Raven.config("{{ raven_config_frontend.dsn }}", {
				release: "{{ raven_config_frontend.release }}",
				environment: "{% if debug %}development{% else %}production{% endif %}",
			}).install();
			{% if user.is_authenticated %}
			raven.setUserContext({
				username: "{{ user.username }}",
			});
			{% endif %}
		</script>
	{% endif %}
{% endblock %}
{% endblock %}

{% block body %}

	{% block premium_modal %}
		{% feature "billing" as billing %}
		{% if billing %}
		<div id="premium-modal" style="display: none;">
			<div class="inner">
				<h3>Premium-only content</h3>

				<p>
					Subscribe to <strong>HearthSim Premium</strong> to unlock this and
					<a href="{% url 'premium' %}" target="_blank">many more features</a>!
				</p>

				{% if user.is_authenticated %}
					{% if user.default_payment_method %}
						<p>
							Subscribe with {{ user.default_payment_method }}
						</p>
					{% else %}
						<form method="POST" action="{% url 'premium' %}">
							{% csrf_token %}
							<p>
								<label><input type="radio" name="plan" value="hearthsim-pro-monthly"/> $5/Month</label>
							</p>
							<p>
								<label><input type="radio" name="plan" value="hearthsim-pro-semiannual" checked/> $25 every 6 months</label>
							</p>
							<button
								disabled id="premium-modal-checkout-button" class="btn"
								data-key="{% setting 'STRIPE_PUBLIC_KEY' %}"
								data-image="{% static 'images/hsreplay-thumbnail.png' %}"
								data-name="HearthSim Pro"
								{% if user.email %}data-email="{{ user.email }}"{% endif %}
								data-locale="auto"
								data-description="Sign up for HearthSim Pro"
								data-label="Sign me up!"
								data-panel-label="Subscribe"
							>Subscribe</button>
						</form>
					{% endif %}
				{% else %}
					<p>
						Please log in with your Battle.net account first.
						<em>HSReplay.net does not get your Battle.net password.</em>
					</p>
					<p>
						<a href="{% provider_login_url "battlenet" %}?next={{ request.path }}%3Fpremium" class="promo-button">
							Log in with Battle.net
						</a>
					</p>
				{% endif %}
			</div>
		</div>
		{% endif %}
	{% endblock %}

	<header>
	{% block header %}
		<div class="navbar navbar-hsreplay">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">
					<img src="{% static 'images/logo.png' %}" id="navbar-logo" alt="HSReplay"/>
					<h1>HSReplay.net</h1>
				</a>
			</div>

			<div class="container-fluid">
				<nav class="collapse navbar-collapse" id="navbar-collapse">
					{% block navlinks %}
					<ul class="nav navbar-nav">
						{% if user.is_authenticated %}
							<li><a href="{% url 'my_replays' %}">My Replays</a></li>
						{% endif %}

						{% feature "topcards" as ft_topcards %}{% if ft_topcards.enabled %}
							<li><a href="{% url 'popular_cards' %}">Top Popular Cards</a></li>
						{% endif %}

						{% feature "carddb" as ft_carddb %}{% if ft_carddb.enabled %}
							<li><a href="{% url 'card_discover' %}">Card Database</a></li>
							<li><a href="{% url 'deck_discover' %}">Deck Database</a></li>
						{% endif %}

						{% feature "archetypes" as ft_archetypes %}{% if ft_archetypes.enabled %}
							<li><a href="{% url 'deck_archetypes' %}">Archetypes</a></li>
						{% endif %}

						{% feature "scenarios" as ft_scenarios %}{% if ft_scenarios.enabled %}
							<li><a href="{% url 'scenario_list_view' %}">Scenarios</a></li>
						{% endif %}

						{% if user.is_authenticated and user.is_staff %}
							<li><a href="{% url 'admin:index' %}">Admin</a></li>
						{% endif %}

						{% setting 'HSREPLAY_TWITTER_HANDLE' as twitter_handle %}
						{% if twitter_handle %}
							<li><a href="https://twitter.com/{{ twitter_handle }}" target="_blank" rel="me">@{{ twitter_handle }}</a></li>
						{% endif %}
					</ul>
					{% endblock %}

					<ul class="nav navbar-nav navbar-right">
						{% if user.is_authenticated %}
							<li>
								<a href="{% url 'account_edit' %}">
									<img src="{% static 'images/bnet.png' %}"/>
									<span>{{ user.username }}</span>
								</a>
							</li>
						{% else %}
							<li class="button-container">
								<a href="{% provider_login_url "battlenet" %}" class="promo-button">
									Log in with Battle.net
								</a>
							</li>
						{% endif %}
					</ul>
				</nav>
			</div>
		</div>
	{% endblock %}
	</header>

	{% if messages %}
		{% spaceless %}
		<div id="site-messages">
			<ul class="inner">
			{% for message in messages %}
				<li>{{ message }}</li>
			{% endfor %}
			</ul>
		</div>
		<script type="text/javascript">$("#site-messages").delay(3200).fadeOut("slow");</script>
		{% endspaceless %}
	{% endif %}

	{% block fullcontent %}
	<div id="content">
	{% block content %}{% endblock %}
	</div>
	{% endblock fullcontent %}

	<footer class="site-footer">
		{% block footer %}
			{% include "footer.html" %}
		{% endblock %}
	</footer>

{% endblock %}
