{% load web_extras %}
<p class="visible-xs text-center prominent">
	<a href="#">&uparrow; Back to top</a>
</p>
<p>
	<a href="https://hearthsim.info">HearthSim</a> &copy; {% now 'Y' %} &middot;
	<a href="{% url 'privacy_policy' %}">Privacy Policy</a> &middot;
	<a href="{% url 'terms_of_service' %}">Terms of Service</a> &middot;
	<a href="{% url 'contact_us' %}">Contact</a>
	{% if user.is_staff or debug %}
		{% setting "RAVEN_CONFIG" as raven_config %}
		&middot;
		{% if raven_config.release %}
			<a href="https://github.com/HearthSim/HSReplay.net/commits/{{ raven_config.release }}">
				@<abbr title="{{ raven_config.release }}">{{ raven_config.release|slice:":12" }}</abbr>
			</a>
		{% else %}
			@unknown revision
		{% endif %}
	{% endif %}
</p>
<p>
	This website is not affiliated with Blizzard Entertainment.
</p>
{% if debug %}
<p>
	Running in DEBUG mode.
</p>
{% endif %}

<ul class="horizontal-icons">
	{% setting 'HSREPLAY_TWITTER_HANDLE' as twitter_handle %}
	<li><a href="https://twitter.com/{{ twitter_handle }}" target="_blank" rel="me" class="social-button">
		<span class="label">Follow us on Twitter</span>
		{% include "snippets/twitter_button.svg" with fill="#9e9e9e" width=28 height=28 selector=".social-button" %}
	</a></li>

	{% setting 'HSREPLAY_DISCORD_URL' as discord_url %}
	<li><a href="{{ discord_url }}" target="_blank" class="social-button">
		<span class="label">Join our Discord server</span>
		{% include "snippets/discord_button.svg" with fill="#9e9e9e" width=28 height=28 selector=".social-button" %}
	</a></li>
</ul>
