{% extends "base.html" %}
{% load static %}
{% load socialaccount %}
{% load web_extras %}
{% load feature from features %}
{% load render_bundle from webpack_loader %}

{# Disable error reporting on front page (e.g. don't care about embedded Joust errors) #}
{% block error_reporting %}
{% endblock %}

{% block javascript %}
{{ block.super }}
{% if featured_replay %}
	<script type="text/javascript">
		{% include "joust_include.js" with featured_replay=featured_replay %}
	</script>
{% endif %}
{% endblock %}

{% block header %}
{% include "navigation.html" with hide_login=True %}
{% endblock %}

{% block content %}
<div id="joust-lightbox">
	<div id="joust-promo-container"></div>
</div>
<div id="home">
	<header id="promo" class="promo">
		<div class="container">
			<img src="{% static 'images/logo.png' %}" id="logo" alt="HSReplay"/>
			<h1>HSReplay.net</h1>
			<p class="tagline">Share your Hearthstone games!</p>
			{% if user.is_authenticated %}
				<p>
					<a href="{% url 'my_replays' %}" class="promo-button">My Replays</a>
					<a href="{% url 'account_edit' %}" class="promo-button-outline">
						<span class="glyphicon glyphicon-cog"></span>
						<span>{{ user.username }}</span>
					</a>
				</p>
				<p>
					<a href="{% url 'downloads' %}" class="promo-link">Download Hearthstone Deck Tracker</a>
				</p>
			{% else %}
				{% include 'login_button.html' %}
				<p class="promo-help">
					You don't need a new account&mdash;we use the secure <abbr title="We'll send you to the offical Blizzard site where you can securely log in.&#10;HSReplay.net does not gain access to your Blizzard email address or password.">Blizzard login</abbr>.
				</p>
			{% endif %}
		</div>
	</header>

	<article id="statistics">
		<div class="container">
			<header>
				<h2>Find the best decks for your favorite class.</h2>
				<h4>
					<strong>Winrate</strong>
					by class over the last
					<strong>48 hours</strong>
					for:
				</h4>
			</header>
			<ul class="nav nav-tabs">
				<li class="active">
					<a data-toggle="tab" href="#ranked-standard">
						<img class="mode-icon" src="{% static 'images/standard_icon.svg' %}"/>
						Ranked Standard
					</a>
				</li>
				<li>
					<a data-toggle="tab" href="#ranked-wild">
						<img class="mode-icon" src="{% static 'images/wild_icon.svg' %}"/>
						Ranked Wild
					</a>
				</li>
				<li>
					<a data-toggle="tab" href="#arena">
						<img class="mode-icon" src="{% static 'images/arena_icon.svg' %}"/>
						Arena
					</a>
				</li>
			</ul>
			<div class="tab-content">
				<div id="ranked-standard" class="tab-pane active">
				<div class="class-boxes tab-content">
					{% for player_class in player_classes %}
						<a class="box class-box" href="{{ player_class.standard_url }}" style="background-image:url({{ player_class.image_url }})" data-winrate="{{ player_class.standard_winrate }}">
							<div class="box-title">
								<span class="player-class {{ player_class.name|lower }}">{{ player_class.name }}</span>

							</div>
							<div class="box-content" data-winrate="{{ player_class.standard_winrate }}">
								<span class="class-box-winrate" data-winrate="{{ player_class.standard_winrate }}">
									{{ player_class.standard_winrate|floatformat:2 }}%
								</span>
								<span class="class-box-footer">View top {{ player_class.name }} decks</span>
							</div>
						</a>
					{% endfor %}
				</div>
				</div>
				<div id="ranked-wild" class="tab-pane">
				<div class="class-boxes">
					{% for player_class in player_classes %}
						<a class="box class-box" href="{{ player_class.wild_url }}" style="background-image:url({{ player_class.image_url }})" data-winrate="{{ player_class.wild_winrate }}">
							<div class="box-title">
								<span class="player-class {{ player_class.name|lower }}">{{ player_class.name }}</span>

							</div>
							<div class="box-content" data-winrate="{{ player_class.wild_winrate }}">
								<span class="class-box-winrate" data-winrate="{{ player_class.wild_winrate }}">
									{{ player_class.wild_winrate|floatformat:2 }}%
								</span>
								<span class="class-box-footer">View top {{ player_class.name }} decks</span>
							</div>
						</a>
					{% endfor %}
				</div>
				</div>
				<div id="arena" class="tab-pane">
				<div class="class-boxes">
					{% for player_class in player_classes %}
						<a class="box class-box" href="{{ player_class.arena_url }}" style="background-image:url({{ player_class.image_url }})" data-winrate="{{ player_class.arena_winrate }}">
							<div class="box-title">
								<span class="player-class {{ player_class.name|lower }}">{{ player_class.name }}</span>

							</div>
							<div class="box-content" data-winrate="{{ player_class.arena_winrate }}">
								<span class="class-box-winrate" data-winrate="{{ player_class.arena_winrate }}">
									{{ player_class.arena_winrate|floatformat:2 }}%
								</span>
								<span class="class-box-footer">View top {{ player_class.name }} cards</span>
							</div>
						</a>
					{% endfor %}
				</div>
			</div>
		</div>
		<div id="live-data">
			<div id="live-data-placeholder"></div>
		</div>
	</article>

	<article id="demo">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-xs-12 col-xs-offset-0">
					<header class="text-center">
						<h2>Share your Hearthstone games!</h2>
						<h4>Watch and analyze replays right in your browser.</h4>
					</header>
					<a href="{% if featured_replay %}{% url 'games_replay_view' id=featured_replay.shortid %}{% else %}{% static 'images/joust-screenshot.jpg' %}{% endif %}">
						<img src="{% static 'images/joust-thumbnail.jpg' %}" id="feat-joust-screenshot" alt="Joust: View your HSReplays"/>
					</a>
				</div>
			</div>
		</div>
	</article>

	<article id="how-it-works">
		<div class="container">
			<h2 class="text-center">Start recording your own replays</h2>
			<ul class="row home-steps">
				<li class="col-sm-6">
					<h3>Step 1:</h3>
					<p><a href="{% url 'downloads' %}" class="promo-button-outline text-uppercase">Download Deck Tracker</a></p>
					<p>Hearthstone Deck Tracker runs while you're in Hearthstone.<br />
					It will automatically upload your matches as you play them.</p>
				</li>
				<li class="col-sm-6">
					<h3>Step 2:</h3>
					<p><a href="https://battle.net/account/download/?show=hearthstone&style=hearthstone" class="promo-button-outline text-uppercase">Play Hearthstone</a></p>
					<p>Your full match history will always stay private.<br />
					Share individual games with your friends and show off your craziest plays!</p>
				</li>
			</ul>
		</div>
	</article>

	<article id="faq">
		<div class="container">
			<h2>Frequently Asked Questions</h2>
			<div class="row">
				<div class="col-lg-6 col-xs-12">
					<dl>
						<dt>Is signing in with Blizzard safe?</dt>
						<dd>
							We use the <a href="https://dev.battle.net/docs/read/log_in_with_blizzard#main" target="_blank">official Blizzard OAuth2 API</a>
							to let you sign in with your Blizzard account rather than create a new one.
							HSReplay.net never gains access to your email, password or anything other than your Battletag; it's completely secure!
						</dd>
						<dt>Do I need to sign in to upload replays?</dt>
						<dd>
							Not at all! Just <a href="{% url 'downloads' %}">download Hearthstone Deck Tracker</a> and use it to upload and share your replays.
							You may claim them later by clicking "Claim Account" in your deck tracker's settings.
						</dd>
						<dt>How do you know which cards opponents are holding in their hand?</dt>
						<dd>
							Once a card is played from hand we can deduce when that card was drawn, discovered or created in any other way.
						</dd>
					</dl>
				</div>
				<div class="col-lg-6 col-xs-12">
					{% setting 'HSREPLAY_DISCORD_URL' as discord_url %}
					{% setting 'HSREPLAY_TWITTER_HANDLE' as twitter_handle %}
					{% setting 'HSREPLAY_FACEBOOK_URL' as facebook_url %}
					<dl>
						<dt>How can I support what you're doing?</dt>
						<dd>
							You can support HearthSim, the team behind Hearthstone Deck Tracker, HSReplay.net and other
							tools by subscribing to <a href="{% url 'premium' %}" class="text-premium"><strong>HearthSim Premium</strong></a>.
						</dd>
						<dt>Where can I get the latest news about HSReplay.net?</dt>
						<dd>
							You can find us on <a href="{{ discord_url}}">Discord</a>,
							follow us <a href="https://twitter.com/{{ twitter_handle }}">@{{ twitter_handle }}</a>
							and like our <a href="{{ facebook_url }}">Facebook page</a>.
						</dd>
						<dt>I need help with the site, my replays, my subscription&hellip;</dt>
						<dd>
							Shoot us an <a href="mailto:contact@hsreplay.net">email</a>, or
							message us on <a href="https://twitter.com/{{ twitter_handle }}">Twitter</a> or
							<a href="{{ facebook_url }}">Facebook</a>.
						</dd>
						<dt>I think I found a bug!</dt>
						<dd>
							Simply <a href="{% url 'contact_us' %}">contact us</a> or <a href="https://github.com/HearthSim/HSReplay.net/issues">open an issue on GitHub</a>.
						</dd>
					</dl>
				</div>
			</div>
		</div>
	</article>

	<article class="text-center promo">
		{% if user.is_authenticated %}
			<h2>You're all set!</h2>
			<p class="front-pad"><a href="{% url 'my_replays' %}" class="promo-button hero-button">View your replays</a></p>
		{% else %}
			<h2>Let's get started:</h2>
			<p class="front-pad-top">{% include 'login_button.html' %}</p>
			<p class="help-block">
				We'll send you to the offical Blizzard site where you can securely log in.<br />
				Blizzard will redirect you back here once you're done.
			</p>
		{% endif %}
	</article>
</div>
{% render_bundle "home" %}

{% endblock %}
