{% extends "base.html" %}
{% load static %}
{% load socialaccount %}
{% load web_extras %}
{% load feature from features %}

{# Disable error reporting on front page (e.g. don't care about embedded Joust errors) #}
{% block error_reporting %}
{% endblock %}

{% block javascript %}
{{ block.super }}
{% get_featured_game as featured_game %}
{% if featured_game %}
	<script type="text/javascript">
		{% include "joust_include.js" with featured_game=featured_game %}
	</script>
{% endif %}
{% endblock %}

{% block header %}
{% include "navigation.html" with hide_login=True %}
{% endblock %}

{% block content %}
<div id="joust-lightbox">
	<div id="joust-promo-container"></div>
</div>
<div id="home" class="apply-promo">
	<header id="promo">
		<div class="container">
			<img src="{% static 'images/logo.png' %}" id="logo" alt="HSReplay"/>
			<h1>HSReplay.net</h1>
			<p class="tagline">Share your Hearthstone games!</p>
			{% if user.is_authenticated %}
				<p>
					<a href="{% url 'my_replays' %}" class="promo-button">My Replays</a>
					<a href="{% url 'account_edit' %}" class="promo-button-outline">
						<img src="{% static 'images/bnet.png' %}"/>
						<span>{{ user.username }}</span>
					</a>
				</p>
				<p>
					<a href="{% url 'downloads' %}" class="promo-link">Download Hearthstone Deck Tracker</a>
				</p>
			{% else %}
				{% include 'login_button.html' %}
				<p class="promo-help">
					You don't need a new account&mdash;we use <img src="{% static 'images/bnet.png' %}"/>
					<abbr title="We'll send you to the offical Battle.net site where you can securely log in.&#10;HSReplay.net does not gain access to your Battle.net email address or password.">Battle.net</abbr>.
				</p>
			{% endif %}
		</div>
	</header>

	<article id="demo">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-xs-12 col-xs-offset-0">
					<header class="text-center">
						<h2>All your replays in one place.</h2>
						<p>
							Try out our super slick Hearthstone replayer:
						</p>
					</header>
					{% setting "FEATURED_GAME_ID" as featured_game %}
					<a href="{% if featured_game %}{% url 'games_replay_view' id=featured_game %}{% else %}{% static 'images/joust-screenshot.jpg' %}{% endif %}">
						<img src="{% static 'images/joust-thumbnail.jpg' %}" id="feat-joust-screenshot" alt="Joust: View your HSReplays"/>
					</a>
				</div>
			</div>
		</div>
	</article>

	<article id="features">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<figure class="front-feature">
						<img src="{% static 'images/home-promotional/feature-history.jpg' %}" alt="Monthly statistics" height="120" width="120"/>
						<figcaption>
							<h2>Track your games</h2>
							<p>A clear game history, filterable by game type, class, opponent and more.</p>
							<p>Follow your climb to legend with wins and losses visible at one glance.</p>
						</figcaption>
						<div class="clearfix"></div>
					</figure>

					<figure class="front-feature">
						<img src="{% static 'images/home-promotional/feature-crazy.png' %}" alt="Match history" height="120" width="120"/>
						<figcaption>
							<h2>Share your craziest moments</h2>
							<p>Never miss another clutch top deck or epic fatigue battle.</p>
							<p>Share replays instantly once you've finished the game!</p>
						</figcaption>
						<div class="clearfix"></div>
					</figure>

					<figure class="front-feature">
						<img src="{% static 'images/home-promotional/feature-crazy.png' %}" alt="Match history" height="120" width="120"/>
						<figcaption>
							<h2>Review your games</h2>
							<p>Enter your opponent's perspective by swapping sides at any time.</p>
						</figcaption>
						<div class="clearfix"></div>
					</figure>
				</div>
				<div class="col-lg-6">
					<figure class="front-feature">
						<img src="{% static 'images/home-promotional/feature-stats.jpg' %}" alt="Monthly statistics" height="120" width="120"/>
						<figcaption>
							<h2>Dive into the meta</h2>
							<p>See what's played</p>
							<p>Import any deck into Hearthstone Deck Tracker with one click.</p>
							<p>
								<a href="{% url 'deck_list' %}" class="btn btn-danger">Decks</a>
								<a href="{% url 'deck_list' %}" class="btn btn-danger">Cards</a>
							</p>
						</figcaption>
						<div class="clearfix"></div>
					</figure>

					<figure class="front-feature">
						<img src="{% static 'images/home-promotional/feature-history.jpg' %}" alt="Monthly statistics" height="120" width="120"/>
						<figcaption>
							<h2>See what's trending</h2>
							<p>

							</p>
						</figcaption>
						<div class="clearfix"></div>
					</figure>

					<figure class="front-feature">
						<img src="{% static 'images/home-promotional/feature-crazy.png' %}" alt="Match history" height="120" width="120"/>
						<figcaption>
							<h2>Personal Statistics</h2>
							<p>Enter your opponent's perspective by swapping sides at any time.</p>
						</figcaption>
						<div class="clearfix"></div>
					</figure>
				</div>
			</div>
		</div>
	</article>

	{% include "home/get-started.html" %}

	{% include "home/faq.html" %}
</div>
{% endblock %}
