{% load socialaccount %}
{% load web_extras %}

{% setting "ENV_VAGRANT" as vagrant %}
<div class="btn-group">
	<a
		href="{% if vagrant %}https://localhost:8443{% endif %}{% provider_login_url 'battlenet' next=next %}"
		class="{{ class|default:"btn promo-button hero-button" }}"
	>
	{{ inscription|default:'Log in with Blizzard' }}
	</a>
	<button
		type="button"
		class="{{ class|default:"btn promo-button hero-button" }} dropdown-toggle"
		data-toggle="dropdown"
		aria-haspopup="true"
		aria-expanded="false"
	>
		<span class="caret"></span>
		<span class="sr-only">Toggle Dropdown</span>
	</button>
	<ul class="dropdown-menu">
		<li class="dropdown-header">Regions</li>
		<li>
			<a href="{% if vagrant %}https://localhost:8443{% endif %}{% provider_login_url 'battlenet' next=next %}">
				Blizzard (US/EU/SEA)&hellip;
			</a>
		</li>
		<li>
			<a href="{% if vagrant %}https://localhost:8443{% endif %}{% provider_login_url 'battlenet' region='cn' next=next %}">
				Blizzard China (CN)&hellip;
			</a>
		</li>
		{% if debug %}
		<li class="dropdown-header">Debug</li>
		<li>
			<a href="{% url 'account_login' %}?with-password">
				Sign in with password&hellip;
			</a>
		</li>
		{% endif %}
	</ul>
</div>
