{% load static %}
{% load socialaccount %}
{% load web_extras %}
{% load feature from features %}

<div class="navbar navbar-hsreplay">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/">
			<img src="{% static 'images/logo.png' %}" id="navbar-logo" alt="HSReplay" height="50" width="43" />
			<h1>HSReplay.net</h1>
		</a>
	</div>

	<div class="container-fluid">
		<nav class="collapse navbar-collapse" id="navbar-collapse">
			{% with request.resolver_match.url_name as urlname %}
				{% block navlinks %}
					<ul class="nav navbar-nav">
						<li{% nav_active 'articles_article_list' %}>
							<a href="{% url 'articles_article_list' %}" id="navbar-link-articles">
								<span class="glyphicon glyphicon-comment"></span>
								<span class="hidden-sm">Articles</span>
							</a>
						</li>

						<li{% nav_active 'trending_decks' %}>
							<a href="{% url 'trending_decks' %}" id="navbar-link-trending">
								<span class="glyphicon glyphicon-fire"></span>
								<span class="hidden-sm">Trending</span>
							</a>
						</li>

						<li{% nav_active 'discover' %} id="navbar-link-discover">
							<a href="{% url 'discover' %}">
								<span class="glyphicon glyphicon-eye-open"></span>
								<span class="hidden-sm">Discover</span>
							</a>
						</li>

						<li{% nav_active 'meta_overview' %} id="navbar-link-meta">
							<a href="{% url 'meta_overview' %}">
								<span class="glyphicon glyphicon-random"></span>
								<span class="hidden-sm">Meta</span>
							</a>
						</li>

						<li{% nav_active 'decks' %}>
							<a href="{% url 'decks' %}" id="navbar-link-decks">
								<span class="glyphicon glyphicon-th-list"></span>
								<span class="hidden-sm">Decks</span>
							</a>
						</li>

						<li{% nav_active 'cards' %}>
							<a href="{% url 'cards' %}" id="navbar-link-cards">
								<span class="glyphicon glyphicon-stats"></span>
								<span class="hidden-sm">Cards</span>
							</a>
						</li>

						<li{% nav_active 'premium' css='active active-premium' %} id="navbar-link-premium">
							<a href="{% url 'premium' %}" class="text-premium">{% if premium %}Refer a Friend{% else %}Premium{% endif %}</a>
						</li>
					</ul>
				{% endblock %}

				<ul class="nav navbar-nav navbar-right">
						{% if user.is_staff %}
							<li><a href="{% url 'admin:index' %}">Admin</a></li>
							<li>
								<a
									href="#" class="dropdown-toggle" data-toggle="dropdown"
									role="button" aria-haspopup="true" aria-expanded="false"
								>
									Devtools
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu" style="width:25em">
									<li><a href="" id="free-mode">Freemode</a></li>
									<li role="separator" class="divider"></li>
									<li class="dropdown-header" id="devtools-features-header">My Features</li>
									<li role="separator" class="divider"></li>
									<li><a href="{% url 'admin:features_feature_changelist' %}">Edit Features</a></li>
								</ul>
							</li>
							<script type="text/javascript">{% include "navbar_devtools.js" %}</script>
						{% endif %}

						{% feature "profiles" as ft_profiles %}{% if ft_profiles.enabled %}
							<li{% nav_active 'profile_highlights' %}>
								<a href="{% url 'profile_highlights' %}" id="navbar-link-my-highlights">
									<span class="glyphicon glyphicon-star"></span>
									<span class="hidden-sm">My Highlights</span>
								</a>
							</li>
						{% endif %}

						<li{% nav_active 'my_decks' css='active active-premium' %}>
							<a href="{% url 'my_decks' %}" class="text-premium" id="navbar-link-my-decks">
								<span class="glyphicon glyphicon-th-list"></span>
								<span class="hidden-sm">My Decks</span>
							</a>
						</li>

						<li{% nav_active 'my_cards' css='active active-premium' %}>
							<a href="{% url 'my_cards' %}" class="text-premium" id="navbar-link-my-cards">
								<span class="glyphicon glyphicon-stats"></span>
								<span class="hidden-sm">My Cards</span>
							</a>
						</li>

						<li{% nav_active 'my_replays' %}>
							<a href="{% url 'my_replays' %}" id="navbar-link-my-replays">
								<span class="glyphicon glyphicon-play"></span>
								<span class="hidden-sm">My Replays</span>
							</a>
						</li>

					{% if user.is_authenticated %}
						{% if premium %}
							<li{% nav_active 'account_edit' css="active active-premium" %}>
								<a href="{% url 'account_edit' %}" class="text-premium" id="you">
						{% else %}
							<li{% nav_active 'account_edit' css="active" %}>
								<a href="{% url 'account_edit' %}" id="you">
						{% endif %}
							<span class="glyphicon glyphicon-cog"></span>
							<span>{{ user.username }}</span>
						</a>
						</li>
					{% elif not hide_login %}
						<li class="button-container">
							<a href="{% url 'account_login' %}?next={{ request.path|urlencode }}" class="btn promo-button">
								Log in or create account
							</a>
						</li>
					{% endif %}
				</ul>
			{% endwith %}
		</nav>
	</div>
</div>
