{% load static %}
{% load json from web_extras %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	{{ request.head|safe }}

	{% render_bundle 'main' 'css' %}

	{% block userdata %}
		<script type="application/json" id="userdata">{{ userdata|json }}</script>
		<script type="text/javascript">_userdata = JSON.parse(document.getElementById("userdata").textContent);</script>
	{% endblock %}

	{% block javascript %}{% endblock %}
	{% block adsense %}{% endblock %}
	{% block footerjs %}
		<script type="text/javascript">{% spaceless %}{% include "footerjs.js" %}{% endspaceless %}</script>
	{% endblock %}
	{% endblock %}
</head>
<body>
	{% block body %}
	{% endblock %}
</body>
</html>
