{% load static %}
{% load json from web_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	<meta charset="utf-8"/>
	<title>{% block title %}HSReplay.net{% endblock title %}</title>
	<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>

	{% if canonical_url %}
		<link rel="canonical" href="{{ canonical_url }}"/>
		<meta property="og:url" content="{{ canonical_url }}"/>
	{% endif %}
	{{ request.meta_tags|safe }}

	{% block stylesheets %}{% endblock %}
	{% block javascript %}{% endblock %}
	{% block adsense %}{% endblock %}
	{% endblock %}
</head>
<body{% if user.is_authenticated %} data-username="{{user.username}}"{% if premium %} data-premium="1"{% endif %}{% endif %}>

	{% block userdata %}
		<script type="application/json" id="userdata">{{ userdata|json }}</script>
		<script type="text/javascript">_userdata = JSON.parse(document.getElementById("userdata").textContent);</script>
	{% endblock %}

	{% block body %}
	{% endblock %}

	{% block footerjs %}
		<script type="text/javascript">{% spaceless %}{% include "footerjs.js" %}{% endspaceless %}</script>
	{% endblock %}
</body>
</html>
