{% load static %}
{% load json from web_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	{{ request.head|safe }}
	<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
	{% block javascript %}{% endblock %}
	{% block adsense %}{% endblock %}
	{% endblock %}
</head>
<body>

	{% block userdata %}
		<script type="application/json" id="userdata">{{ userdata|json }}</script>
		<script type="text/javascript">_userdata = JSON.parse(document.getElementById("userdata").textContent);</script>
	{% endblock %}

	{% block body %}
	{% endblock %}

	{% block footerjs %}
		<script type="text/javascript">{% spaceless %}{% include "footerjs.js" %}{% endspaceless %}</script>
	{% endblock %}
</body>
</html>
