{% extends "base.html" %}
{% load static from static %}
{% load feature from features %}
{% load render_bundle from webpack_loader %}

{% block fullcontent %}
{% if premium %}
	<div id="card-container" data-view-type="personal"></div>
	{% render_bundle "stats" %}
	{% render_bundle "cards" %}
{% else %}
	<div class="premium-promo">
		<div class="premium-background">
			<img src="{% static 'images/premium-promotional/mycards_full.png' %}" />
		</div>
		<div class="card">
			<div class="container text-center">
				<h2><span class="text-premium">Premium</span> only</h2>
				<p class="big">View your card statistics across your replays right here.</p>
				<p><a href="{% url 'premium' %}" class="promo-button">Learn more</a></p>
			</div>
		</div>
	</div>
{% endif %}
{% endblock %}
