{% extends "account/base.html" %}

{% block content %}
	<section id="account-api" class="box-section">
		<h3>Authentication Tokens</h3>
		<div class="inner">
		{% if not tokens.count %}
			<p>
				You do not have any upload client associated with your account.
				<a href="{% url 'downloads' %}">Download Hearthstone Deck Tracker</a> and
				claim your account from there!
			</p>
		{% else %}
			<p>The following tokens can be used to upload your games. Keep them private!</p>
			<table class="table table-bordered">
				<thead>
					<th>Token</th>
					<th>Created by</th>
					<th>Created on</th>
				</thead>
			{% for token in tokens %}
				<tr>
					<td>{{ token }}</td>
					{% if token.creation_apikey.website %}
						<td><a href="{{ token.creation_apikey.website }}">{{ token.creation_apikey }}</a></td>
					{% else %}
						<td>{{ token.creation_apikey }}</td>
					{% endif %}
					<td>{{ token.created }}</td>
				</tr>
			{% endfor %}
			</table>
		{% endif %}
		</div>
	</section>

	{% if user.is_staff %}
	<section id="account-webhooks" class="box-section">
		<h3>Webhooks</h3>
		<div class="inner">
			<p>
				Webhooks allow you, or an authorized application, to automatically POST to a URL
				whenever you complete a game and it is made available on HSReplay.net.
			</p>
			{% if not webhooks.count %}
				<p>
					You do not have any webhook set up right now.
				</p>
			{% else %}
				<table class="table table-bordered">
					<thead>
						<th>UUID</th>
						<th>URL</th>
						<th>Created</th>
						<th>Active</th>
					</thead>
					{% for webhook in webhooks %}
						<tr>
							<td>{{ webhook.uuid }}</td>
							<td>{{ webhook.url }}</td>
							<td>{{ webhook.created.isoformat }}</td>
							{% if webhook.is_active %}
								<td class="webhook-active">✓</td>
							{% else %}
								<td class="webhook-inactive">✗</td>
							{% endif %}
						</tr>
					{% endfor %}
				</table>
			{% endif %}
		</div>
	</section>
	{% endif %}
{% endblock %}
