Thanks for your support so far! You've supported the development of Hearthstone Deck Tracker and HSReplay.net.

<h2>What changes?</h2>
By cancelling your Premium subscription:

<ul>
	<li>You will no longer have access to My Decks and My Cards.</li>
	<li>You will no longer have a golden name Discord channels and lose access from the #lounge.</li>
</ul>

<h2>Why stop?</h2>

<p>We'd like to know</p>

<label>
	<select>
		<option selected>No reason given</option>
		<option>Stopped playing Hearthstone</option>
		<option>No longer need competitive edge</option>
		<option></option>
		<option>Premium features not useful</option>
		<option>Not enough premium features</option>
		<option>Technical issues</option>
		<option>Too expensive</option>
		<option>Found a better service</option>
		<option>Other</option>
	</select>
</label>

<p>Thanks for supporting the development of Hearthstone Deck Tracker!</p>

<label>
	<input type="checkbox"> I plan to continue using Hearthstone Deck Tracker
</label>

<h2><label></label></h2>
<p>Is there anything you'd like to let us know?</p>
<textarea></textarea>
