{% extends "account/login.html" %}

{% block title %}Log in with Battle.net{% endblock %}

{% load i18n %}
{% load account socialaccount %}
{% block content %}

<div class="account-login login-bnet">
	{% if oauth2_client %}
	<div class="account-login-oauth2-client">
		<h3>Log in to continue to {{ oauth2_client }}</h3>
	</div>
	{% endif %}

	<p>
		We'll send you to the offfical Battle.net site where you can securely log in.<br/>
		Battle.net will redirect you back here once you're done.
	</p>

	<p class="login-button">
		{% include 'login_button.html' %}
	</p>

	<p class="help-block">
		HSReplay.net does not gain access to your Battle.net email address or password.
	</p>
</div>

{% if debug %}

<h1>(Debug only)</h1>

{{ block.super }}
{% endif %}
{% endblock %}
