{% extends "account/login.html" %}

{% block title %}Log in with Battle.net{% endblock %}

{% load i18n %}
{% load account socialaccount %}
{% block content %}

<div class="account-login login-bnet">
	{% if oauth2_client %}
	<div class="account-login-oauth2-client">
		<h3>Log in to continue to {{ oauth2_client }}</h3>
	</div>
	{% endif %}

	<p>
		We'll send you to the offical Battle.net site where you can securely log in.<br/>
		Battle.net will redirect you back here once you're done.
	</p>

	<form method="GET" action="{% provider_login_url 'battlenet' %}" class="form-group">
		{% if "next" in request.GET %}
			<input type="hidden" name="next" value="{{ request.GET.next }}"/>
		{% endif %}

		<p>
			<button type="submit" class="btn promo-button hero-button">Log in with Battle.net</button>
		</p>

		<p>
			<label for="id_region">Region</label>
			<select name="region" id="id_region" class="sm">
				<option value="us">US / EU / SEA</option>
				<!-- <option value="eu">Europe (EU)</option>
				<option value="kr">Korea (KR)</option>
				<option value="sea">South East Asia (SEA)</option>
				<option value="tw">Taiwan (TW)</option> -->
				<option value="cn">China (CN)</option>
			</select>
			</label>
		</p>
	</form>

	<p class="help-block">
		HSReplay.net does not gain access to your Battle.net email address or password.
	</p>
</div>

{% if debug or "with-password" in request.GET %}

<hr/>

<div class="account-block account-login">
<p>
Not using Battle.net? Sign in with your username and password here.
</p>

<form method="POST" action="" class="form-group">
	{% csrf_token %}

	{% if form.errors %}
		<ul class="alert alert-danger">{% for f, error in form.errors.items %}{{ error }}{% endfor %}</ul>
	{% endif %}

	<label>Username <input type="text" name="login" maxlength="150" id="id_username" class="form-control" autofocus/></label>
	<label>Password <input type="password" name="password" id="id_password" class="form-control"/></label>

	<p>
		<button type="submit" class="btn btn-primary">Log in</button>
	</p>
</form>

</div>

{% endif %}
{% endblock %}
