{% extends "account/base.html" %}

{% block content %}
	{% if authorized_apps.count %}
		<section id="oauth2-authorized-applications" class="box-section">
			<h3>Authorized applications</h3>
			<div class="inner">
				You have granted these applications access to your HSReplay.net account.
				They do not have access to your Battle.net account.

				{% for token in authorized_apps %}
					<div class="authorized-app">
						<form
							method="POST" action="{% url 'oauth2_revoke_access' %}" class="revoke-form"
							onsubmit="return confirm('Are you sure? There is no undo!')"
						>
							{% csrf_token %}
							<input type="hidden" name="client_id" value="{{ token.application.client_id }}"/>
							<button type="submit" class="btn btn-danger">Revoke access</button>
						</form>
						<h5 class="name"><a href="{{ token.application.homepage }}" target="_blank">{{ token.application }}</a></h5>
						<span class="subtitle">{{ token.application.description }}</span>
					</div>
				{% endfor %}
			</div>
		</section>
	{% endif %}

	<section id="account-oauth2-applications" class="box-section">
		<h3>Developer applications</h3>

		<div class="inner">
		{% if not application_list.count %}
			<p>
				Want to use our OAuth2 API in your own app?
				<a href="mailto:contact@hsreplay.net">Contact us</a> to apply for a token.
			</p>
		{% else %}
			<table class="table table-bordered">
				<thead>
					<th>Application</th>
					<th>Homepage</th>
					<th>Client ID</th>
					<th>Users</th>
				</thead>
			{% for app in application_list %}
				<tr>
					<td><a href="{% url 'oauth2_app_update' pk=app.pk %}">{{ app }}</a></td>
					<td><a href="{{ app.homepage }}">{{ app.homepage }}</a></td>
					<td>{{ app.client_id }}</td>
					<td>{{ app.accesstoken_set.count }}</td>
				</tr>
			{% endfor %}
			</table>
		{% endif %}
		</div>
	</section>
{% endblock %}
