{% extends "account/base.html" %}
{% load setting from web_extras %}

{% block title %}Password reset{% endblock %}

{% block content %}
{% if user.is_authenticated %}
	{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<div class="account account-block account-password-reset">
	<div class="inner-block">
		<h1>Password reset</h1>
		<p class="note">
			Forgot your password? Enter your email below, we'll send you a link to reset it.
		</p>
		<form action="{% url 'account_reset_password' %}" method="POST">
			{% csrf_token %}
			{{ form.as_p }}

			<button type="submit" class="btn btn-primary">Reset password</button>
		</form>
	</div>

	<ul class="account-block-links">
		<li id="account-link-help">Need help? <a href="mailto:{% setting 'DEFAULT_FROM_EMAIL' %}">Contact us</a></li>
	</ul>
</div>

{% endblock %}
