{% extends "webhooks/base.html" %}
{% load htmltime from web_extras %}

{% block content %}
	<section id="webhooks-form" class="box-section">
	<h3>{% if webhook %}Manage endpoint{% else %}New endpoint{% endif %}</h3>

	<div class="inner">
		{% if not webhook %}
		<p>
			Whenever an uploaded game finishes processing, a configured webhook
			will send an HTTP POST to the configured URL.<br/>
			The data will contain a JSON representation of the game's metadata.
		</p>
		<p>
			This is useful if you want to build applications which will react to a
			completed game.
			The time from upload to trigger should be, on average, below 30 seconds.
		</p>
		<hr/>
		{% endif %}

		{% if webhook %}
			<div>
				<form
					action="{% url 'account_delete_webhook' webhook.pk %}"
					method="POST"
					id="webhook-delete-form"
					onsubmit="return confirm('Are you sure? There is no undo.')"
				>
					{% csrf_token %}
					<button type="submit" class="btn btn-danger">Delete webhook</button>
				</form>
				<h2>{{ webhook.url }}</h2>
			</div>
			<hr/>
		{% endif %}

		<form action="" method="POST" id="webhook-create-form">
			{% csrf_token %}

			{% if webhook and user.is_staff %}
			<div class="form-group">
				<label for="uuid">UUID</label>
				<input type="text" value="{{ webhook.uuid }}" id="id_uuid" class="form-control" readonly onclick="this.select()"/>
			</div>
			{% endif %}

			<div class="form-group">
				<label for="id_url">Payload URL</label>
				<input
					type="url" name="url" id="id_url" size="30" maxlength="200"
					required="required" placeholder="https://example.com/..."
					class="form-control" value="{{ form.instance.url }}"
				/>
				{% if form.url.errors %}
					<div class="alert alert-danger">{{ form.url.errors }}</div>
				{% endif %}
				<p class="help-block">
					This URL will receive the JSON POST request.
				</p>
			</div>

			{% if webhook %}
			<div class="form-group">
				<label for="id_secret">Secret</label>
				<input type="text" value="{{ webhook.secret }}" id="id_secret" class="form-control" readonly onclick="this.select()"/>
				<p class="help-block">
					<a href="https://github.com/HearthSim/HSReplay.net/wiki/Webhooks">Learn more about securing webhooks</a>.
				</p>
			</div>
			{% endif %}

			<div class="checkbox">
				<label>
					{{ form.is_active }}
					Active
				</label>
			</div>

			{% if webhook %}
				<button type="submit" class="btn btn-primary">Update webhook</button>
			{% else %}
				<button type="submit" class="btn btn-success">Add webhook</button>
			{% endif %}
		</form>
	</div>

	</section>

	{% if webhook %}
		<section id="webhooks-deliveries" class="box-section">
		<h3>Latest deliveries</h3>
		<div class="inner">
		{% if deliveries %}
			<table class="table table-bordered">
				<thead>
					<th>URL</th>
					<th>Date</th>
					<th>Success</th>
				</thead>
				{% for delivery in deliveries %}
					<tr>
						<td><a href="{{ delivery.url }}" target="_blank">{{ delivery.url }}</a></td>
						<td>{{ delivery.created|htmltime:"%F %X %Z" }}</td>
						<td>
							{% if delivery.success %}
								<strong class="webhook-active">✓</strong>
								({{ delivery.completed_time }}ms)
							{% else %}
								<strong class="webhook-inactive">✗</strong>
								{% if delivery.response_status %}(HTTP {{ delivery.response_status }}){% endif %}
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</table>
		{% else %}
			<p>
				There are no recent deliveries for this webhook.
				{% if not webhook.is_active %}
					<em>Try enabling it!</em>
				{% endif %}
			</p>
		{% endif %}
		</div>
		</section>
	{% endif %}
{% endblock %}
