{% extends "account/base.html" %}
{% load feature from features %}
{% load setting from web_extras %}

{% block content %}

{% feature "billing" as billing %}
{% if billing.read_only or not billing.enabled %}
	<p class="alert alert-warning">
		Due to site maintenance, billing features are not currently available.
		Please check back in a few minutes.
	</p>
{% else %}
<section id="account-billing-cancel" class="box-section">
	<h3>Cancel subscription</h3>
	<div class="inner">

		<p>
			HearthSim Premium directly funds the development of the site. We're sorry to see you go!
			If you are having a problem with the site, please <a href="mailto:{% setting 'DEFAULT_FROM_EMAIL' %}">email us</a>
			or <a href="https://discord.gg/hearthsim">reach out on Discord</a>, we'll get you sorted out!
		</p>

		<hr/>

		<h4>How can we improve?</h4>

		<p>Please help us understand why you are unsubscribing.</p>

		<form method="POST" action="{% url 'premium_cancel' %}" class="premium-plan-form">
			{% csrf_token %}

			<p><label><input type="checkbox" name="r-expensive"/> It's too expensive for me</label></p>
			<p><label><input type="checkbox" name="r-wild"/> Not enough support for Wild</label></p>
			<p><label><input type="checkbox" name="r-dont-understand"/> I don't understand how to use the site</label></p>
			<p><label><input type="checkbox" name="r-missing-features"/> It's missing features I want</label></p>
			<p><label><input type="checkbox" name="r-mobile"/> I play only on mobile</label></p>
			<p><label><input type="checkbox" name="r-not-useful"/> It's not useful for me</label></p>
			<p><label><input type="checkbox" name="r-not-worth"/> It's not worth the price</label></p>
			<p><label><input type="checkbox" name="r-stopped-playing"/> I have stopped playing Hearthstone</label></p>
			<p><label><input type="checkbox" name="r-other"/> Other</label></p>

			<p>
				<textarea class="form-control" rows="5" name="r-more" placeholder="Mind adding some additional details?"></textarea>
			</p>

			{% if can_cancel %}
				<button
					type="submit" name="cancel" value="at_period_end" class="btn btn-danger"
					onclick="return confirm('Your subscription will remain available for the period you paid for. Proceed?')"
				>
					Cancel subscription
				</button>
			{% endif %}
			{% if can_cancel_immediately %}
				<button
					type="submit" name="cancel" value="immediately" class="btn btn-danger"
					onclick="return confirm('Your subscription will be immediately canceled, no refund will be issued. Proceed?')"
				>
					Cancel immediately
				</button>
			{% endif %}
		</form>

	</div>
</section>
{% endif %}
{% endblock %}
