{% extends "account/base.html" %}
{% load static from static %}
{% load feature from features %}
{% load setting from web_extras %}

{% block title %}Billing{% endblock %}

{% block content %}

{% feature "billing" as billing %}
{% if billing.read_only %}
	<p class="alert alert-warning">
		Due to site maintenance, billing is in read-only mode.
	</p>
{% endif %}

{% if billing.enabled %}

<section id="account-billing-plan" class="box-section">
	<h3>Premium plan</h3>
	<div class="inner">
		{% with customer.valid_subscriptions.first as sub %}
		{% if sub %}

			<h4>{{ sub.plan.name }} ({{ sub.plan.human_readable_cost }})</h4>

			{% if sub.cancel_at_period_end %}
				<form method="POST" action="{% url 'premium_subscribe' %}" class="premium-plan-form">
					{% csrf_token %}
					<input type="hidden" name="plan" value="{{ sub.plan.stripe_id }}"/>
					<button {% if billing.read_only %}disabled{% endif %} type="submit" class="btn btn-primary">Reactivate</button>
				</form>

				<p>
					You have canceled your subscription. It ends on
					<strong><time datetime="{{ sub.current_period_end|date:'c' }}">{{ sub.current_period_end|date:"F d, Y" }}</time></strong>.
				</p>
			{% else %}

				<form method="POST" action="{% url 'premium_cancel' %}" class="premium-plan-form">
					{% csrf_token %}
					<button {% if billing.read_only %}disabled{% endif %} type="submit" name="cancel" class="btn btn-danger">Cancel subscription</button>
					{% if stripe_debug %}<p><label><input type="checkbox" name="immediate"/> Immediate (debug)</label></p>{% endif %}
				</form>

				<p>
					Subscribed since <strong><time datetime="{{ sub.start|date:'c' }}">{{ sub.start|date:"F d, Y" }}</time></strong>.
					Thanks for supporting us!
				</p>
				<p>
					Your subscription will renew on <strong><time datetime="{{ sub.current_period_end|date:'c' }}">{{ sub.current_period_end|date:"F d, Y" }}</time></strong>.
				</p>
			{% endif %}

		{% else %}
			<p>
				Subscribe to <a href="{% url 'premium' %}">HearthSim Premium</a> to support the site and get loads of new features.
			</p>

			{% if payment_methods and not billing.read_only %}
				<form method="POST" action="{% url 'premium_subscribe' %}">
					{% csrf_token %}

					<p>
						<label><input type="radio" name="plan" value="{{ monthly_plan.stripe_id }}"/> {{ monthly_plan.name }} &ndash; ${{ monthly_plan.amount|floatformat }}/month</label>
					</p>
					<p>
						<label><input type="radio" name="plan" value="{{ semiannual_plan.stripe_id }}" checked> {{ semiannual_plan.name }} &ndash; ${{ semiannual_plan.amount|floatformat }}/6 months</label>
					</p>

					<button type="submit" name="subscribe" class="btn btn-primary">Subscribe now</button>
				</form>
			{% else %}
				<a href="{% url 'premium' %}">Check out premium</a>
			{% endif %}

		{% endif %}
		{% endwith %}

		{% if stripe_debug %}
		<hr/>
		<ul>
			<li><strong>Customer ID:</strong> <code>{{ customer.stripe_id }}</code></li>
			{% for sub in customer.subscriptions.all %}
				{% if sub.status != "canceled" %}
					<li><strong>Subscription ID:</strong> <code>{{ sub.stripe_id }}</code> ({{ sub.status }}) <code>{{ sub.plan.stripe_id }}</code></li>
				{% endif %}
			{% endfor %}
		</ul>
		{% endif %}

	</div>
</section>

<section id="account-billing-payment-methods" class="box-section">
	<h3>Payment Methods</h3>
	<div class="inner">
		{% include "snippets/noscript.html" %}

		{% if not customer.default_source %}
			<p class="alert alert-info">You do not have a default payment method set up.</p>
		{% endif %}

		<p>
			All credit card information is stored and handled by <a href="https://stripe.com/" target="_blank">Stripe</a>, our payment processor.
			HSReplay.net does not ever see your credit card number.
		</p>

		{% if payment_methods %}
			<ul id="account-billing-creditcard-list">
			{% for source in payment_methods %}
				<li
					class="creditcard {% if source == customer.default_source %}card-default{% endif %}"
					aria-label="{{ source.brand }} ending in {{ source.last4 }}"
					data-brand="{{ source.brand }}"
				>
					{% if source == customer.default_source %}<span class="label label-success">Default</span>{% endif %}
					<h4 class="card-title">
						{{ source.brand }} &bull;&bull;&bull;&bull; {{ source.last4 }}
					</h4>

					<span class="card-expiry">Expires <time>{{ source.exp_month }}/{{ source.exp_year }}</time></span>

					{% if stripe_debug %}<p><code>{{ source.stripe_id }}</code></p>{% endif %}

					{% if not billing.read_only %}
						<form method="POST" action="{% url 'billing_update_card' %}" class="card-remove-form">
							{% csrf_token %}
							<input type="hidden" name="stripe_id" value="{{ source.stripe_id }}"/>
							<button type="submit" name="delete" class="btn btn-danger">Remove card</button>
							{% if source != customer.default_source %}
								<button type="submit" name="set_default" class="btn btn-primary">Set as default</button>
							{% endif %}
						</form>
					{% endif %}
				</li>
			{% endfor %}
			</ul>
		{% endif %}

		{% if not billing.read_only %}
			<p>
				<form method="POST" action="{% url 'premium_subscribe' %}">
					{% csrf_token %}
					<script
						type="text/javascript" src="https://checkout.stripe.com/checkout.js" class="stripe-button"
						data-key="{% setting 'STRIPE_PUBLIC_KEY' %}"
						data-image="{% static 'images/hsreplay-thumbnail.png' %}"
						data-name="HSReplay.net"
						{% if user.email %}data-email="{{ user.email }}"{% endif %}
						data-locale="auto"
						data-description="Add a credit card"
						data-label="Add a credit card"
						data-panel-label="Add card"
						data-allow-remember-me="false"
					></script>
				</form>
			</p>
		{% endif %}
	</div>
</section>

<section id="account-payment-history" class="box-section">
	<h3>Payment History</h3>

	<div class="inner">
		{% if customer.invoices.count %}
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Date</th>
					<th>Product</th>
					<th>Status</th>
					<th>Total</th>
				</tr>
			</thead>
			{% for invoice in customer.invoices.all %}
				<tr>
					<td>#{{ invoice.id }} {% if stripe_debug %}<code>{{ invoice.stripe_id }}</code>{% endif %}</td>
					<td><time datetime="{{ invoice.date|date:'c' }}">{{ invoice.date|date:"Y-m-d" }}</td>
					<td>{{ invoice.subscription.plan.name }}</td>
					<td>{{ invoice.status }}</td>
					<td>{{ invoice.currency|upper }} {{ invoice.total|floatformat:"2" }} {% if invoice.total < 0 %}<span class="label label-success">Credit</span>{% endif %}</td>
				</tr>
			{% endfor %}
		</table>
		{% else %}
			<p>You have no recorded payments.</p>
		{% endif %}
	</div>
</section>
{% endif %}
{% endblock %}
