{% extends "account/base.html" %}
{% load static from static %}
{% load feature from features %}
{% load currency_amount htmltime pretty_card setting from web_extras %}

{% block content %}

{% feature "billing" as billing %}
{% if billing.read_only %}
	<p class="alert alert-warning">
		Due to site maintenance, billing is in read-only mode.
	</p>
{% endif %}

{% if billing.enabled %}

<section id="account-billing-plan" class="box-section">
	<h3>Premium Plan</h3>
	<div class="inner">
		{% with customer.valid_subscriptions.first as sub %}
		{% if sub %}

			<h4>{{ sub.plan.name }} ({{ sub.plan.human_readable_price }})</h4>

			{% if sub.cancel_at_period_end %}
				<form method="POST" action="{% url 'premium_subscribe' %}" class="premium-plan-form">
					{% csrf_token %}
					<input type="hidden" name="plan" value="{{ sub.plan.stripe_id }}"/>
					<button {% if billing.read_only %}disabled{% endif %} type="submit" class="btn btn-primary">Reactivate</button>
				</form>

				<p>
					You have canceled your subscription. It ends on
					<strong>{{ sub.current_period_end|htmltime }}</strong>.
				</p>
			{% else %}

				{% if can_cancel or can_cancel_immediately and billing.read_only %}
					<p class="premium-plan-form">
						<a href="{% url 'premium_cancel' %}" class="btn btn-danger">Cancel subscription</a>
					</p>
				{% endif %}

				{% if sub.status == "trialing" %}
					<p>
						You are currently on a free trial, started on <strong>{{ sub.trial_start|htmltime }}</strong>.
						Your subscription begins on <strong>{{ sub.trial_end|htmltime }}</strong>.
					</p>
				{% elif sub.status == "past_due" %}
					<hr/>
					<p class="alert alert-danger">
						Your membership is past due.
						You will not be able to use the Premium features until a successful payment.<br/>
						{% if latest_invoice and latest_invoice.next_payment_attempt %}
							Next payment attempt on <strong>{{ latest_invoice.next_payment_attempt|htmltime }}</strong>.
						{% endif %}
					</p
				{% else %}
					<p>
						Subscribed since <strong>{{ sub.start|htmltime }}</strong>.
						Thanks for supporting us!
					</p>
					<p>
						Your subscription will renew on <strong>{{ sub.current_period_end|htmltime }}</strong>.
					</p>
				{% endif %}

				{% if not customer.default_source and sub.plan.amount %}
					<p class="alert alert-danger"><strong>
						You are subscribed but do not have a default payment method set up. Your next payment will fail.<br/>
						Please add a card below before {{ sub.current_period_end|htmltime }}.
					</strong></p>
				{% endif %}
			{% endif %}

		{% elif user.is_paypal_premium %}
			{% if user.paypal_end_of_cancellation_period %}
				<p>
					You have cancelled your PayPal subscription.
					It ends on <strong>{{ user.paypal_end_of_cancellation_period|htmltime }}</strong>.
				</p>
			{% else %}
				<p>
					You are <strong>currently subscribed</strong> using PayPal. Thanks for supporting us!
				</p>
			{% endif %}
			<p class="alert alert-info">
				PayPal plans cannot yet be managed directly from here. To manage your subscription,
				<a href="https://paypal.com/" target="_blank">log in to PayPal</a> and go to
				<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_manage-paylist" target="_blank">Manage preapproved payments</a>.
			</p>
			<p>
				For help, support and questions, don't hesitate to <a href="mailto:{% setting 'DEFAULT_FROM_EMAIL' %}">contact us directly</a>!</p>
			</p>

		{% else %}
			<p>
				Subscribe to <a href="{% url 'premium' %}">HearthSim Premium</a> to support the site and get loads of new features.
			</p>

			{% if payment_methods and not billing.read_only %}
				<form method="POST" action="{% url 'premium_subscribe' %}">
					{% csrf_token %}

					<p>
						<label><input type="radio" name="plan" value="{{ stripe_monthly_plan.stripe_id }}"/> {{ stripe_monthly_plan.name }} &ndash; {{ stripe_monthly_plan.human_readable_price }}</label>
					</p>
					<p>
						<label><input type="radio" name="plan" value="{{ stripe_semiannual_plan.stripe_id }}" checked> {{ stripe_semiannual_plan.name }} &ndash; {{ stripe_semiannual_plan.human_readable_price }}</label>
					</p>

					<button type="submit" name="subscribe" class="btn btn-primary">Subscribe now</button>
				</form>
			{% endif %}

		{% endif %}

		{% if customer.coupon %}
			<p class="alert alert-success">
				You have an active coupon for <strong>{{ customer.coupon.human_readable }}</strong>.
				{% if sub %}
					It will automatically be redeemed on your next payment cycle.
				{% else %}
					The amount will be deducted from your next purchase.
				{% endif %}
			</p>
		{% endif %}
		{% endwith %}

		{% if stripe_debug %}
		<hr/>
		<ul>
			<li><strong>Customer ID:</strong> <code>{{ customer.stripe_id }}</code></li>
			{% for sub in customer.subscriptions.all %}
				{% if sub.status != "canceled" %}
					<li><strong>Subscription ID:</strong> <code>{{ sub.stripe_id }}</code> ({{ sub.status }}) <code>{{ sub.plan.stripe_id }}</code></li>
				{% endif %}
			{% endfor %}
		</ul>
		{% endif %}

		{% if customer.pending_charges %}
			<hr/>
			<h4>Unattempted charges</h4>
			<p>
				You have <strong>{% currency_amount customer.pending_charges customer.currency %}</strong> in pending charges.<br/>
				This may have been from a previous unattempted charge.
			</p>
		{% elif customer.credits %}
			<hr/>
			<h4>Credits</h4>
			<p>
				Your account balance is <strong>{% currency_amount customer.credits customer.currency %}</strong>.<br/>
				<em>
					When making a payment, these credits will be withdrawn first.
					Payments made using PayPal are not supported.
				</em>
			</p>
		{% endif %}

		<hr/>
		<p>
			Don't hesitate to <a href="mailto:{% setting 'DEFAULT_FROM_EMAIL' %}">contact us</a> if you have issues or questions!
		</p>

	</div>
</section>

<section id="account-billing-payment-methods" class="box-section">
	<h3>Payment Methods</h3>
	<div class="inner">
		{% include "snippets/noscript.html" %}

		{% if not customer.default_source %}
			<p class="alert alert-info">You do not have a default payment method set up.</p>
		{% endif %}

		<p>
			All credit card information is stored and handled by <a href="https://stripe.com/" target="_blank">Stripe</a>, our payment processor.
			HSReplay.net does not ever see your credit card number.
		</p>

		{% if legacy_cards %}
			<ul id="account-billing-creditcard-list">
			{% for card in legacy_cards %}
				<li
					class="creditcard {% if card == customer.default_source %}card-default{% endif %}"
					aria-label="{{ card.brand }} ending in {{ card.last4 }}"
					data-brand="{{ card.brand }}"
				>
					{% if card == customer.default_source %}<span class="label label-success">Default</span>{% endif %}
					<h4 class="card-title">
						{{ card|pretty_card }}
					</h4>

					<span class="card-expiry">Expires <time>{{ card.exp_month }}/{{ card.exp_year }}</time></span>

					{% if stripe_debug %}<p><code>{{ card.stripe_id }}</code></p>{% endif %}

					{% if not billing.read_only %}
						{% if can_remove_payment_methods %}
							<form method="POST" action="{% url 'billing_update_card' %}" class="card-remove-form">
								{% csrf_token %}
								<input type="hidden" name="stripe_id" value="{{ card.stripe_id }}"/>
								<button type="submit" name="delete" class="btn btn-danger">Remove card</button>
								{% if card.stripe_id != customer.default_source.stripe_id %}
									<button type="submit" name="set_default" class="btn btn-primary">Set as default</button>
								{% endif %}
							</form>
						{% else %}
							<br /><em class="text-muted small">Cannot be removed while subscribed.</em>
						{% endif %}
					{% endif %}
				</li>
			{% endfor %}
			</ul>
		{% endif %}

		<hr/>

		{% if sources %}
			<ul id="account-billing-creditcard-list">
			{% for source in sources %}
				<li
					class="creditcard {% if source == customer.default_source %}card-default{% endif %}"
					aria-label="{{ source.source_data.brand }} ending in {{ source.source_data.last4 }}"
					data-brand="{{ source.source_data.brand }}"
				>
					{% if source == customer.default_source %}<span class="label label-success">Default</span>{% endif %}
					<h4 class="card-title">
						{{ source|pretty_card }}
					</h4>
					<span class="card-expiry">Expires <time>{{ source.source_data.exp_month }}/{{ source.source_data.exp_year }}</time></span>

					{% if stripe_debug %}<p><code>{{ source.stripe_id }}</code></p>{% endif %}

					{% if not billing.read_only %}
						{% if can_remove_payment_methods %}
							<form method="POST" action="{% url 'billing_update_card' %}" class="card-remove-form">
								{% csrf_token %}
								<input type="hidden" name="stripe_id" value="{{ source.stripe_id }}"/>
								<button type="submit" name="delete" class="btn btn-danger">Remove card</button>
								{% if source.stripe_id != customer.default_source.stripe_id %}
									<button type="submit" name="set_default" class="btn btn-primary">Set as default</button>
								{% endif %}
							</form>
						{% else %}
							<br /><em class="text-muted small">Cannot be removed while subscribed.</em>
						{% endif %}
					{% endif %}
				</li>
			{% endfor %}
			</ul>
		{% endif %}

		{% if not billing.read_only %}
			<p>
				<form method="POST" action="{% url 'premium_subscribe' %}">
					{% csrf_token %}
					<script
						type="text/javascript" src="https://checkout.stripe.com/checkout.js" class="stripe-button"
						data-key="{{ STRIPE_PUBLIC_KEY }}"
						data-image="{% static 'images/hsreplay-thumbnail.png' %}"
						data-name="HSReplay.net"
						{% if user.email %}data-email="{{ user.email }}"{% endif %}
						data-locale="auto"
						data-description="Add a credit card"
						data-label="Add a credit card"
						data-panel-label="Add card"
						data-allow-remember-me="false"
					></script>
				</form>
			</p>
		{% endif %}
	</div>
</section>

<section id="account-payment-history" class="box-section">
	<h3>Payment History</h3>

	<div class="inner">
		{% if customer.invoices.count %}
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Date</th>
					<th>Product</th>
					<th>Status</th>
					<th>Total</th>
				</tr>
			</thead>
			{% for invoice in customer.invoices.all %}
				<tr>
					<td>#{{ invoice.charge.receipt_number|default:invoice.id }} {% if stripe_debug %}<code>{{ invoice.stripe_id }}</code>{% endif %}</td>
					<td>{{ invoice.date|htmltime:"%Y-%m-%d" }}</td>
					<td>
						<ul class="list-unstyled">
							{% for item in invoice.invoiceitems.all %}
								<li>{{ item }}</li>
							{% endfor %}
						</ul>
					</td>
					<td>{{ invoice.status }}</td>
					<td>{{ invoice.currency|upper }} {{ invoice.total|floatformat:"2" }} {% if invoice.total < 0 %}<span class="label label-success">Credit</span>{% endif %}</td>
				</tr>
			{% endfor %}
		</table>
		<p class="help-block">Open payments are periodically retried using your default payment method. <a href="mailto:{% setting 'DEFAULT_FROM_EMAIL' %}">Contact us</a> if you need any help.</p>
		{% else %}
			<p>You have no recorded payments.</p>
		{% endif %}
	</div>
</section>
{% endif %}
{% endblock %}
