{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load feature from features %}

{% block title %}{{deck.name|default:"Unnamed Deck"}}{% endblock %}

{% block fullcontent %}
{% feature "carddb" as ft_carddb %}
{% if ft_carddb.enabled %}
	<div id="deck-info"
		deck-id="{{ deck.id }}"
		deck-cards="{{ cards }}"
		deck-class="{{ deck_class }}">
	</div>
	<div id="deck-container" style="display: flex;justify-content: center;"></div>
	{% render_bundle "deck_detail" %}
{% endif %}
{% endblock %}
