{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load feature from features %}

{% block title %}{{deck.name|default:"Unnamed Deck"}}{% endblock %}

{% block meta %}
{% include "decks/meta_tags.html" with deck=deck %}
{% endblock %}

{% block fullcontent %}
	<div id="deck-info"
		data-deck-id="{{ deck_id }}"
		data-deck-cards="{{ card_list }}"
		data-deck-class="{{ deck_class }}">
	</div>
	<div id="deck-container"></div>
	{% render_bundle "stats" %}
	{% render_bundle "deck_detail" %}
{% endblock %}
