{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load feature from features %}

{% block fullcontent %}
	<div id="deck-info"
		data-deck-id="{{ deck.shortid }}"
		data-deck-name="{{ deck_name }}"
		data-deck-wild="{{ deck_is_wild }}"
		data-hero-id="{{ deck.hero_dbf_id }}"
		data-deck-cards="{{ card_list }}"
		data-deck-class="{{ deck.deck_class.name }}"
		data-archetype-id="{{ deck.archetype.id }}"
		data-archetype-name="{{ deck.archetype.name }}"
	>
	</div>
	<div id="deck-container"></div>
	{% render_bundle "stats" %}
	{% render_bundle "deck_detail" %}
{% endblock %}
