{% extends "base.html" %}
{% load static from static %}
{% load feature from features %}
{% load render_bundle from webpack_loader %}

{% block fullcontent %}
{% if premium %}
	<div id="my-decks-container"></div>
	{% render_bundle "stats" %}
	{% render_bundle "my_decks" %}
{% else %}
	<div class="premium-promo">
		<img src="{% static 'images/premium-promotional/mydecks_full.png' %}" class="premium-background" />
		<div class="card">
			<div class="container text-center">
				<h2><span class="text-premium">Premium</span> only</h2>
				<p class="big">View the decks you've played across your replays right here.</p>
				<p><a href="{% url 'premium' %}" class="promo-button">Learn more</a></p>
			</div>
		</div>
	</div>
{% endif %}
{% endblock %}
