{% load comments %}
<h2>Comments</h2>

<div class="comments-form">
{% if user.is_authenticated %}
	{% get_comment_form for object as form %}
	<form method="POST" action="{% comment_form_target %}" id="comment-form">
		{% csrf_token %}

		{# {{ form.comment }} #}
		<textarea name="comment" rows="10" class="form-control" cols="40" id="id_comment" maxlength="3000" required></textarea>
		{{ form.honeypot }}
		{{ form.content_type }}
		{{ form.object_pk }}
		{{ form.timestamp }}
		{{ form.security_hash }}

		<input type="hidden" name="next" value="{{ object.get_absolute_url }}"/>

		<em>Note: Your Battletag will be visible to other users.</em>
		<input type="submit" class="btn btn-primary" value="Post"/>
	</form>
{% else %}
	<p><a href="{% url 'account_login' %}">Sign in</a> to post a comment!</a></p>
{% endif %}
</div>

<div class="comments-list">
	{% render_comment_list for object %} {# comments/list.html #}
</div>
