h1 {
	font-size: 2.5em;
	margin-top: 0;
}

h2 {
	font-size: 2em;
}

.account-login {
	&.login-bnet {
		margin: 10em auto;
		text-align: center;
	}

	.login-button {
		margin: 2em auto;
	}
}


.content.authentication-error {
	margin-top: 3em;
	p {
		margin: 2em 0 5em;
	}
}


#account-connections, #account-settings-emails {
	td {
		padding: 0.5em;
	}
}

#account-social-link p.alert {
	// Reduce bootstrap alert padding (Link account page)
	padding: 0.5em !important;
	margin: 0 2em;
}

.box-section {
	border: 1px solid $lightgrey;
	margin: 0 0 1em;
	padding: 0;

	h3 {
		font-size: 1.3em;
		background-color: #efefef;
		border-bottom: 1px solid $lightgrey;
		padding: 0.3em;
		margin: 0;
	}

	.inner {
		padding: 0.5em;
	}

	p {
		margin-top: 0.5em;
	}

	table:last-child {
		margin-bottom: 0;
	}
}

.webhook-active {
	color: green;
	font-weight: bold;
	text-align: center;
}

.webhook-inactive {
	color: darkred;
	font-weight: bold;
	text-align: center;
}

#webhook-delete-form {
	border-top: 1px solid $lightgrey;
	padding-top: 0.5em;
	margin-top: 0.5em;
}

.account-block {
	margin: 5em auto;
	width: 325px;

	&.account-login {
		label[for="id_login"], label[for="id_password"] {
			display: none;
		}
	}

	&.account-signup {
		label[for="id_username"],
		label[for="id_email"],
		label[for="id_password1"],
		label[for="id_password2"] {
			display: none;
		}
	}

	&.account-password-reset {
		label[for="id_email"] {
			display: none;
		}
	}

	.inner-block {
		background: #efefef;
		border: 1px solid #aaa;
		border-radius: 3px;
		box-shadow: #cecece 0 2px 1px;
		padding: 3em 2em;
		text-align: center;

		h1 {
			color: #333;
			font-size: 2em;
			margin: 0;
			margin-bottom: 1em;
		}

		.errorlist {
			// form errors
			color: darkred;
			font-weight: bold;
			list-style: none;
			padding: 1em;
			margin: 0;
			text-align: left;
			font-size: 0.9em;
		}

		.note {
			font-size: 0.9em;
			margin-bottom: 1.5em;
		}

		button[type="submit"] {
			margin-top: 1em;
		}
	}

	.account-block-links {
		border-top: 1px solid #cbcbcb;
		font-size: small;
		list-style: none;
		margin-top: 3em;
		padding: 2em 0 0;
		text-align: center;

		li {
			line-height: 2em;
		}
	}
}
