.archetype-analysis-container {
	display: flex;

	@media(max-width: 768px) {
		flex-direction: column;
	}

	>main {
		min-height: calc(100vh - 50px);
		padding-top: 10px;
		width: calc(100% - 300px);

		@media(max-width: 768px) {
			max-width: 100%;
			width: 100%;
		}

	}

	>aside {
		@media(max-width: 768px) {
			max-width: 100%;
			width: 100%;
			padding-bottom: 0;
		}

		> h1 {
			border-bottom: 1px solid $blue;
		}

		.dropdown {
			>button {
				padding: 0 5px;
			}

			li {
				padding: unset;
				&.dropdown-header {
					padding: 3px 20px;
				}
			}
		}

		.training-data {
			display: flex;
			margin-left: 5px;
			label {
				margin: 0 0 0 5px;
				font-weight: normal;

				&.disabled {
					color: gray;
				}
			}

			.glyphicon {
				color: white;
			}
		}
	}
}
