@import "variables.scss";


article.article {
	background: white;
	border: 1px solid $lightgrey;
	margin-bottom: 1em;

	.article-header {
		background: $blue;
		border-bottom: 1px solid white;
		color: white;
		padding: 0.8em;

		a {
			color: white;
		}

		h1 {
			margin: 0;
		}

		.article-title {
			font-size: 1.6em;
		}

		.article-metadata {
			float: right;
			margin: 0;
		}
	}

	.article-read-more {
		font-weight: bold;
		padding-top: 1em;
	}

	.article-buttons {
		float: right;
		padding: 1em;
	}

	.article-contents {
		padding: 1.5em;
		text-align: justify;
	}

	footer.article-footer {
		border-top: 1px solid #ddd;
		color: grey;
		padding: 1em 0.3em;
		text-align: right;

		.article-authorship {
			margin-right: 2em;
		}
	}
}

.article-contents.markdown {
	h1, h2, h3, h4 {
		margin-top: 1.5em;
	}

	img {
		max-width: 100%;
	}

	table {
		margin: 1em;
		width: 100%;

		thead {
			border-bottom: 1px solid #ccc;
		}
	}
}

.article-detail {
	max-width: 62.8em;
	margin: 1em auto;

	.article-contents {
		font-family: Georgia, Cambria, "Times New Roman", Times, serif;
		font-size: 1.1em;
		line-height: 1.7em;
		padding: 0.8em 1.2em;
	}

	// Article ads
	.adunit {
		text-align: center;

		.adsbygoogle {
			display: block;
			// height: 90px;
			// width: 728px;
		}
	}
}


@media (max-width: 62.8em) {
	.article-detail {
		.article-comments {
			/* Extra padding around comments section on small screens */
			padding: 0 1em;
		}
	}
}

/* Article listings */

.article-list {
	padding: 0.5em;
	margin: 1em auto;
	max-width: 1250px;
}

.article-table {
	th, td {
		font-family: "Noto Sans", sans-serif;
	}

	.percent::after {
		content: "%";
	}
}
