html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

::selection {
	color: white;
	background: $red;
}

::-moz-selection {
	color: white;
	background: $red;
}

body {
	background-color: $offwhite;
}

body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: "Noto Sans", sans-serif;
}

#content {
	min-height: 500px;
}

#tabletop {
	height: calc(100% - 100px);
	margin: 1em 0;
}

#navbar-logo {
	padding: 8px;
	height: 50px;
	width: 43px;
	float: left;
}

.container .navbar-collapse {
	padding-left: 0;
	padding-right: 0;
}

.navbar {
	border-radius: 0;

	.nav > li .custom-icon {
		padding-right: 3px;
	}
}

.custom-icon {
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: middle;
	position: relative;
	display: inline-block;
	width: 17px;
	height: 17px;
}

.navbar-hsreplay {
	background-color: $blue;
	color: $offwhite;
	margin-bottom: 0;
	border: 0;
	font-weight: bold;

	.navbar-toggle {
		border-color: $offwhite;

		.icon-bar {
			background-color: $offwhite;
		}
	}

	.navbar-brand {
		padding: 0;
		padding-right: 15px;

		h1 {
			padding: 12px 0;
			display: inline-block;
			font-size: 1.2em;
			margin: 0;
			font-weight: bold;
		}
	}

	.nav > li {
		> a {
			padding-bottom: 12px;

			&.social-button {
				padding-bottom: 4px;
			}

			&.text-premium {
				color: $premium;
			}
		}

		&.active > a {
			position: relative;
			color: $lighterblue;
		}

		&.active-premium > a {
			color: $premium;

			> &:focus, > &:hover {
				color: $premium-hover;
			}
		}

		&.open > a {
			background-color: transparent;
			color: $lighterblue;
		}

		@media (min-width: 768px) {
			&.active > a {
				border-bottom: 3px solid $lighterblue;
			}

			&.active-premium > a {
				border-bottom-color: $premium;
			}
		}

		> a:focus, > a:hover {
			color: $lightblue;
			background: transparent;

			&.text-premium {
				color: $premium-hover;
			}
		}

		> .promo-button {
			&:focus, &:hover {
				color: $red;
				background-color: $offwhite;
				border-bottom: 0;
			}
		}

		&.button-container {
			padding-top: 6px;

			> a {
				margin-right: -10px;
				padding-right: 20px;
				padding-bottom: 8px;
				padding-left: 20px;
			}
		}

		.glyphicon {
			padding-right: 3px;
		}
	}

	a {
		color: inherit;
	}

	.promo-button {
		font-size: 1em;
		padding-top: 8px;
		padding-bottom: 8px;
	}

	@media (max-width: 767px) {
		.promo-button, .promo-button-outline {
			width: auto;
			float: left;
			margin: 0 15px 10px 10px;
		}
	}

	.popover {
		color: black;
	}
}

.site-footer {
	clear: both;
	color: $darkgrey;
	font-size: x-small;
	margin-top: 3em;
	margin-bottom: 2em;
	text-align: center;

	.prominent {
		color: $aqua;
		font-size: 1.5em;
		margin: 0 0 1em 0;
	}

	.horizontal-icons {
		margin: 1em 0;
		list-style-type: none;
		padding-left: 0;

		li {
			display: inline-block;
			margin: 0.5em;
		}
	}

	p {
		margin: 0;
	}

	a {
		color: inherit;
	}

	abbr[title] {
		border-bottom: none;
	}
}

/* Generic pages (eg. account, flatpages) */

.page {
	padding: 0 3em;
	max-width: 950px;
	margin: 0 auto;

	section {
		margin-bottom: 2.5em;
	}
}

#flatpage-content {
	margin: 0 auto;
}

#flatpage-header {
	color: #333;
	text-align: center;
	font-size: 1.5em;
	padding: 1em;
}

/* Elements */

#site-messages {
	width: 100%;
	position: absolute;
	top: 50px;
	z-index: 100;
	text-align: center;
	pointer-events: none;

	ul.inner {
		background-color: $blue;
		border: solid white 1px;
		color: white;
		list-style: none;
		margin: 1em auto;
		padding: 1em;
		width: 400px;
		max-width: 100%;
	}
}

.alert {
	border-radius: 0;
}

/* Status message for uploads in progress */
.upload-status-message {
	background-color: $blue;
	color: white;
	font-size: 1.8em;
	margin-top: 10%;
	padding: 3em;
	text-align: center;

	a, a:active, a:hover {
		color: inherit;
		text-decoration: underline;
	}
}

/* Premium popup */
#premium-modal {
	display: flex;
	align-items: center;

	background: rgba(22, 22, 22, 0.5);
	position: fixed;
	top: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;

	.inner {
		background-color: $offwhite;
		margin: 0 auto;
		padding: 0;
		width: 600px;

		header {
			background: $blue;
			color: white;
			position: relative;
			padding: 0em 0 1.5em 0;
			margin-bottom: 1.25em;
			text-align: center;

			&:after {
				background: inherit;
				bottom: 0;
				content: '';
				display: block;
				height: 2em;
				left: 0;
				position: absolute;
				right: 0;
				transform: skewY(-1.5deg);
				transform-origin: 100%;
				z-index: 999;
			}

			h3 {
				color: white;
				z-index: 1001;
				padding: 1.5em 0 0 0;
				margin: 0;
			}

			#premium-modal-close {
				z-index: 1002;
			}
		}

		main {
			padding: 1em;
		}

		h3 {
			margin: 0 0 1em;
			text-align: center;
			font-weight: bold;
		}

		.thumbnails {
			height: 4em;
			margin: 1.5em 0;
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-around;
			align-items: center;

			> * {
				object-fit: cover;
				flex: 1;
				margin: 0 4px;
				height: 100%;
			}
		}

		img {
			&.bordered {
				border: solid 1px $blue;
			}
		}

		&:focus {
			outline: none;
		}
	}

	.promo-button, .promo-button-outline {
		font-size: 1.2em;
		text-transform: uppercase;
	}

	#premium-modal-close {
		padding: 0 1em;
		font-size: 1.75em;
		margin-top: -5px;
		margin-right: -8px;
		padding: 0 14px;
		z-index: 999;

		&, &:hover, &:active {
			color: white;
			text-decoration: none;
		}
	}

	h4 {
		font-weight: bold;
		font-size: 1.2em;
	}

	#modal-checkout {
		label {
			width: 100%;
		}

		@media (max-width: 767px) {
			.btn-group {
				flex-wrap: wrap;
			}
		}

		@media (min-width: 768px) {
			.btn-group {
				label {
					width: auto;
				}
			}
		}

		h4 {
			font-size: 1.2em;
			font-weight: bold;
		}
	}
}

.popover, .popover-title {
	border-radius: 0;
}

.popover {
	padding: 0;
	border-color: $lightblue;
}

.popover-title {
	background-color: $lightblue;
	color: white;
}

.popover.bottom > .arrow:after {
	border-bottom-color: $lightblue;
}

.navbar-hsreplay .popover {
	margin-top: 7px;
}

.popover-close {
	line-height: 0;
	padding: 8px 0 8px 4px;
	vertical-align: middle;
	font-size: 1.7em;
	display: block;
	float: right;

	&:hover, &:active {
		text-decoration: none;
	}
}

.premium-popover {
	border-color: $premium;

	.popover-title {
		background-color: $premium;
		color: black;
	}

	&.bottom > .arrow:after {
		border-bottom-color: $premium;
	}
}

.text-help {
	color: $help;
}

.text-twitch {
	color: $twitch-purple;
}
