.promo-button, .promo-button:visited, .promo-button-outline, .promo-button-outline:visited {
	display: inline-block;
	font-weight: bold;
	padding: 7px 30px;
	line-height: 2em;
	font-size: 1.2em;
	text-decoration: none;

	color: white;
	border: solid 1px $red;
	background-color: $red;

	&.blue-style {
		border: solid 1px $blue;
		background-color: $blue;
	}

	&.aqua-style {
		border: solid 1px $aqua;
		background-color: $aqua;
	}

	&.premium-style {
		border: solid 1px $premium;
		background-color: $premium;
		color: black;
	}

	.btn-group > &:first-child {
		padding-left: 20px;
		padding-right: 15px;
	}

	.btn-group > .btn + &.btn {
		border-left: solid 1px white;
	}

	.btn-group > .btn + &.dropdown-toggle {
		padding-left: 15px;
		padding-right: 15px;
	}

	.btn-group > &.dropdown-toggle ~ .dropdown-menu {
		width: 100%;
		border-radius: 0;
		background-color: white;
		margin-top: 0;

		> li {
			color: black;

			&.dropdown-header {
				font-weight: bold;
				padding-left: 10px;
			}

			> a {
				text-transform: none;
			}

			&:hover > a {
				color: white;
				background-color: $red;
			}
		}
	}
}

.promo-button {
	text-transform: uppercase;
}

.promo-button:hover, .promo-button:active, .promo-button:focus {
	text-decoration: none;

	color: $red;
	background-color: white;
	border-color: $red;

	&.blue-style {
		color: $blue;
		background-color: white;
		border-color: $blue;
	}

	&.aqua-style {
		color: $aqua;
		background-color: white;
		border-color: $aqua;
	}

	&.premium-style {
		color: $premium;
		background-color: white;
		border-color: $premium;
	}
}

.promo-button-outline, .promo-button-outline:visited {
	background-color: transparent;
	color: $red;
}

.promo-button-outline:hover, .promo-button-outline:active {
	text-decoration: none;
	color: $red;
}

.promo-button img, .promo-button-outline img {
	vertical-align: text-bottom;
}

.promo-button.hero-button {
	padding-left: 25px;
	padding-right: 25px;
}

.promo-link, .promo-help {
	font-size: 1.2em;
}

.promo-link, .promo-link:visited {
	text-decoration: underline;
	color: white;
}

.promo-link:hover, .promo-link:active {
	color: $red;
}

.btn-full {
	margin: 5px 0;
	width: 100%;
}
