.card-list {
	padding-left: 0;
}

.card-tile {
	color: $card-tile-text-color;
	position: relative;
	text-align: left;
	cursor: default;

	margin-top: 1px;
	text-shadow: -1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;

	.card-gem {
		height: 100%;
		float: left;
		position: relative;
		background: $card-tile-background-default;
		border-style: solid;
		border-color: black;
		border-width: 1px 0 1px 1px;

		.card-cost {
			position: absolute;
			font-weight: bold;
			text-align: center;
			width: 100%;
		}

		&.rarity-common, &.rarity-free {
			background: $card-tile-background-common;
		}

		&.rarity-rare {
			background: $card-tile-background-rare;
		}

		&.rarity-epic {
			background: $card-tile-background-epic;
		}

		&.rarity-legendary {
			background:: $card-tile-background-legendary;
		}
	}

	&.premium .card-gem {
		background-color: gold;
	}

	.card-frame {
		position: relative;
		border: solid 1px black;
		height: 100%;
		overflow: hidden;

		.card-fade-countbox {
			position: absolute;
			width: 100%;
			height: 100%;
			background: linear-gradient(65deg, rgba(49,49,9,1) 0%,rgba(49,49,49,1) calc(100% - 120px),rgba(49,49,49,0) calc(100% - 50px),rgba(49,49,49,0) 100%);
		}

		.card-fade-no-countbox {
			position: absolute;
			width: 100%;
			height: 100%;
			background: linear-gradient(65deg, rgba(49,49,9,1) 0%,rgba(49,49,49,1) calc(100% - 96px),rgba(49,49,49,0) calc(100% - 26px),rgba(49,49,49,0) 100%);
		}

		.card-name {
			position: absolute;
			font-weight: bold;
			left: 5px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		.card-asset {
			position: absolute;
			height: 100%;
			background-color: $card-tile-background;
		}
	}

	.card-countbox {
		float: right;
		position: relative;
		background-color: $card-tile-background;
		border-left: solid 1px black;
		height: 100%;

		.card-legendicon {
			position: absolute;
			top: -1px;
		}

		.card-count {
			position: absolute;
			width: 100%;
			color: $card-tile-count-color;
			font-weight: bold;
			text-align: center;
		}
	}

	.card-image {
		position: fixed;
		z-index: 1000;
	}

	a:hover &, a:focus & {
		cursor: pointer;

		> * {
			filter: brightness(115%);
		}
		.card-image {
			filter: none;
		}
	}
}
