.card-discover {
	display: flex;

	.search-wrapper {
		display: flex;
		margin: 0px auto;
		max-width: 500px;
		padding: 0 10px;

		input {
			background: transparent;
			border: 0;
			border-bottom: 2px solid $blue;
			border-radius: 0px;
			box-shadow: none;
			padding-left: 35px;
		}

		.form-group {
			width: 100%;
		}

		.glyphicon-search {
			right: unset;
			color: $blue;
		}

		.glyphicon-remove {
			cursor: pointer;
			color: lightgray;
			pointer-events: auto;
		}

		.glyphicon-remove:hover {
			color: $red;
		}
	}

	#filter-button {
		margin: 0 5px 15px 0;
	}

	#card-discover-infobox {
		ul {
			&.filter-list-cost {
				display: flex;
				justify-content: center;
				margin: 10px 0;
			}

			>li {
				&.mana-crystal {
					filter: saturate(0) opacity(0.6);
					height: 28px;
					width: 28px;
					border: 0;
					padding: 0;

					&.selected {
						background: transparent;
						filter: saturate(1) opacity(1) brightness(1.2);
					}
					&.selected::before {
						content: "";
					}

					> div {
						color: white;
						font-weight: bold;
						margin-top: -24px;
						text-align: center;
						text-shadow: -1px -1px 0 #000,
							1px -1px 0 #000,
							-1px 1px 0 #000,
							1px 1px 0 #000;
						white-space: pre;
					}
				}

				&.disabled {
					cursor: not-allowed;
					color: gray;

					&.mana-crystal {
						filter: saturate(0) opacity(0.5);
					}

					&.selected {
						&.mana-crystal {
							filter: saturate(1) opacity(0.5);
						}
					}
				}
			}

			>li:hover {
				&.mana-crystal {
					filter: brightness(1.3);
					text-decoration: none;
					background: transparent;
				}
			}
		}
	}

	>main {
		min-height: 100vh;
		padding: 10px;
		width: calc(100% - 300px);

		@media(max-width: 768px) {
			width: 100%;
		}

		#more-button-wrapper {
			text-align: center;
		}

		#card-list, .table {
			padding-top: 20px;
		}

		#card-list {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			.card-image {
				>img {
					height: 350px;

					@media(max-width: 992px) {
						height: 300px;
					}

					@media(max-width: 450px) {
						height: 230px;
					}
				}
			}

			.card-image:hover {
				img {
					transition: all .1s ease-in-out;
					transform: scale(1.05);
				}
			}
		}
	}

	.chart-list {
		width: 250px;
	}
}
