.card-discover {
	display: flex;

	.filter-col {
		padding-top: 150px;
		width: 250px;

		.filter-panel {

			.cost-filter {
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
			}

			>h4 {
				border-bottom: 1px solid $darkgrey;
			}
			

			> ul {
				padding-left: 10px;
				&.filter-list-cost {
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
				}

				>li:hover {
					color: $red;

					&.selected {
						text-decoration: line-through;
					}

					&.mana-crystal {
						filter: brightness(1.2);
						text-decoration: none;
					}
				}

				>li {
					cursor: pointer;
					user-select: none;
					list-style-type: none;

					&.mana-crystal {
						filter: saturate(0) opacity(0.9);
						height: 28px;
						margin: 3px 0;
						width: 28px;

						&.selected {
							filter: saturate(1) opacity(1);
						}

						> div {
							color: white;
							font-weight: bold;
							margin-top: -24px;
							text-align: center;
							text-shadow: -1px -1px 0 #000,
								1px -1px 0 #000,
								-1px 1px 0 #000,
								1px 1px 0 #000;
							white-space: pre;
						}
					}

					&.format {
						margin-top: 7px;
					}

					.badge {
						float: right;
					}

					&.selected {
						font-weight: bold;

						.badge {
							background: $aqua;
						}
					}

					&.disabled {
						cursor: not-allowed;
						color: lightgray;

						.badge {
							background: lightgray;
						}

						&.mana-crystal {
							filter: saturate(0) opacity(0.5);
						}
						
						&.selected {

							.badge {
								background: #afc4cf;
							}

							&.mana-crystal {
								filter: saturate(1) opacity(0.5);
							}
						}
					}
				}
			}
		}
	}

	.content-col {
		width: calc(100% - 500px);

		.input-group {
			max-width: 500px;
			margin: 20px auto;
			label {
				font-weight: normal;

				>input {
					margin: auto 5px;
				}
			}
		}

		.more-button {
			text-align: center;
		}

		.card-list-wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			.card-image:hover {
				img {
					transition: all .1s ease-in-out;
					transform: scale(1.05);
				}
			}
		}

		.no-search-result {
			text-align: center;
			padding: 50px 0;
		}
	}

	.chart-col {
		width: 250px;
		padding-top: 150px;
	}
}
