.card-detail-container {
	display: flex;

	>main {
		min-height: calc(100vh - 50px);
		padding-top: 10px;
		width: calc(100% - 300px);

		>.row {
			border-bottom: 1px solid $lightgrey;
		}
			
		>.row:nth-child(even) {
			background: rgb(249, 249, 249);
		}

		#card-tables {
			>div >* {
				max-width: 500px;
				margin: 0 auto;
			}

			h4 {
				padding-top: 20px;
			}
		}

		#message-wrapper {
			text-align: center;
		}

		@media(max-width: 768px) {
			max-width: 100%;
			width: 100%;
		}
	}

	>aside {
		.card-image {
			margin-left: calc(50% - 125px);
			width: 250px;
		}

		>p {
			font-style: italic;
			margin: 0 10px 10px 10px;
			text-align: center;
		}

		@media(max-width: 768px) {
			max-width: 100%;
			width: 100%;
		}

		.class-chart {
			margin: 0 auto;
			max-width: 300px;
		}
	}

	.chart-wrapper {
		max-width: 700px;
		margin: 0 auto;
	}
}
