.chart {

	&.stacked-bar-chart {

		.controls-wrapper {
			text-align: center;
			padding-top: 5px;
		}

	}
}

.class-filter-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 5px;

	>span {
		margin: 5px 0 0 5px;
		color: black;
		cursor: pointer;
		user-select: none;

		&.unselected {
			background-color: lightgray;
			color: gray;
		}
	}
}
