.info-icon {
	color: $aqua;
	text-transform: none;
}

table .info-icon, .sort-header .info-icon {
	margin-left: 0.3em;
}

.tooltip-wrapper {
	cursor: help;
	display: inline;
	position: relative;
	text-align: left;
}

.hsreplay-tooltip {
	background-color: rgba(0, 0, 0, 0.95);
	border-radius: 4px;
	border: 1px rgba(255, 255, 255, 0.25) solid;
	color: white;
	font-family: "Noto Sans", sans-serif;
	font-size: 14px;
	font-weight: normal;
	margin-top: 10px;
	min-width: 250px;
	max-width: 300px;
	padding: 8px 8px;
	position: fixed;
	white-space: normal;
	pointer-events: none;
	z-index: 1000;

	&.no-background {
		background: transparent;
		border: unset;
	}

	&.simple-tooltip {
		cursor: inherit;
		min-width: unset;
	}

	h4 {
		font-size: 1em;
		font-weight: bold;
		margin: 0 0 0.3em 0;
	}

	p {
		line-height: 1.3em;
		margin: 0;
		padding: 0;
	}

	ol, ul {
		list-style-position: inside;
		margin: 0;
		padding: 0;

		li {
			padding: 0;
			margin: 0.4em 0 0 0;
		}
	}

	dl {
		margin: 0;

		dt {
			font-style: italic;
			font-weight: normal;
			margin-top: 0.5em;

			&:first-child {
				margin-top: 0.7em;
			}
		}
	}
}

.card-icon {
	background-repeat: no-repeat;
	border-radius: 50%;
	border: 1px solid black;
	position: relative;
	user-select: none;

	> span {
		font-size: 1.3em;
		font-weight: bold;
		position: absolute;
		right: -1px;
		text-shadow: -1px -1px 0 #000,
			1px -1px 0 #000,
			-1px 1px 0 #000,
			1px 1px 0 #000;
		top: -9px;
	}

	.card-image {
		position: absolute;
		z-index: 1000;
	}

	&.loading {
		border-color: #ddd;
		background-color: #ddd;
	}
}

#card-tooltip {
	.card-image-container {
		position: relative;
	}

	.card-image-subtitle {
		position: absolute;
		width: 100%;
		left: 0;
		text-align: center;
		bottom: 5%;
		font-weight: bold;
		text-shadow: -1px -1px 0 #000,
			1px -1px 0 #000,
			-1px 1px 0 #000,
			1px 1px 0 #000;
	}
}

.article-tooltip {
	width: 0;
	height: 0;

	.card-image {
		position: fixed;
		z-index: 1000;
	}
}

.card-icon-link {
	&:active, &:focus {
		outline: none;
	}
}

.mana-curve {
	list-style: none;
	padding-left: 0px;

	> li {
		background: linear-gradient(transparent 60%, rgba(0,0,0,0.1) 100%);
		float: left;
		height: 30px;
		margin-left: 1px;
		position: relative;
		width: 5px;

		>span {
			background: $lightblue;
			bottom: 0;
			display: block;
			left: 0;
			position: absolute;
			right: 0;
		}
	}
}

.deck-list {

	.pagination {
		margin: 20px 0 0 0;
	}

	.paging-top {
		.pagination {
			margin: 0;
		}
	}

	.header-row {
		font-weight: bold;
		border-bottom: 1px solid $darkgrey;
		margin-left: 0px;
		margin-right: 0px;
		padding-top: 8px;
		padding-bottom: 8px;
		white-space: nowrap;

		> * {
			user-select: none;
			outline: none;
			display: flex;
			flex-direction: row;

			> span:first-child {
				text-overflow: clip;
				overflow: hidden;
				flex-shrink: 1;
			}
		}

		.header-center {
			text-align: center;
			justify-content: center;
		}

		.header-sortable {
			cursor: pointer;

			&:focus:not(:active) {
				color: $lighterblue;
			}
		}

		.info-icon {
			margin-left: 0.3em;
		}

		.no-sort {
			opacity: 0;
		}
	}

	>ul {
		list-style-type: none;
		padding-left: 0px;

		>li {
			border-bottom: 1px solid $darkgrey;
			line-height: 34px;
			background-position: 0 -42px;
			background-repeat: no-repeat;

			>a {
				background: linear-gradient(to right, $offwhite 1%, rgba(251, 247, 246, 0.7) 100px, $offwhite 256px);
				display: block;
				color: black;
			}

			> a {
				outline: none;

				&:hover, &:focus {
					background: linear-gradient(to right, $offwhite 1%, rgba(251, 247, 246, 0.5) 100px, #f1f2f4 256px);
					text-decoration: none;
				}
			}
		}
		>li:nth-child(odd) {

			>a {
				background: linear-gradient(to right, $offwhite 1%, rgba(255, 255, 255, 0.7) 100px, #f9f9f9 256px);
			}

			> a {
				&:hover, &:focus {
					background: linear-gradient(to right, $offwhite 1%, rgba(255, 255, 255, 0.5) 100px, #f1f2f4 256px);
				}
			}
		}
	}
}

.deck-tile {
	height: 85px;
	display: flex;
	padding-top: 10px;
	overflow: hidden;

	>div {
		font-weight: bold;

		>span {
			display: block;
		}

		.deck-name {
			background-size: contain;
			background-repeat: no-repeat;
			line-height: 34px;
			padding-left: 40px;
			margin: 5px 0 0 5px;
			white-space: pre;
		}

		.dust-cost, .last-played, .live-now {
			line-height: 20px;
			white-space: nowrap;
			display: inline-block;
			margin-right: 0.8em;
			text-shadow: white 0 0 2px;
		}

		.dust-cost, .last-played {
			opacity: 0.6;
		}

		.live-now {
			opacity: 0.8;
			font-weight: bold;
		}

		a.live-now {
			transition: opacity 0.3s;

			&:active, &:hover, &:focus {
				opacity: 1;
				color: $twitch-purple;
				text-decoration: none;
			}
		}

		.dust-cost {
			background-size: contain;
			background-repeat: no-repeat;
			padding-left: 16px;
		}

		> small {
			display: block;
			font-size: 0.9em;
			margin-left: 40px;
			white-space: nowrap;

			> * {
				vertical-align: top;
			}
		}

		.win-rate, .game-count, .duration {
			text-align: center;
			margin-top: 15px;
		}
	}

	.card-list {
		display: flex;
		list-style-type: none;
		margin-right: 20px;

		>li {
			float: left;
			min-width: 15px;

			&.unchanged {
				display: none;
			}

			&.added {
				.card-icon {
					border: 2px solid lime;
				}
			}

			&.reduced {
				.card-icon {
					border: 2px solid red;
				}
			}

			&.removed {
				.card-icon::before {
					color: red;
					content: "✕";
					font-size: 32px;
					left: 2px;
					position: absolute;
					text-align: center;
					top: -10px;
				}

				.card-icon {
					border: 2px solid red;
				}
			}

			.card-icon {
				float: left;
				line-height: 50px;
				margin: 15px 3px 0 7px;
			}
		}

		.unchanged:hover {
			filter: grayscale(0);
			z-index: 999;
		}
	}

	.mana-curve {
		width: 48px;
		padding-top: 15px;
		margin: 0 auto;
	}

	.duration {
		font-size: 0.9em;
		white-space: nowrap;

		.glyphicon {
			top: 2px;
		}
	}
}

.hdt-button {
	cursor: pointer;
	font-weight: bold;
	text-align: center;

	.tooltip-wrapper {
		cursor: inherit;

		li {
			border: none;

			&:first-child {
				border: none;
			}
		}
	}

	span {
		background-image: url("/static/images/hdt_icon.png");
		background-position: right;
		background-repeat: no-repeat;
		background-size: contain;
		color: white;
		padding: 5px 35px 5px 0;
	}

	&.highlight {
		span::before {
			content: "✔ ";
			color: limegreen;
		}
	}

	&.disabled {
		span {
			color: $darkgrey;
		}
	}
}

.copy-deck-button {
	font-weight: bold;

	.success {
		color: green;
	}

	&.disabled {
		color: $darkgrey;
	}
}

.copy-deck-button-simple {
	padding: 5px;
	border: 1px solid white;
	margin: 5px;
	cursor: pointer;

	&:hover {
		background: $lightblue1;
	}
}

.card-list + .copy-deck-wrapper {
	padding: 1em 0 0.5em 0;
}

.hero-image + .copy-deck-wrapper {
	padding: 0 0 1em 0;
}

.table-wrapper {
	overflow-x: auto;

	>table {
		min-width: 1000px;
	}
}

.table-sortable {
	td {
		font-weight: bold;
	}

	.no-sort {
		visibility: hidden;
	}

	.help-row {
		td {
			font-weight: normal;
			text-align: center;
			color: $help;
		}

		.btn {
			margin-left: 0.5em;
		}
	}
}

.sort-header {
	outline: none;
	cursor: pointer;
	user-select: none;

	&:focus:not(:active) {
		color: $lighterblue;
	}
}


.table > tbody > tr > td.card-cell {
	padding-top: 0;
	padding-bottom: 0;

	.card-tile {
		min-width: 150px;
		max-width: 217px;
	}
}

.sort-indicator {
	position: relative;
	display: inline-block;
	width: 0.9em;
	margin: 0 0.2em 0 0.1em;
	text-align: center;

	.active {
		color: $red;
	}

	> span {
		position: relative;
		transform: scale(0.6, 1);
		width: 0.4em;
		top: 3px;

		&:last-child {
			top: 1px;
			left: 1px;
		}
	}

	&.primary {
		> span:not(.active) {
			display: none;
		}

		> span.active {
			font-size: 1.4em;
			line-height: 0em;
			top: 5px;
			left: -1px;
		}
	}
}

.opponent-filter-wrapper {
	margin: 0 auto;
	max-width: 400px;
	text-align: center;

	.class-icon {
		height: 2.3em;
		width: 2.3em;
	}

	.premium-wrapper {
		padding: 0 5px 5px 5px;
	}
}

.message-wrapper {
	padding-top: 100px;
	text-align: center;

	p {
		font-size: 1.2em;
	}
}

.chart-message-wrapper {
	padding-top: 7vw;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
}

.pagination {
	> li {
		&.active > a {
			&, &:focus, &:hover {
				color: white;
				background-color: $lighterblue;
				border-color: $lighterblue;
			}
		}

		> a, > span {
			margin-left: 6px;
			margin-right: 6px;
			text-align: center;
			background-color: #f9f9f9;

			&.fixed-width {
				width: 45px;
				padding-left: 0;
				padding-right: 0;
			}

			.space-right {
				margin-right: 5px;
			}

			.space-left {
				margin-left: 5px;
			}
		}

		&:first-child {
			> a, > span {
				border-radius: 0;
				margin-left: 0;
			}
		}

		&:last-child {
			> a, > span {
				border-radius: 0;
				margin-right: 0;
			}
		}

		> a {
			color: black;
			border-color: black;

			&:hover, &:focus {
				color: white;
				border-color: $lightblue;
				background-color: $lightblue;
			}
		}

		> span.transparent-background {
			color: black;
			cursor: default;

			&, &:hover {
				color: black;
				background-color: transparent;
				border: none;
			}
		}
	}
}

.player-class {
	background-repeat: no-repeat;
	background-size: contain;
	padding: 5px 0 5px 35px;

	&.druid {
		background-image: url(/static/images/64x/class-icons/druid.png);
	}
	&.hunter {
		background-image: url(/static/images/64x/class-icons/hunter.png);
	}
	&.mage {
		background-image: url(/static/images/64x/class-icons/mage.png);
	}
	&.paladin {
		background-image: url(/static/images/64x/class-icons/paladin.png);
	}
	&.priest {
		background-image: url(/static/images/64x/class-icons/priest.png);
	}
	&.rogue {
		background-image: url(/static/images/64x/class-icons/rogue.png);
	}
	&.shaman {
		background-image: url(/static/images/64x/class-icons/shaman.png);
	}
	&.warlock {
		background-image: url(/static/images/64x/class-icons/warlock.png);
	}
	&.warrior {
		background-image: url(/static/images/64x/class-icons/warrior.png);
	}
}

.class-matchup {
	padding: 15px;

	.class-matchup-header {
		background: $blue;
		color: white;
		font-weight: bold;
		padding-right: 5px;

		.player-class {
			margin-left: -5px;
		}
	}

	.class-matchup-archetype {
		border-bottom: 1px solid lightgray;
		color: black;
		display: block;
		padding: 5px 5px 0 5px;
	}

	.class-matchup-archetype:hover, .class-matchup-archetype:active {
		text-decoration: unset;
		background: #f1f2f4;
	}

	.class-matchup-archetype:visited {
		color: black;
	}
}


.box {
	border: 1px solid black;
	color: black;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	height: 250px;
	margin-bottom: 20px;
	text-align: center;
	text-decoration: none;

	&:hover, &:active, &:link {
		color: black;
		text-decoration: none;
	}

	&:hover {
		background: #f1f2f4;
	}

	.box-title {
		// font-weight: bold;
		text-transform: uppercase;
		font-size: 1.3em;
		text-align: center;
		border-bottom: 1px solid black;
		background: $blue;
		color: white;
		padding: 5px 0;
	}

	.box-content {
		display: flex;
		justify-content: center;
		flex-direction: column;
		flex-grow: 1;

		>h2 {
			margin-top: 0;
		}

		>h3 {
			margin-top: 0;
		}
	}

	.box-chart {
		height: 50px;
	}

	.box-data {
		font-size: 1.5em;

		.winrate {
			font-weight: bold;
			padding-right: 10px;
		}
	}

	.stats-table {
		font-size: 1.5em;
		display: flex;
		justify-content: center;
		padding-top: 15px;

		th {
			padding-right: 10px;
		}
	}

	&.matchup-box {
		.player-class {
			padding-left: 50px;
			font-size: 1.8em;
		}
	}

	&.deck-box {
		.tech-cards {
			margin: 0 25px;
			display: flex;
			justify-content: space-around;
		}
	}

	&.rank-box {
		.rank-icon {
			width: 100px;
			height: 100px;
			margin: 0 auto;
		}
	}

	&.class-box{
		.box-title {
			text-transform: none;
			text-align: left;
			padding: 1px 1px 2px 1px;
			z-index: 1;
			font-size: 1.2em;
			font-weight: bold;

			.player-class {
				margin-left: -12px;
				padding: 7px 0 7px 45px;
			}
		}
	}
}

.class-box-container {
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	@media(max-width: 500px) {
		padding: 10px 15px;
	}

	.table-container {
		margin: 1px;
	}

	.class-box {
		height: auto;
		cursor: unset;
		flex-basis: calc(33% - 20px);
		margin: 10px;
		min-width: 450px;
		flex-grow: 1;

		@media(max-width: 500px) {
			min-width: 100%;
		}


		&:hover {
			background: unset;
		}
	}

	.box-content {
		justify-content: unset;
	}

	.table-row-header {
		line-height: 36px;
		overflow: hidden;
		padding: 0 4px;
		text-align: left;
		text-overflow: ellipsis;
		white-space: nowrap;
		a {
			color: black;
		}
	}

	.row {
		padding-top: 20px;
		display: flex;
		flex-direction: row;
	}

	.col {
		flex: 1 100%
	}
}

.rank-range-filter-ranks {
	> .infobox-filter-group {
		li {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: 0 0 0 1em;

			> span {
				padding: 0.5em 0;
			}

			button {
				border-right: black solid 1px;

				&:first-child {
					border-left: black solid 1px;
				}
			}
		}
	}
}

.loading-spinner {
	display: flex;
	align-items: center;
	margin-left: 5px;

	@keyframes rotate {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(359deg);
		}
	}

	.glyphicon {
		animation: rotate 2s infinite linear;
		color: $blue;
	}
}

.content-tabs {
	padding: 0 5px;
	border-bottom: 1px solid $blue;

	li {
		> a {
			background: $blue;
			border-radius: 0;
			color: white;
			font-weight: bold;
			margin-right: 5px;
			margin-top: 2px;

			.text-premium {
				color: $premium;
			}

			&:hover {
				background: $blue;
				border-color: transparent;
				color: $lightblue;

				.text-premium {
					color: $premium-hover;
				}
			}
		}

		&.active {
			> a, > a:hover, > a:focus {
				background: $offwhite;
				border: 1px solid $blue;
				border-bottom-color: transparent;
				color: black;

				.text-premium {
					color: $premium-hover;
				}
			}
		}

		&.disabled > a {
			color: #777;

			.text-premium {
				color: inherit;
			}
		}

		&.highlight:not(.active) > a {
			background: $lightblue;
			border: 1px solid $blue;
			 &:hover {
				 color: black;
			 }
		}
	}
}

.table-container {
	margin: 10px;
	font-weight: bold;

	a {
		&.table-row-header, &.table-cell {
			color: black;
			text-decoration: none;
		}
	}

	.table-row-header {
		border-bottom: 1px solid lightgray;
	}

	.table-cell {
		border-bottom: 1px solid lightgray;
		border-left: 1px solid lightgray;
		text-align: center;
	}

	.table-column-header {
		border-bottom: 1px solid gray;
	}

	.table-grid {
		outline: none;
		overflow-y: hidden !important;
	}

	.table-header {
		overflow-x: hidden !important;
	}

	.info-row {
		border-bottom: 1px solid lightgray;
		background-color: white;
		color: $help;
		font-weight: normal;
		height: 50px;
		line-height: 50px;
	}

	.table-row-highlighter {
		pointer-events: none;
		background: rgba(49, 136, 184, 0.1);
		z-index: 1;
	}
}

.animated-list {
	overflow: hidden;
	position: relative;
}

.animated-list-item {
	position: absolute;
	display: flex;
	justify-content: center;
	width: 100%;
	transition: top 0.7s ease-in-out;
	padding: 1px 0;
}

.archetype-signature h3 {
	background: #1d3657;
	color: white;
	font-size: 16px;
	margin-bottom: 0;
	padding: 7px 0;
	text-align: center;
	text-transform: uppercase;
}

.rank-picker {
	display: flex;
	flex-wrap: wrap;
	user-select: none;

	.rank-selector {
		border-bottom: 1px solid $darkblue;
		cursor: pointer;
		display: block;
		filter: grayscale(0.9);
		position: relative;
		width: 18%;

		&.rank-selector-legend {
			width: 90%;
		}

		> img {
			display: block;
			height: 100%;
			margin: 0 auto;
			max-height: 45px;
			max-width: 45px;
			width: 100%;
		}

		> span {
			font-size: 15px;
			font-weight: bold;
			left: 0;
			line-height: 45px;
			position: absolute;
			text-align: center;
			top: 0;
			width: 100%;
			text-shadow: -1px -1px 0 #000,
				1px -1px 0 #000,
				-1px 1px 0 #000,
				1px 1px 0 #000;
		}

		&:hover {
			background: $lightblue1;
			filter: grayscale(0);
		}

		&.selected {
			background: $lightcyan;
			filter: grayscale(0);

			&:hover {
				background: $lightercyan;
			}
		}
	}

	.row-selector {
		align-items: center;
		border-bottom: 1px solid $darkblue;
		cursor: pointer;
		display: flex;
		font-size: 12px;
		text-align: center;
		width: 10%;

		.glyphicon {
			text-align: center;
			width: 100%;
		}

		&:hover {
			background: $lightblue1;
		}

		&.selected {
			background: $lightcyan;

			&:hover {
				background: $lightercyan;
			}
		}

		&.only {
			color: gray;

			&:hover {
				background: $lightcyan;
			}
		}
	}
}

.stream-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	list-style-type: none;
	padding-left: 0;
	margin-top: 10px;

	> li {
		flex: 1;
		min-width: 300px;
		max-width: 400px;
		margin: 10px;
	}
}

.stream-thumbnail {
	display: inline-block;
	width: 100%;

	figure {
		overflow: hidden;
		width: 100%;

		img {
			display: block;
			height: auto;
			width: 100%;
		}

		figcaption {
			color: black;
			justify-content: space-between;
			white-space: nowrap;
			width: 100%;
			margin-top: 0.25em;

			&, * {
				overflow: hidden;
				text-overflow: ellipsis;
			}

			strong {
				display: block;
				width: 100%;
			}

			span {
				float: right;
			}
		}
	}

	&:hover {
		text-decoration: none;

		figcaption strong {
			text-decoration: underline;
		}

		img {
			filter: brightness(50%);
		}

		.stream-thumbnail-default-image {
			color: rgb(120, 120, 120);
		}
	}
}

.stream-thumbnail-default-image {
	position: relative;
	width: 100%;
	color: rgb(191, 191, 191);
	background-color: rgb(225, 225, 225);
	font-size: 3em;
	border: solid 1px rgb(191, 191, 191);

	> * {
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
