.info-icon {
	color: $aqua;
}

.tooltip-wrapper {
	cursor: help;
	display: inline;
	position: relative;
	text-align: left;

	.hsreplay-tooltip {
		background-color: rgba(0, 0, 0, 0.95);
		border-radius: 4px;
		border: 1px rgba(255, 255, 255, 0.25) solid;
		color: white;
		font-family: "Noto Sans", sans-serif;
		font-size: 14px;
		font-weight: normal;
		margin-top: 10px;
		min-width: 250px;
		padding: 8px 8px;
		position: absolute;
		top: 100%;
		z-index: 1000;

		&.centered {
			left: 50%;
			transform: translate(-50%, 0);
		}

		&.left {
			left: 0;
		}

		&.right {
			right: 0;
		}

		h4 {
			font-size: 1em;
			font-weight: bold;
			margin: 0 0 0.3em 0;
			white-space: nowrap;
		}

		p {
			line-height: 1.3em;
			margin: 0;
			padding: 0;
		}

		ol, ul {
			list-style-position: inside;
			margin: 0;
			padding: 0;

			li {
				padding: 0;
				margin: 0.4em 0 0 0;
			}
		}
	}

	&.simple-tooltip {
		cursor: inherit;

		.hsreplay-tooltip {
			min-width: unset;
		}
	}
}

.card-icon {
	background-repeat: no-repeat;
	border-radius: 50%;
	border: 1px solid black;
	position: relative;
	user-select: none;

	>span {
		font-size: 1.3em;
		font-weight: bold;
		position: absolute;
		right: -1px;
		text-shadow: -1px -1px 0 #000,
			1px -1px 0 #000,
			-1px 1px 0 #000,
			1px 1px 0 #000;
		top: -9px;
	}

	.card-image {
		position: absolute;
		z-index: 1000;
	}
}

.mana-curve {
	list-style: none;
	padding-left: 0px;

	> li {
		background: linear-gradient(transparent 60%, rgba(0,0,0,0.1) 100%);
		float: left;
		height: 30px;
		margin-left: 1px;
		position: relative;
		width: 5px;

		>span {
			background: $lightblue;
			bottom: 0;
			display: block;
			left: 0;
			position: absolute;
			right: 0;
		}
	}
}

.deck-list {

	.paging {
		padding-bottom: 10px;

		>span {
			padding-right: 5px;
		}
	}

	.header-row {
		font-weight: bold;
		border-bottom: 1px solid $darkgrey;
		margin-left: 0px;
		margin-right: 0px;
		padding-top: 8px;
		padding-bottom: 8px;
		white-space: nowrap;

		.header-center {
			text-align: center;
		}

		.header-sortable {
			user-select: none;
			cursor: pointer;
		}

		.info-icon {
			margin-left: 0.3em;
		}

		.no-sort {
			opacity: 0;
		}
	}

	>ul {
		list-style-type: none;
		padding-left: 0px;

		>li {
			border-bottom: 1px solid $darkgrey;
			height: 85px;
			line-height: 34px;
			background-position-y: -42px;
			background-repeat: no-repeat;

			>a {
				background: linear-gradient(to right, $offwhite 1%, rgba(251, 247, 246, 0.7) 100px, $offwhite 256px);
				display: block;
				height: 100%;
				color: black;

				>div {
					height: 100%;
					display: flex;
					padding-top: 10px;


					>div {
						font-weight: bold;

						>span {
							display: block;
						}

						.deck-name {
							background-size: contain;
							background-repeat: no-repeat;
							line-height: 34px;
							padding-left: 40px;
							margin: 5px 0 0 5px;
						}

						.dust-cost {
							background-size: contain;
							background-repeat: no-repeat;
							line-height: 20px;
							padding-left: 16px;
							margin-left: 40px;
							opacity: 0.6;
							font-size: 0.9em;
						}

						.win-rate, .game-count, .duration {
							text-align: center;
							margin-top: 15px;
						}
					}

					.card-list {
						display: flex;
						list-style-type: none;
						margin-right: 20px;

						>li {
							float: left;
							min-width: 15px;

							&.unchanged {
								display: none;
							}

							&.added {
								.card-icon {
									border: 2px solid lime;
								}
							}

							&.reduced {
								.card-icon {
									border: 2px solid red;
								}
							}

							&.removed {
								.card-icon::before {
									color: red;
									content: "✕";
									font-size: 32px;
									left: 2px;
									position: absolute;
									text-align: center;
									top: -10px;
								}

								.card-icon {
									border: 2px solid red;
								}
							}

							.card-icon {
								float: left;
								line-height: 50px;
								margin: 15px 3px 0 7px;
							}
						}

						.unchanged:hover {
							filter: grayscale(0);
							z-index: 999;
						}
					}

					.mana-curve {
						width: 48px;
						padding-top: 15px;
						margin: 0 auto;
					}

					.duration {
						font-size: 0.9em;
						white-space: nowrap;

						.glyphicon {
							top: 2px;
						}
					}
				}
			}

			>a:hover {
				background: linear-gradient(to right, $offwhite 1%, rgba(251, 247, 246, 0.5) 100px, #f1f2f4 256px);
				text-decoration: none;
			}
		}
		>li:nth-child(odd) {

			>a {
				background: linear-gradient(to right, $offwhite 1%, rgba(255, 255, 255, 0.7) 100px, #f9f9f9 256px);
			}

			>a:hover {
				background: linear-gradient(to right, $offwhite 1%, rgba(255, 255, 255, 0.5) 100px, #f1f2f4 256px);
			}
		}
	}
}

.hdt-button {
	cursor: pointer;
	font-weight: bold;
	padding-bottom: 20px;
	text-align: center;

	.tooltip-wrapper {
		cursor: inherit;

		li {
			border: none;

			&:first-child {
				border: none;
			}
		}
	}

	span {
		background-image: url("/static/images/hdt_icon.png");
		background-position: right;
		background-repeat: no-repeat;
		background-size: contain;
		color: white;
		padding: 5px 35px 5px 0;
	}

	&.highlight {
		span::before {
			content: "✔ ";
			color: limegreen;
		}
	}

	&.disabled {
		span {
			color: $darkgrey;
		}
	}
}

.table-wrapper {
	overflow-x: auto;

	>table {
		min-width: 1000px;
	}
}

.table-sortable {
	th {
		&.th-sortable {
			cursor: pointer;
			user-select: none;
		}
	}

	td {
		font-weight: bold;
	}

	.no-sort {
		visibility: hidden;
	}

	.card-wrapper {
		margin-bottom: -7px;
		margin-top: -7px;
		min-width: 150px;
		max-width: 217px;
	}

	.info-icon {
		margin-left: 0.3em;
	}
}

.sort-indicator {
	position: relative;
	display: inline-block;
	width: 0.9em;
	margin: 0 0.2em 0 0.1em;
	text-align: center;

	.active {
		color: $red;
	}

	> span {
		position: relative;
		transform: scale(0.6, 1);
		width: 0.4em;
		top: 3px;

		&:last-child {
			top: 1px;
			left: 1px;
		}
	}

	&.primary {
		> span:not(.active) {
			display: none;
		}

		> span.active {
			font-size: 1.4em;
			line-height: 0em;
			top: 5px;
			left: -1px;
		}
	}
}

.opponent-filter-wrapper {
	margin: 0 auto;
	max-width: 400px;
	text-align: center;

	.class-icon {
		height: 2.3em;
		width: 2.3em;
	}

	.premium-wrapper {
		padding: 0 5px 5px 5px;
	}
}

.message-wrapper {
	padding-top: 100px;
	text-align: center;
}

.chart-message-wrapper {
	padding-top: 7vw;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
}
