.info-icon {
	color: $aqua;
	position: relative;

	.info-icon-text {
		//no idea why this is not inherited
		background: rgba(251, 247, 246, 0.95);
		border-radius: 2px;
		border: 1px solid $blue;
		font-family: "Noto Sans", sans-serif;
		margin: 15px 0 0 -250px;
		min-width: 250px;
		padding: 5px;
		position: absolute;
		z-index: 1000;

		>h4 {
			margin-top: 0px;
			white-space: nowrap;
		}
	}
}

.card-icon {
	background-repeat: no-repeat;
	border-radius: 50%;
	border: 1px solid black;
	position: relative;
	user-select: none;
	
	>span {
		cursor: default;
		font-size: 1.3em;
		font-weight: bold;
		position: absolute;
		right: -1px;
		text-shadow: -1px -1px 0 #000,
			1px -1px 0 #000,
			-1px 1px 0 #000,
			1px 1px 0 #000;
		top: -9px;
	}

	.card-image {
		position: absolute;
		z-index: 1000;
	}
}

