.control-rank-range-selector, .control-date-range-selector, .control-sample-size-selector {
	width: 100%;
	margin-bottom: 15px;

	label {
		input {
			text-align: center;
		}

		> input {
			width: 100%;
		}
	}
}

.control-label {
	width: 100%;

	> span:first-child {
		width: 100%;
		text-align: center;
		display: block;
		margin-bottom: 3px;
	}
}
