.control-rank-range-selector, .control-date-range-selector, .control-sample-size-selector {
	width: 100%;
	margin-bottom: 15px;

	label {
		input {
			text-align: center;
		}

		> input, > .input-group {
			width: 100%;
		}
	}
}

label>input {
	font-weight: normal;
}

.control-label {
	width: 100%;

	> span:first-child {
		width: 100%;
		text-align: center;
		display: block;
		margin-bottom: 3px;
	}

	img {
		width: 50%;
		display: block;
		margin: 0 auto;
	}
}

.control-range-slider {
	height: 120px;
	position: relative;
	margin: 0px 0 10px 0;

	.control-range-slider-range {
		height: 100%;
		width: 20%;
		margin: 0 auto;

		$overlap: 30%;

		> section {

			&:nth-child(5n+1), &:first-child, &:last-child {
				background-color: lightgray;

				&.low, &.high, &.active {
					background-color: $blue;
				}

				&.selection {
					background-color: $lightblue;
				}
			}

			&.blocked {
				border-left: solid 2px $red;
				border-right: solid 2px $red;
			}

			&.low {
				margin-left: -$overlap;
			}

			&.selection {
				background-color: $lighterblue;
			}

			&.active {
				background-color: $aqua;
				cursor: ns-resize;
			}

			&.low, &.high {
				background-color: $blue;
				cursor: ns-resize;
				width: 100% + $overlap;
			}

			&.low.high {
				margin-left: -$overlap;
				width: 100% + 2 * $overlap;
			}
		}
	}

	&.dragging {
		cursor: ns-resize;
	}
}

.social-button {
	.label {
		display: none;
	}
}

.card-search {
	position: relative;

	li {
		cursor: pointer;
	}

	>ul {
		list-style-type: none;
		margin-bottom: 0px;
		margin-top: 5px;
		padding-left: 5px;

		>li .glyphicon {
			color: gray;
			float: right;
			margin-top: 7px;
			padding: 3px;
		}

		>li:hover {
			.glyphicon {
				color: $red;
			}
		}
	}

	.card-search-results {
		background: white;
		border: 1px solid gray;
		max-height: 200px;
		overflow-x: hidden;
		overflow-y: auto;
		padding: 5px;
		position: absolute;
		width: 100%;
		z-index: 10;

		>ul {
			list-style-type: none;
			margin-bottom: 0px;
			padding-left: 0px;
			>li .search-message {
				color: gray;
				text-align: center;
			}

			.selected .card-tile {
				.card-fade-countbox {
					background: linear-gradient(65deg, $lightcyan 0%, $lightcyan calc(100% - 120px),transparent calc(100% - 50px), transparent 100%);
				}

				.card-fade-no-countbox {
					background: linear-gradient(65deg, $lightcyan 0%, $lightcyan calc(100% - 96px), transparent calc(100% - 26px), transparent 100%);
				}
			}
		}
	}

	.glyphicon-remove {
		cursor: pointer;
		color: lightgray;
		pointer-events: auto;
	}

	.glyphicon-remove:hover {
		color: $red;
	}
}

.class-icon-label-wrapper {
	display: flex;

	.class-label {
		line-height: 1.6em;
		height:  1.75em;
		margin: 0.15em 0 0 -20px;
		padding: 0 7px 0 22px;
		border-radius: 10px;
		border-width: 1px;
		border-style: solid;

		&.all {
			border-color: rgba(169, 169, 169, 1);
			background: rgba(169, 169, 169, 0.3);
		}

		&.neutral {
			border-color: rgba(169, 169, 169, 1);
			background: rgba(169, 169, 169, 0.3);
		}

		&.druid {
			border-color: rgba(255, 125, 10, 1);
			background: rgba(255, 125, 10, 0.3);
		}

		&.hunter {
			border-color: rgba(171, 212, 114, 1);
			background: rgba(171, 212, 114, 0.3);
		}

		&.mage {
			border-color: rgba(105, 204, 240, 1);
			background: rgba(105, 204, 240, 0.3);
		}

		&.paladin {
			border-color: rgba(245, 140, 186, 1);
			background: rgba(245, 140, 186, 0.3);
		}

		&.priest {
			border-color: rgba(210, 210, 210, 1);
			background: rgba(255, 255, 255, 0.3);
		}

		&.rogue {
			border-color: rgba(255, 217, 26, 1);
			background: rgba(255, 240, 26, 0.3);
		}

		&.shaman {
			border-color: rgba(0, 122, 222, 1);
			background: rgba(0, 122, 222, 0.3);
		}

		&.warlock {
			border-color: rgba(148, 130, 201, 1);
			background: rgba(148, 130, 201, 0.3);
		}

		&.warrior {
			border-color: rgba(199, 156, 110, 1);
			background: rgba(199, 156, 110, 0.3);
		}

		&.deselected {
			border-color: rgba(169, 169, 169, 1);
			background: rgba(169, 169, 169, 0.3);
		}
	}

	.class-icon {
		height: 2em;
		width: 2em;
		z-index: 10;
	}

	&.deselected {
		img {
			filter: grayscale(100%)
		}
	}
}
