#deck-spotlight {
	margin: 0 auto;
	padding: 50px 0;
	width: 80%;
	
	.content-message {
		padding: 50px 0;
		text-align: center;
	}

	.deck-list {
		padding: 20px 0;
	}

	#deck-db-link {
		text-align: center;
	}
}
