.deck-discover {
	display: flex;

	.filter-wrapper {
		width: 250px;
		margin-top: 65px;

		@media(max-width: 768px) {
			padding-top: 20px;
			width: 100%;
		}

		>span>button {
			display: block;
			width: 100%;
		}

		.filters {

			>h4 {
				border-bottom: 1px solid $darkgrey;
			}
			
			.class-filter-wrapper {
				margin-left: 15px;
				margin-right: 15px;
				
				.class-icon {
					height: 2.3em;
					width: 2.3em;
				}
			}
			

			> ul {
				padding-left: 10px;

				>li:hover {
					color: $red;

					&.selected:not(.no-deselect) {
						text-decoration: line-through;
					}

				}

				>li {
					cursor: pointer;
					user-select: none;
					list-style-type: none;

					&.selected {
						font-weight: bold;
					}
				}
			}
		}
	}

	.deck-list-wrapper {
		width: 85%;
		margin-top: 40px;

		@media(max-width: 768px) {
			width: 100%;
		}

		.paging >span {
			padding-right: 5px;
		}

		.header-row {
			font-weight: bold;
			border-bottom: 1px solid $darkgrey;
			margin-left: 40px;
			margin-right: 0px;
		}

		>ul {
			list-style-type: none;
			
			>li {
				border-bottom: 1px solid $darkgrey;
				height: 85px;
				line-height: 34px;
				background-position-y: -42px;
				background-repeat: no-repeat;
				
				>a {
					background: linear-gradient(to right, $offwhite 1%, rgba(251, 247, 246, 0.7) 100px, $offwhite 256px);
					display: block;
					height: 100%;
					color: black;

					>div {
						height: 100%;
						display: flex;
						padding-top: 10px;


						>div {
							font-weight: bold;

							>span {
								display: block;
							}
							
							.deck-name {
								background-size: contain;
								background-repeat: no-repeat;
								line-height: 34px;
								padding-left: 40px;
								margin: 5px 0 0 5px;
							}

							.dust-cost {
								background-size: contain;
								background-repeat: no-repeat;
								line-height: 20px;
								padding-left: 16px;
								margin-left: 40px;
								opacity: 0.6;
								font-size: 0.9em;
							}

							.win-rate {
								text-align: center;
								margin-top: 5px;
							}

							.game-count {
								text-align: center;
								font-size: 0.9em;
								opacity: 0.6;
								line-height: 20px;
								margin-top: -5px;
							}

						}

						.card-list {
							list-style-type: none;

							>li {
								float: left;

								>div {
									margin-top: 15px;
									float: left;
								}
						
								.card-icon {
									margin-left: 7px;
									margin-right: 3px;
									line-height: 50px;
								}
							}
						}

						.mana-curve {
							width: 75px;
							padding: 17px 0 0 13px;
						}
					}
				}
				
				>a:hover {
					background: linear-gradient(to right, $offwhite 1%, rgba(251, 247, 246, 0.5) 100px, $offwhite 256px);
					text-decoration: none;
				}
			}
			>li:nth-child(odd) {
				
				>a {
					background: linear-gradient(to right, $offwhite 1%, rgba(255, 255, 255, 0.7) 100px, white 256px);
				}

				>a:hover {
					background: linear-gradient(to right, $offwhite 1%, rgba(255, 255, 255, 0.5) 100px, white 256px);
				}
			}
		}
		
		.content-message {
			padding: 50px 0;
			text-align: center;
		}
	}
}
