.deck-discover {
	display: flex;

	.filter-wrapper {
		width: 250px;
		margin-top: 65px;

		@media(max-width: 768px) {
			padding-top: 20px;
			width: 100%;
		}

		>span>button {
			display: block;
			width: 100%;
		}

		.filters {

			>h4 {
				border-bottom: 1px solid $darkgrey;
			}
			
			.class-filter-wrapper {
				margin-left: 15px;
				margin-right: 15px;
				
				.class-icon {
					height: 2.3em;
					width: 2.3em;
				}
			}
			

			> ul {
				padding-left: 10px;

				>li:hover {
					color: $red;

					&.selected:not(.no-deselect) {
						text-decoration: line-through;
					}

				}

				>li {
					cursor: pointer;
					user-select: none;
					list-style-type: none;

					&.selected {
						font-weight: bold;
					}
				}
			}
		}
	}

	.deck-list-wrapper {
		width: 85%;
		margin-top: 40px;
		margin-left: 40px;

		@media(max-width: 768px) {
			width: 100%;
		}
		
		.content-message {
			padding: 50px 0;
			text-align: center;
		}
	}
}
