.deck-detail-container {
	display: flex;
	
	>main {
		min-height: calc(100vh - 50px);
		padding-top: 10px;
		width: calc(100% - 300px);

		#message-wrapper {
			text-align: center;
		}

		@media(max-width: 768px) {
			max-width: 100%;
			width: 100%;
		}
	}
	
	>aside {
		.hero-image {
			margin: 25px;
			width: 250px;
		}

		@media(max-width: 768px) {
			max-width: 100%;
			width: 100%;
		}
	}

	.chart-wrapper {
		max-width: 700px;
		margin: 0 auto;
	}

	.chart-column {
		padding-left: 0;
		padding-right: 0;
	}

	.deck-header {
		background-position-y: -50px;
		background-repeat: no-repeat;
		border-bottom: 1px solid $darkgrey;
		border-top: 1px solid $darkgrey;
		height: 275px;
		position: relative;

		.deck-header-fade {
			background: linear-gradient(to right, $offwhite 1%, rgba(251, 247, 246, 0.6) 100px, $offwhite 512px);
			height: 100%;
			padding: 20px 0 0 40px;
						
			.deck-name {
				background-repeat: no-repeat;
				background-size: contain;
				line-height: 65px;
				margin: 5px 0 0 5px;
				padding-left: 75px;
			}
			
			.dust-cost {
				background-repeat: no-repeat;
				background-size: contain;
				line-height: 30px;
				margin-left: 80px;
				margin-top: 0px;
				opacity: 0.9;
				padding-left: 25px;
			}

			.page-title {
				display: flex;
				height: 75px;

				>img {
					height: 50px;
					opacity: 0.3;
					width: 50px;
				}
			}
		}
	}

	.deck-detail {
		padding-top: 15px;
	}
	
	>h3 {
		border-bottom: 1px solid $darkgrey;
	}

	.winrate-list {
		padding-top: 27px;

		>h4 {
			border-bottom: 1px solid $darkgrey;
		}

		> ul {
			padding-left: 10px;

			>li {
				user-select: none;
				list-style-type: none;
				border-bottom: 1px solid $lightgrey;

				.badge {
					float: right;
					margin-top: 3px;
				}

				.class-icon {
					height: 24px;
					width: 24px;
					margin-right: 5px;
				}

				.card-icons {
					display: flex;
					float: right;
					
					.card-icon {
						margin-left: 2px;
					}
				}
				
			}

			>li:nth-child(even) {
				background: rgb(249, 249, 249);
			}

			&#similar-decks-list >li {
				height: 34px;
				padding: 3px 0;

				>a {
					line-height: 28px;
				}
			}
		}
	}

	#opponent-class-filter {
		margin: 15px auto 0 auto;
		text-align: center;
		width: 360px;

		.class-icon {
			height: 2.3em;
			width: 2.3em;
		}
	}


	.table-wrapper {
		overflow-x: auto;
		
		>table {
			min-width: 1050px;
		}
	}

	.message-wrapper {
			margin-top: 70px
	}

	.table-header-sortable {
		cursor: pointer;
		user-select: none;

		.no-sort {
			opacity: 0;
		}
	}

	.table-header-card {
		width: 217px;
	}

	>h3 {
		border-bottom: 1px solid $darkgrey;
	}

	.replay-count {
		display: block;
		color: gray;
		font-style: italic;
		margin: -10px 0 0 5px;
	}
}

.card-table-row {
	> td {
		line-height: 19px;
		font-weight: bold;

		&.winrate-cell {
			white-space: pre;
		}

		.card-wrapper {
			min-width: 150px;
			max-width: 217px;
			margin-top: -9px;
			margin-bottom: -9px;
		}
	}
}
