.decks {
	display: flex;

	.deck-list-wrapper {
		min-height: 1180px;
		padding: 20px;
		width: calc(100% - 300px);

		@media(max-width: 991px) {
			margin-left: 0px;
			width: 100%;
		}

		.content-message {
			padding: 50px 0;
			text-align: center;
		}

		.global-data-wrapper {
			bottom: 6px;
			color: gray;
			height: 20px;
			left: 5px;
			position: absolute;
		}

		.info-row {
			border-bottom: 1px solid $help;
			background-color: #f9f9f9;
			height: 50px;
			line-height: 50px;
		}
	}

	#min-games-message {
		color: #737373;
		padding: 0;
	}
}
