.deck-discover {
	display: flex;

	#deck-discover-infobox {
		.card-search-results {
			width: calc(100% - 20px);

			li {
				padding: 0;
			}
		}
	}

	.deck-list-wrapper {
		min-height: 1180px;
		padding: 20px;
		width: calc(100% - 300px);

		@media(max-width: 991px) {
			margin-left: 0px;
			width: 100%;
		}
		
		.content-message {
			padding: 50px 0;
			text-align: center;
		}
	}
}
