.deck-detail-container {
	display: flex;

	@media(max-width: 768px) {
		flex-direction: column;
	}

	>main {
		min-height: calc(100vh - 50px);
		padding-top: 10px;
		width: calc(100% - 300px);

		#message-wrapper {
			text-align: center;
		}

		@media(max-width: 768px) {
			max-width: 100%;
			width: 100%;
		}
		
		>.row {
			border-bottom: 1px solid $lightgrey;
		}

		#opponent-class-filter {
			margin: 0 auto;
			max-width: 400px;
			text-align: center;

			.class-icon {
				height: 2.3em;
				width: 2.3em;
			}

			.premium-wrapper {
				padding: 0 5px 5px 5px;
			}
		}
	}
	
	>aside {
		.hero-image {
			margin: 25px calc(50% - 125px);
			width: 250px;
		}

		@media(max-width: 768px) {
			max-width: 100%;
			width: 100%;
			padding-bottom: 0;
		}
	}

	.chart-wrapper {
		max-width: 700px;
		margin: 0 auto;
	}

	.chart-column {
		padding-left: 0;
		padding-right: 0;
	}

	>h3 {
		border-bottom: 1px solid $darkgrey;
	}

	.table-wrapper {
		overflow-x: auto;
		
		>table {
			min-width: 1050px;
		}
	}

	.message-wrapper {
		margin-top: 70px
	}

	.table-header-sortable {
		cursor: pointer;
		user-select: none;

		.no-sort {
			opacity: 0;
		}
	}

	.table-header-card {
		width: 217px;
	}

	.replay-count {
		display: block;
		color: gray;
		font-style: italic;
		margin: -10px 0 0 5px;
	}
}

.card-table-row {
	> td {
		line-height: 19px;
		font-weight: bold;

		&.winrate-cell {
			white-space: pre;
		}

		.card-wrapper {
			min-width: 150px;
			max-width: 217px;
			margin-top: -9px;
			margin-bottom: -9px;
		}
	}
}
