.deck-detail-container {
	display: flex;

	@media(max-width: 768px) {
		flex-direction: column;
	}

	>main {
		min-height: calc(100vh - 50px);
		padding-top: 10px;
		width: calc(100% - 300px);

		@media(max-width: 768px) {
			max-width: 100%;
			width: 100%;
		}

		>.row {
			border-bottom: 1px solid $lightgrey;
		}

		.chart-wrapper > .info-icon {
			color: $blue;
			font-size: 1em;
			left: 3%;
			@media(min-width: 1336px) {
				left: calc(50% - 350px);
			}
			padding: 0;
			position: absolute;
			right: unset;
			top: 5%;
		}

		#overview {
			.overview-content {
				display: flex;
			}

			>div >div {
				padding-top: 20px;
			}

			table {
				max-width: 350px;
				margin: 0 auto;
				font-weight: bold;
			}

			.card-list-wrapper {
				max-width: 270px;
				min-width: 200px;
				margin: 0 auto;
			}

			.chart-wrapper {
				max-width: 450px;
			}

			.mana-curve {
				padding: 50px 0 110px calc(50% - 125px + 17px);
				border: none;

				li {
					padding: 0;
					border: none;
					height: 75px;
					width: 25px;
					margin-left: 2px;

					>span::before {
						content: attr(data-count);
						left: -1px;
						position: absolute;
						top: -1.5em;
						width: 100%;
					}

					>span {
						border-bottom: 1px solid $lightblue;
						font-size: 0.8em;
						font-weight: bold;
						text-align: center;
						transition: height 0.5s ease-out;
					}

					>span::after {
						background-image: url("/static/images/mana_crystal.png");
						background-repeat: no-repeat;
						background-size: contain;
						background-position: center;
						content: attr(data-cost);
						filter: brightness(1.1);
						left: -1px;
						padding: 4px;
						position: absolute;
						top: calc(100% + 3px);
						width: 100%;
						color: rgba(255, 255, 255, 0.8);
						text-shadow: -1px -1px 0 #000,
							1px -1px 0 #000,
							-1px 1px 0 #000,
							1px 1px 0 #000;
					}
				}
			}
		}
	}

	>aside {
		.hero-image {
			margin: 25px calc(50% - 125px);
			width: 250px;
		}

		@media(max-width: 768px) {
			max-width: 100%;
			width: 100%;
			padding-bottom: 0;
		}

		.card-list {
			width: 270px;
			margin: 20px auto;
		}

		.copy-deck-wrapper {
			padding-bottom: 20px;
		}

		.dropdown {
			>button {
				padding: 0 5px;
			}

			li {
				padding: unset;
				&.dropdown-header {
					padding: 3px 20px;
				}
			}
		}

		.training-data {
			display: flex;
			margin-left: 5px;
			label {
				margin: 0 0 0 5px;
				font-weight: normal;

				&.disabled {
					color: gray;
				}
			}

			.glyphicon {
				color: white;
			}
		}
	}

	.chart-wrapper {
		max-width: 700px;
		margin: 0 auto;
	}

	.chart-column {
		padding-left: 0;
		padding-right: 0;
	}

	>h3 {
		border-bottom: 1px solid $darkgrey;
	}

	.table-wrapper {
		overflow-x: auto;

		>table {
			min-width: 1050px;
		}
	}

	#my-statistics {
		table {
			min-width: 1900px;
		}
	}

	.replay-count {
		display: block;
		color: gray;
		font-style: italic;
		margin: -10px 0 0 5px;
	}

	#message-no-data {
		padding-top: 20px;
	}

	.deck-matchups {
		margin: 20px auto 0 auto;
		max-width: 1000px;
	}
}

.card-table-row {
	> td {
		line-height: 19px;
		font-weight: bold;

		&.winrate-cell {
			white-space: pre;

			.glyphicon {
				padding-left: 10px;
				color: orangered;
			}
		}
	}
}
