.discover-container {
	display: flex;

	@media(max-width: 768px) {
		flex-direction: column;
	}

	>main {
		min-height: calc(100vh - 50px);
		padding-top: 10px;
		width: calc(100% - 300px);

		@media(max-width: 768px) {
			max-width: 100%;
			width: 100%;
		}

		.btn-deck-details {
			display: block;
			margin: 5px;
		}

		.signature-label {
			border: 1px solid white;
			display: inline-block;
			height: 10px;
			margin-right: 5px;
			width: 16px;
		}

		.class-tab-content {
			display: flex;
			padding: 10px;

			.cluster-chart-container {
				width: 100%;
			}
		}

		.archetype-selection-dropdown {
			margin-left: 5px;

			>.btn {
				background: $offwhite;
				border: 1px solid $blue;
				color: $blue;
				padding: 0;
				height: 16px;
			}

			.glyphicon {
				font-size: 10px;
				width: 20px;
				display: block;
			}

			li > a {
				background-color: transparent;
				color: black;

				&:hover {
					background: $lightblue;
				}
			}
		}

		#infobox-deck {
			border: 1px solid black;
			overflow-y: auto;
			width: 350px;

			&.no-deck {
				opacity: 0.5;

				.no-deck-message {
					display: flex;
					height: 100%;
					justify-content: center;
					> p {
						align-self: center;
					}
				}
			}

			.card-list {
				margin: 0 5px;
			}
		}

		.cluster-chart-wrapper {
			position: absolute;
			width: 100%;
			height: 100%;

			.sample-hint {
				position: absolute;
				padding: 3px;
				opacity: 0.6;
			}
		}

	}

	>aside {
		@media(max-width: 768px) {
			max-width: 100%;
			width: 100%;
			padding-bottom: 0;
		}

		> h1 {
			border-bottom: 1px solid $blue;

			> .info-icon {
				margin-left: 10px;
				color: white;
			}
		}

		h3 {
			font-size: 1em;
			margin: 10px 10px 5px 10px;
		}

		.dropdown {
			>button {
				padding: 0 5px;
			}

			li {
				padding: unset;
				&.dropdown-header {
					padding: 3px 20px;
				}
			}
		}
	}
}
