@import "variables.scss";


#promo {
	background: $blue;
	color: white;
	padding: 60px 0 40px 0;
	text-align: center;

	h1 {
		font-size: 3em;
		font-weight: bold;
		margin-top: 0.3em;
	}

	.tagline {
		font-size: 2em;
		margin: 15px 0 40px 0;
	}

	p {
		margin: 15px 0;
		padding: 0;
	}

	.promo-button, .promo-button:visited {
		background-color: white;
		color: $red;
		border-color: white;
	}

	.btn-group .btn + .btn {
		border-left-color: $red;
	}

	.promo-button-outline, .promo-button-outline:visited {
		color: white;
		border-color: white;
	}

	.promo-button:hover, .promo-button:active {
		color: white;
		background-color: #c9485b;
		border-color: #c9485b;
	}
}

#logo {
	width: 121px;
	height: 152px;
}

header h2 {
	font-weight: bold;
}

#front-features {
	max-width: 640px;
	margin: 0 auto;
}

#feat-joust-screenshot {
	width: 100%;
	margin: 1em 0;
}

.front-feature {
	clear: both;
	margin: 2em 0;
}

.front-feature h2 {
	font-size: 1.5em;
}

.front-feature + .front-feature, .front-feature + .clearfix + .front-feature {
	margin-top: 4em;
}

.front-feature figcaption h2 {
	margin-top: 0;
}

.front-feature > figcaption p {
	color: #555;
}

.front-feature > img {
	float: left;
	padding-right: 1em;
}

.front-feature.flip > img {
	float: right;
	padding-right: 0;
	padding-left: 1em;
}

#how-it-works {
	clear: both;
	text-align: center;
}

#how-it-works p {
	font-size: small;
}

#how-it-works img {
	height: 80px;
	width: 120px;
}

#how-it-works-step1 {
	float: left;
	width: 50%;
}

#how-it-works-step2 {
	float: right;
	width: 50%;
}

article#features, article.text-center.promo {
	padding: 2em;
	margin: 2em 0;
}

ul.home-steps {
	list-style-type: none;
	padding-left: 0;
	margin: 2em 0;
}

ul.home-steps > li {
	border-right: solid 1px transparent;
	text-align: center;
}

@media (max-width: 767px) {
	ul.home-steps > li {
		padding-bottom: 2em;
		margin-bottom: 2em;
		border-bottom: solid 1px black;
	}

	ul.home-steps > li:last-child {
		padding-bottom: 0;
		margin-bottom: 0;
		border-bottom-color: transparent;
	}

	.promo-button, .promo-button-outline {
		margin-top: 10px;
		width: 100%;
	}

	.btn-group {
		width: 100%;
		display: flex;
		flex-direction: row;

		> .promo-button, > .promo-button-outline {
			flex: 1;
			width: auto;
		}

		> .dropdown-toggle {
			flex-grow: 0;
		}
	}
}

@media (min-width: 768px) {
	ul.home-steps > li {
		border-right-color: black;
	}

}

ul.home-steps li h3 {
	margin: 10px 0 30px 0;
}

ul.home-steps li:last-child {
	border-right: none;
}

ul.home-steps .promo-button {
	text-align: center;
}

.promo {
	color: black;
}

.front-pad {
	margin: 2em 0;
}

.front-pad-top {
	margin: 2em 0 1em 0;
}

#promo .promo-hint {
	color: #ddd;
}

.promo-help {
	abbr {
		text-decoration: none;
		border-bottom: 1px dotted white;
	}
}

#joust-lightbox {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
}

#joust-promo-container {
	width: 80%;
	height: 80%;
	margin: 5% auto;
}

#faq {
	h2 {
		margin-bottom: 1em;
	}

	dl {
		dd + dt {
			margin-top: 1.2em;
		}
	}
}

.navbar-home {
	li {
		a {
			color: #d9d9d9;

			&:hover {
				color: #fff;
			}
		}
	}
	.navbar-inner {
		margin: 0 auto;
		max-width: 1600px;
	}
}

#home {
	article {
		padding-top: 40px;
		padding-bottom: 40px;

		.text-premium {
			color: $premium-hover;
		}

		&:nth-child(odd) {
			background-color: #ebebeb;
		}
	}

	h4 {
		line-height: 33px;
	}
}

#statistics {
	text-align: center;
	padding-bottom: 40px;

	.live-data-placeholder {
		min-height: 275px;
	}

	.nav-tabs {
		border: none;
		> li {
			width: 250px;
			float: none;
			display: inline-block;
			font-size: 18px;

			> a {
				color: black;
				background: none !important;
				border: none;
				opacity: 0.5;
				font-weight: bold;
				padding-bottom: 0;

				&:hover {
					opacity: 0.7;
				}
			}

			&.active > a {
				opacity: 1;
				border-bottom: 2px solid black;
			}
		}
	}

	.class-boxes {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding: 1em 0;
	}

	.class-box {
		box-shadow: none;
		height: auto;
		margin: 15px;
		max-width: 256px;
		min-width: 256px;
		transition: background-color 0.2s linear;

		&:hover {
			background-color: transparent;
		}
	}

	.mode-icon {
		width: 30px;
		height: 30px;
		position: relative;
		top: -2px;
	}

	.box-content {
		background-color: rgba(255, 255, 255, 0.7);
		transition: background-color 0.2s linear;
		text-align: center;

		&:hover {
			background-color: rgba(255, 255, 255, 0.5);
		}
	}

	.class-box-winrate {
		margin: 1.3em 0;
		font-size: 2.5em;
		font-weight: bold;
		text-shadow: -1px -1px 18px rgba(255, 255, 255, 0.6),
			1px -1px 18px rgba(255, 255, 255, 0.6),
			-1px 1px 18px  rgba(255, 255, 255, 0.6),
			1px 1px 18px rgba(255, 255, 255, 0.6);
	}

	.class-box-footer {
		font-size: 1.1em;
		margin: 0;
		padding: 5px 0;
		color: white;
		background: rgba(0, 0, 0, 0.5);
		text-transform: uppercase;
	}

	.animated-list-item {
		> a {
			max-width: 250px;
			flex-grow: 1;
		}

		>span {
			line-height: 34px;
			padding-left: 10px;
			font-weight: bold;
		}

		.player-class {
			padding-left: 35px;
		}
	}
}
