.infobox {
	background-color: $blue;
	border-top: 1px solid $darkblue;
	color: white;
	max-width: 300px;
	padding-bottom: 50px;
	display: inline-block;
	flex-grow: 1;

	a, a:hover, a:active {
		&:not(.btn) {
			color: $lighterblue;
		}
	}

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;

		ul {
			margin-top: 0.5em;
		}
	}

	h1 {
		padding: 1em 0;
		font-size: 1.2em;
		text-align: center;
		text-transform: uppercase;
		font-weight: normal;
		margin-bottom: 0;
	}

	h2 {
		background-color: $darkblue;
		color: $lighterblue;
		font-size: 1.1em;
		margin: 0;
		padding: 0.5em 0.5em;
		text-transform: uppercase;

		&:last-child {
			padding-bottom: 0.5em;
		}

		a, a:hover, a:active {
			color: inherit;
		}
	}

	li {
		border-bottom: 1px solid $darkblue;
		padding: 0.5em 1em;

		&.selectable {
			cursor: pointer;
			user-select: none;
			list-style-type: none;

			&.selected {
				font-weight: bold;
				color: white;
				background: $lightblue1;
			}

			&.selected:not(.no-deselect)::before {
				content: "× ";
				color: $lightgrey;
			}
		}

		ul {
			> li:first-of-type {
				border-top: 1px solid $aqua;
			}

			> li:last-of-type {
				padding-bottom: 0;
			}
		}
	}

	li:hover {
		&.selectable {
			background: $lightblue1;
		}

		&.selected {
			background: $lighterblue1;
		}

		&.selected:not(.no-deselect)::before {
			color: $red;
		}
	}

	.infobox-show-deck {
		float: right;
	}

	.infobox-value {
		color: $lighterblue;
		font-weight: bold;
		float: right;
		cursor: pointer;
	}

	li:hover.selectable .infobox-value, li.selected .infobox-value {
		color: white;
	}

	input, select {
		color: black;
		font-weight: normal;
	}

	.class-filter-wrapper {
		margin: 10px 40px;

		.class-icon {
			height: 2.3em;
			width: 2.3em;
		}
	}

	.search-wrapper {
		padding: 10px;
	}

	.btn-full {
		margin: 5px 0;
		width: 100%;
	}

	&.full-sm {
		@media(max-width: 992px) {
			max-width: 100%;
		}
	}

	&.full-xs {
		@media(max-width: 768px) {
			max-width: 100%;
		}
	}
}
