.component-matrix {
	svg {
		width: 100%;

		&.loading {
			opacity: 0.5;
		}
	}

	text {
		fill: black;
		font-weight: normal;

		&.archetype {

			&.selectable {
				cursor: pointer;
			}

			&.selected {
				fill: $lightblue;
				font-weight: bold;
			}

			&.interesting {
				font-weight: bold;
			}

			&.boring {
				fill: #ccc;
			}
		}
	}

	.cells {
		user-select: none;

		rect {
			stroke: white;
			stroke-width: 1;
		}

		.selectable {
			cursor: pointer;
		}
	}

	.selections {
		rect {
			fill: none;
			stroke: $lightblue;
			stroke-width: 3;
		}
	}

	.vertical-text {
		transform: rotate(90deg);
		transform-origin: left top 0;
	}
}

.component-distribution {
	tr {
		&.selectable {
			cursor: pointer;
		}

		&.active {
			color: $lightblue;
		}
	}

	th, td {
		&, &:hover {
			background-color: inherit;
		}
	}
}
