.component-matrix {
	svg {
		width: 100%;
	}

	text {
		stroke: black;
		stroke-width: 0;
	}

	.cells {
		rect {
			stroke: white;
			stroke-width: 1;
		}
	}

	.vertical-text {
		transform: rotate(90deg);
		transform-origin: left top 0;
	}
}
