.meta-overview-container {
	display: flex;

	@media(max-width: 768px) {
		flex-direction: column;
	}

	>main {
		min-height: calc(100vh - 50px);
		padding-top: 10px;
		width: calc(100% - 300px);

		@media(max-width: 768px) {
			max-width: 100%;
			width: 100%;
		}
	}

	>aside {
		@media(max-width: 768px) {
			max-width: 100%;
			width: 100%;
			padding-bottom: 0;
		}
	}

	>h3 {
		border-bottom: 1px solid $darkgrey;
	}
}

.archetype-matrix-container {
	height: calc(100vh - 130px);
	margin: 0 15px;

	@media(max-width: 768px) {
		height: 100vh;
	}

	.class-icon {
		height: 32px;
		width: 32px;
	}

	.sort-header {
		outline: none;
		cursor: pointer;
		user-select: none;

		&:focus:not(:active) {
			color: $lighterblue;
		}
	}

	.bar {
		display: flex;
		align-items: center;
		height: 100%;
		width: 100%;

		.bar-body {
			position: relative;
			height: 100%;
			width: 100%;

			> div {
				background-color: $blue;
			}
		}

		&.bar-horizontal {
			flex-direction: row;

			> .bar-body {

				> div {
					position: absolute;
					right: 0;
					height: 100%;
				}
			}

			> .bar-label {
				order: 2;
				text-align: left;
				padding-left: 5px;
			}
		}

		&.bar-vertical {
			flex-direction: column;

			> .bar-body > div {
				width: 100%;
				position: absolute;
				bottom: 0;
			}


			> .bar-label {
				text-align: center;
				padding-top: 5px;
			}
		}
	}

	.matchup-header {
		overflow: hidden !important;
	}


	.matchup-matrix, .matchup-header {
		&:focus {
			outline: none;
		}
	}

	.matchup-column-header {
		display: flex;
		text-align: center;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		padding: 5px;

		font-weight: bold;
		cursor: pointer;

		.class-icon {
			height: 2.25em;
			margin: 0.3em 0;
		}

		&.matchup-column-header-archetype {
			&.ignored {
				text-decoration: line-through;
				color: gray;

				.class-icon {
					filter: saturate(0);
				}
			}

			&:hover {
				text-decoration: line-through;

				.class-icon {
					filter: saturate(0);
				}

				&.ignored {
					text-decoration: unset;

					.class-icon {
						filter: saturate(0.5);
					}
				}
			}
		}

	}

	.matchup-row-header {
		display: flex;
		text-align: left;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 5px;
		font-weight: bold;

		.archetype {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;

			.class-icon-wrapper {
				width: 32px;
				position: relative;
				margin: 0 0.5em;

				.class-icon {
					height: 2.25em;
				}
			}

			&.matchup-archetype {
				cursor: pointer;

				&:hover {
					.class-icon, .active-favorite {
						visibility: hidden;
					}

					.favorite-toggle {
						visibility: visible;

						&.favorite {
							color: gray;
						}
					}
				}
			}
		}

		.glyphicon-star {
			color: goldenrod;
			position: absolute;
			text-align: center;

			&.favorite-toggle {
				font-size: 2em;
				left: 0.1em;
				top: 0.1em;
				visibility: hidden;
				width: 32px;
			}

			&.active-favorite {
				font-size: 18px;
				right: 0;
				width: 12px;
				text-shadow: 0px 0px 3px black;
			}
		}

		.glyphicon-new-window {
			cursor: pointer;
			color: gray;
			line-height: 25px;
			margin: 0.5em;
		}

		.glyphicon-new-window:hover {
			color: black;
		}
	}

	.gradient {
		position: absolute;
		transition: opacity 0.1s;
		pointer-events: none;

		&.gradient-top, &.gradient-bottom {
			height: 2em;
			width: 100%;
			position: absolute;
			left: 0;
		}

		&.gradient-top {
			top: 0;
			background: linear-gradient(to top, transparent, #ddd);
		}

		&.gradient-bottom {
			bottom: 0;
			background: linear-gradient(to bottom, transparent, #ddd);
		}

		&.gradient-left, &.gradient-right {
			width: 2em;
			height: 100%;
			position: absolute;
			top: 0;
		}

		&.gradient-left {
			left: 0;
			background: linear-gradient(to left, transparent, #ddd);

			&.gradient-fade {
				background: linear-gradient(-45deg, transparent, $offwhite),
				linear-gradient(to left, transparent, #ddd);
			}
		}

		&.gradient-right {
			right: 0;
			background: linear-gradient(to right, transparent, #ddd);

			&.gradient-fade {
				background: linear-gradient(45deg, transparent, $offwhite),
					linear-gradient(to right, transparent, #ddd);
			}
		}

		&.gradient-hidden {
			opacity: 0;
		}
	}

	.matchup-cell, .row-footer {
		display: flex;
		text-align: center;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;

		border-bottom: solid 1px $offwhite;
		border-right: solid 1px $offwhite;
	}

	.matchup-cell {
		&.ignored {
			filter: saturate(0);
		}
	}

	.matchup-header-cell {
		display: flex;
		text-align: center;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		font-weight: bold;
		position: absolute;

		&.matchup-header-top-left, &.matchup-header-top-right {
			align-items: flex-end;
			padding-bottom: 0.5em;
		}

		&.matchup-header-archetype {
			align-items: center;
			justify-content: flex-end;
			flex-direction: column;

			.object-search {
				width: 100%;
				padding: 10px 10px 0 10px;

				.form-group {
					margin-bottom: 0;
				}

				.object-search-results li {
					text-align: left;

					&.selected {
						background: lightblue
					}

				}
			}
		}

		.sort-header {
			white-space: nowrap;
		}
	}

	.matchup-header-top-left {
		top: 0;
		left: 0;
	}

	.matchup-header-top-right {
		top: 0;
		right: 0;
	}

	.matchup-header-bottom-left {
		bottom: 0;
		left: 0;
	}

	.matchup-header-popularity {
		flex-direction: column;
		vertical-align: middle;
		justify-content: center;

		.custom-weight-checkbox {
			margin-top: 5px;
		}
	}

	.matchup-column-footer {
		padding-top: 5px;
		padding-right: 1px;
		font-weight: bold;
		height: 100%;

		.bar, .bar-body {
			height: 100%;
		}

		.input-popularity {
			width: 100%;
		}

		&.matchup-column-footer-games {
			font-weight: normal;
			line-height: 30px;
			text-align: center;
		}
	}
}

.grid-container {
	position: absolute;

	&.grid-container-top {
		top: 0;
	}

	&.grid-container-left {
		left: 0;
	}

	&.grid-container-right {
		right: 0;
	}

	&.grid-container-bottom {
		bottom: 0;
	}
}
