.meta-overview-container {
	display: flex;

	@media(max-width: 768px) {
		flex-direction: column;
	}

	>main {
		min-height: calc(100vh - 50px);
		padding-top: 10px;
		width: calc(100% - 300px);

		@media(max-width: 991px) {
			max-width: 100%;
			width: 100%;
		}

		.btn-filters {
			margin-left: 6px;
			margin-bottom: 5px;
		}
	}

	>aside {
		@media(max-width: 991px) {
			max-width: 100%;
			width: 100%;
			padding-bottom: 0;
		}
	}

	>h3 {
		border-bottom: 1px solid $darkgrey;
	}

	.low-data-warning {
		color: $blue;
		padding: 20px;
		margin-top: 0;
		margin-bottom: 8px;

		&.severe {
			color: $red;
		}
	}

	#archetypes {
		.low-data-warning {
			width: 100%;
			padding: 10px;
		}
	}
}

.archetype-matrix-container {
	height: calc(100vh - 130px);
	margin: 0 15px;

	@media(max-width: 768px) {
		height: 100vh;
	}

	.class-icon {
		height: 32px;
		width: 32px;
	}

	.sort-header {
		outline: none;
		cursor: pointer;
		user-select: none;

		&:focus:not(:active) {
			color: $lighterblue;
		}
	}

	.object-search-results .player-class {
		white-space: nowrap;
	}

	.bar {
		display: flex;
		align-items: center;
		height: 100%;
		width: 100%;

		.bar-body {
			position: relative;
			height: 100%;
			width: 100%;

			> div {
				background-color: $blue;
			}
		}

		&.bar-horizontal {
			flex-direction: row;

			> .bar-body {

				> div {
					position: absolute;
					right: 0;
					height: 100%;
				}
			}

			> .bar-label {
				order: 2;
				text-align: left;
				padding-left: 5px;
			}
		}

		&.bar-vertical {
			flex-direction: column;

			> .bar-body > div {
				width: 100%;
				position: absolute;
				bottom: 0;
			}


			> .bar-label {
				text-align: center;
				padding-top: 5px;
			}
		}
	}

	.matchup-header {
		overflow: hidden !important;
	}


	.matchup-matrix, .matchup-header {
		&:focus {
			outline: none;
		}
	}

	.matchup-column-header {
		display: flex;
		text-align: center;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		padding: 5px;

		font-weight: bold;
		cursor: pointer;

		.class-icon {
			cursor: pointer;
			height: 2.25em;
			margin: 0.3em 0;
		}

		.header-archetype-name {
			width: 70px;
			margin: 0 1px;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		&.matchup-column-header-archetype {
			&.ignored {
				.header-archetype-name {
					text-decoration: line-through;
				}
				color: gray;

				.class-icon {
					filter: saturate(0);
				}
			}

			&:hover {
				.header-archetype-name {
					text-decoration: line-through;
				}

				.class-icon {
					filter: saturate(0);
				}

				&.ignored {
					.header-archetype-name {
						text-decoration: unset;
					}

					.class-icon {
						filter: saturate(0.5);
					}
				}

				.btn-toggle-class {
					visibility: visible;
					display: block;
					border: 1px solid $red;
					padding: 0 5px;
					color: black;

					&:hover {
						background-color: $red;
						color: white;
					}
				}
			}
		}
	}

	.matchup-row-header {
		display: flex;
		text-align: left;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 5px;
		font-weight: bold;

		.archetype {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;

			.class-icon-wrapper {
				width: 32px;
				position: relative;
				margin: 0 0.5em;

				.class-icon {
					height: 2.25em;
				}
			}

			> a, a:hover, a:active {
				color: black;
			}

			.archetype-name {
				cursor: pointer;
			}

			&.matchup-archetype {
				cursor: pointer;

				.class-icon-wrapper:hover {
					.class-icon, .active-favorite {
						visibility: hidden;
					}

					.favorite-toggle {
						visibility: visible;

						&.favorite {
							color: gray;
						}
					}
				}
			}
		}

		.glyphicon-star {
			color: goldenrod;
			position: absolute;
			text-align: center;

			&.favorite-toggle {
				font-size: 2em;
				left: 0.1em;
				top: 0.1em;
				visibility: hidden;
				width: 32px;
			}

			&.active-favorite {
				font-size: 18px;
				right: 0;
				width: 12px;
				text-shadow: 0px 0px 3px black;
			}
		}


	}

	.gradient {
		position: absolute;
		transition: opacity 0.1s;
		pointer-events: none;

		&.gradient-top, &.gradient-bottom {
			height: 2em;
			width: 100%;
			position: absolute;
			left: 0;
		}

		&.gradient-top {
			top: 0;
			background: linear-gradient(to top, transparent, #ddd);
		}

		&.gradient-bottom {
			bottom: 0;
			background: linear-gradient(to bottom, transparent, #ddd);
		}

		&.gradient-left, &.gradient-right {
			width: 2em;
			height: 100%;
			position: absolute;
			top: 0;
		}

		&.gradient-left {
			left: 0;
			background: linear-gradient(to left, transparent, #ddd);

			&.gradient-fade {
				background: linear-gradient(-45deg, transparent, $offwhite),
				linear-gradient(to left, transparent, #ddd);
			}
		}

		&.gradient-right {
			right: 0;
			background: linear-gradient(to right, transparent, #ddd);

			&.gradient-fade {
				background: linear-gradient(45deg, transparent, $offwhite),
					linear-gradient(to right, transparent, #ddd);
			}
		}

		&.gradient-hidden {
			opacity: 0;
		}
	}

	.matchup-cell, .row-footer {
		display: flex;
		text-align: center;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;

		border: solid 1px $offwhite;
		// border-right: solid 1px $offwhite;
	}

	.matchup-cell {
		.tooltip-wrapper {
			line-height: 38px;
			text-align: center;
			width: 100%;
		}

		&.ignored {
			filter: saturate(0);
		}

		&.highlight-row {
			border-top: 2px solid gray;
			border-bottom: 2px solid gray;
		}

		&.highlight-column {
			border-left: 2px solid gray;
			border-right: 2px solid gray;
		}
	}

	.matchup-header-cell {
		display: flex;
		text-align: center;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		font-weight: bold;
		position: absolute;

		&.matchup-header-top-left, &.matchup-header-top-right {
			align-items: flex-end;
			padding-bottom: 0.5em;
		}

		&.matchup-header-archetype {
			align-items: center;
			justify-content: flex-end;
			flex-direction: column;

			.object-search {
				width: 100%;
				padding: 10px 10px 0 10px;

				.form-group {
					margin-bottom: 0;
				}

				.object-search-results li {
					text-align: left;

					&.selected {
						background: lightblue
					}

				}
			}
		}

		.sort-header {
			white-space: nowrap;
		}
	}

	.matchup-header-top-left {
		top: 0;
		left: 0;
	}

	.matchup-header-top-right {
		top: 0;
		right: 0;
	}

	.matchup-header-bottom-left {
		bottom: 0;
		left: 0;
	}

	.matchup-header-popularity {
		flex-direction: column;
		vertical-align: middle;
		justify-content: center;

		.custom-weight-checkbox {
			margin-top: 5px;
		}
	}

	.matchup-column-footer {
		padding-top: 5px;
		padding-right: 1px;
		font-weight: bold;
		height: 100%;
		border-left: 2px solid transparent;
		border-right: 2px solid transparent;


		.bar, .bar-body {
			height: 100%;
		}

		.input-popularity {
			width: 100%;
		}

		&.matchup-column-footer-games {
			font-weight: normal;
			line-height: 30px;
			text-align: center;
		}
	}

	.popularity-column-footer {
		border: 1px solid $offwhite;
	}

	.matchup-column-header, .matchup-column-footer {
		&.highlight {
			border-left: 2px solid gray;
			border-right: 2px solid gray;
		}
	}

	.matchup-row-header, .row-footer, {
		&.highlight {
			border-top: 2px solid gray;
			border-bottom: 2px solid gray;
		}
	}
}

.grid-container {
	position: absolute;

	&.grid-container-top {
		top: 0;
	}

	&.grid-container-left {
		left: 0;
	}

	&.grid-container-right {
		right: 0;
	}

	&.grid-container-bottom {
		bottom: 0;
	}
}

#tooltip-matchup-cell {
	th {
		padding-right: 10px;
	}

	th, td {
		padding-top: 5px;
	}

	table {
		margin-top: 8px;
	}

	.tooltip-header {
		font-weight: bold;
	}
}

#tooltip-archetype-signature {
	max-height: 96vh;
	overflow: hidden;

	h3 {
		font-size: 1em;
	}

	p {
		background: black;
		bottom: 0;
		left: 0;
		padding: 8px;
		position: absolute;
		text-align: center;
		width: 100%;
	}

	.loading-spinner {
		padding: 10px;
		justify-content: center;

		.glyphicon {
			color: #999;
		}
	}

	.archetype-signature {
		padding-bottom: calc(1.3em + 8px);
	}
}

#archetypes {
}

.archetype-tier-list {
	padding: 0 10px;

	.tier {
		margin-top: 10px;
		border-left: 1px solid black;
		border-right: 1px solid black;

		.tier-header {
			font-weight: bold;
			background: $blue;
			color: white;
			padding: 8px;
			text-transform: uppercase;
			font-size: 1.1em;

			.info-icon {
				color: white;
				padding-left: 10px;
			}
		}
	}

	.archetype-list-item {
		border-bottom: 1px solid $darkgrey;
		background-position: 0 -42px;
		background-repeat: no-repeat;
		list-style-type: none;

		> a {
			background: linear-gradient(to right, $offwhite 1%, rgba(251, 247, 246, 0.7) 100px, $offwhite 256px);
			display: block;
			padding: 10px;
			color: black;
			outline: none;

			&:hover, &:focus {
				background: linear-gradient(to right, $offwhite 1%, rgba(251, 247, 246, 0.5) 100px, #f1f2f4 256px);
				text-decoration: none;
			}
		}

		&:nth-child(odd) {
			> a {
				background: linear-gradient(to right, $offwhite 1%, rgba(255, 255, 255, 0.7) 100px, #f9f9f9 256px);
			}

			> a {
				&:hover, &:focus {
					background: linear-gradient(to right, $offwhite 1%, rgba(255, 255, 255, 0.5) 100px, #f1f2f4 256px);
				}
			}
		}

		.archetype-header {
			display: flex;
			flex-direction: row;
			padding: 0;
		}

		.archetype-icon {
			height: 64px;
			width: 64px;
		}

		.archetype-info {
			display: flex;
			flex-direction: column;
			padding-left: 10px;

			.archetype-name {
				font-weight: bold;
				font-size: 1.2em;
			}

			.archetype-data {
				font-weight: bold;
				font-size: 1.8em;
				text-shadow: -1px -1px 18px rgba(255, 255, 255, 0.6),
					1px -1px 18px rgba(255, 255, 255, 0.6),
					-1px 1px 18px  rgba(255, 255, 255, 0.6),
					1px 1px 18px rgba(255, 255, 255, 0.6);
			}
		}

		.archetype-cards-header {
			color: gray;
			text-transform: uppercase;
			font-size: 0.8em;
		}

		.archetype-cards {
			display: flex;
			flex-direction: column;
			padding: 5px 0 0 5px;
			overflow: hidden;

			.archetype-card-list {
				padding-left: 0;
				display: flex;
				list-style-type: none;

				.card-icon {
					float: left;
					margin: 3px;
				}
			}
		}

		.archetype-btn-container {
			height: 64px;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0;

			.btn-deck {
				margin: 0 auto;
				text-transform: uppercase;
			}

			@media(max-width: 991px) {
				height: 34px;

				.btn-deck {
					width: 100%
				}
			}
		}
	}

}
