.oauth-authorization {
	background: #fafafa;
	border: 1px solid #ddd;
	border-radius: 0.4em;
	margin-top: 2em;
	padding: 1em;
	width: 440px;

	h3 {
		margin-top: 0;
	}

	.control-group {
		margin-top: 2em;
		text-align: right;
	}
}

#oauth2-authorized-applications {
	.authorized-app {
		background: white;
		border: 1px solid $lightgrey;
		display: block;
		margin: 1em;
		padding: 0.6em;

		.name {
			font-weight: bold;
		}

		.subtitle {
			color: #444;
		}

		.revoke-form button {
			float: right;
		}
	}
}
