.oauth-authorization {
	background: #fafafa;
	border: 1px solid #ddd;
	border-radius: 0.4em;
	margin-top: 2em;
	padding: 1em;
	width: 440px;

	h3 {
		margin-top: 0;
	}

	.control-group {
		margin-top: 2em;
		text-align: right;
	}
}
