.flex-container {
	width: 100%;
	display: flex;
	flex-direction: row;

	> * {
		flex: auto;
		min-width: 0;
	}
}

#joust-container {
	padding: 10px;
	height: calc(100vh - 50px); // subtract navbar
}

#replay-comments {
	padding: 10px;

	> h2 {
		margin-top: 0;
	}
}

#share-game-dialog {
	padding: 1em 0.5em 0;
}

@media (max-width: 767px) {
	#replay-infobox {
		max-width: none;
	}

	#replay-container {
		flex-direction: column;
	}

	#replay-comments {
		padding-top: 20px;
	}
}

@media (min-width: 768px) {
	#replay-infobox {
		min-width: 300px;
	}
}
