.flex-container {
	width: 100%;
	display: flex;
	flex-direction: row;

	> * {
		flex: auto;
		min-width: 0;
	}
}

#joust-container {
	width: 100%;
}

#infobox-players-container {
	margin-left: 10px;
	padding-bottom: 0;
}

#infobox-players {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 10px;

	.gradient-container {
		position: relative;

		 &:before {
			content: "";
			background: linear-gradient(to bottom, transparent, $blue);
			bottom: 0;
			height: 2em;
			left: 0;
			pointer-events: none;
			position: absolute;
			transition: opacity 0.1s;
			width: 100%;
		 }
	}
}

.deck-container {
	overflow: hidden;
	transition: height 0.2s linear;
	flex: 1;

	&.full {
		overflow: auto;
	}
}

#infobox-players-container-small {
	.deck-container {
		overflow: hidden;
	}
}

.deck-header {
	position: relative;
	display: flex;
	background-position: -55px -53px;
	background-repeat: no-repeat;
	border: 1px solid #ccc;
	margin: 1px;

	.deck-header-fade {
		position: absolute;
		width: 100%;
		height: 100%;
		background: linear-gradient(90deg, $blue 1%, transparent 100px ,$blue 200px);
	}

	.btn {
		line-height: 1em;
		padding: 5px;
		margin: 5px;
		font-weight: normal;
	}

	.deck-name, .info-icon {
		line-height: calc(1em + 22px);
		padding-left: 5px;
	}

	.deck-name {
		flex: 1;
		z-index: 1;
		font-weight: bold;
		text-shadow: -1px -1px 0 #000,
			1px -1px 0 #000,
			-1px 1px 0 #000,
			1px 1px 0 #000;
	}

	.info-icon {
		color: white;
	}
}

.deck-separator {
	height: 20px;
	position: relative;
	text-align: center;

	&:before {
		border-top: 1px solid white;
		content: "";
		left: 0;
		position: absolute;
		top: 50%;
		width: 100%;
	}
}

#replay-comments {
	padding: 10px;
	max-width: 700px;

	> h2 {
		margin-top: 0;
	}
}

#share-game-dialog {
	padding: 1em 0.5em 0;
}

#main-content-wrapper {
	height: calc(100vh - 50px); // subtract navbar
	display: flex;
	padding: 10px;
}

@media (max-width: 767px) {
	#replay-infobox {
		max-width: none;
	}

	#replay-container {
		flex-direction: column;
	}

	#replay-comments {
		padding-top: 20px;
	}
}

@media (min-width: 768px) {
	#replay-infobox {
		min-width: 300px;
	}

	#infobox-players-container {
		min-width: 300px;
	}
}
