.class-icon-label-wrapper {
	display: flex;

	.class-label {
		line-height: 1.6em;
		height:  1.75em;
		margin: 0.15em 0 0 -20px;
		padding: 0 7px 0 22px;
		border-radius: 10px;
		border-width: 1px;
		border-style: solid;

		&.all {
			border-color: rgba(169, 169, 169, 1);
			background: rgba(169, 169, 169, 0.3);
		}

		&.neutral {
			border-color: rgba(169, 169, 169, 1);
			background: rgba(169, 169, 169, 0.3);
		}

		&.druid {
			border-color: rgba(255, 125, 10, 1);
			background: rgba(255, 125, 10, 0.3);
		}

		&.hunter {
			border-color: rgba(171, 212, 114, 1);
			background: rgba(171, 212, 114, 0.3);
		}

		&.mage {
			border-color: rgba(105, 204, 240, 1);
			background: rgba(105, 204, 240, 0.3);
		}

		&.paladin {
			border-color: rgba(245, 140, 186, 1);
			background: rgba(245, 140, 186, 0.3);
		}

		&.priest {
			border-color: rgba(210, 210, 210, 1);
			background: rgba(210, 210, 210, 0.3);
		}

		&.rogue {
			border-color: rgba(255, 240, 26, 1);
			background: rgba(255, 240, 26, 0.3);
		}

		&.shaman {
			border-color: rgba(0, 122, 222, 1);
			background: rgba(0, 122, 222, 0.3);
		}

		&.warlock {
			border-color: rgba(148, 130, 201, 1);
			background: rgba(148, 130, 201, 0.3);
		}

		&.warrior {
			border-color: rgba(199, 156, 110, 1);
			background: rgba(199, 156, 110, 0.3);
		}

		&.deselected {
			border-color: rgba(169, 169, 169, 1);
			background: rgba(169, 169, 169, 0.3);
		}
	}

	.class-icon {
		height: 2em;
		width: 2em;
		z-index: 10;
	}

	&.deselected {
		filter: grayscale(100%)
	}
}
