.report-container {
	display: flex;
	
	.filter-wrapper {
		width: 250px;
		margin-top: 45px;

		@media(max-width: 992px) {
			margin-top: 20px;
			width: 100%;
		}

		>span >button {
			display: block;
			width: 100%;
		}

		.filters {
			
			>h4 {
				border-bottom: 1px solid $darkgrey;
			}
			
			.class-filter-wrapper {
				margin-left: 15px;
				margin-right: 15px;

				.class-icon {
					height: 2.3em;
					width: 2.3em;
				}
			}

			> ul {
				padding-left: 10px;

				>li:hover {
					color: $red;

					&.selected:not(.no-deselect) {
						text-decoration: line-through;
					}
				}

				>li {
					cursor: pointer;
					user-select: none;
					list-style-type: none;

					&.selected {
						font-weight: bold;
					}
				}
			}
		}
	}

	.report-content {
		width: calc(100% - 250px);
		margin: 20px auto 0 auto;
		max-width: 1000px;

		@media(max-width: 992px) {
			width: 100%;
			margin-left: 0px;
		}
		
		.content-message {
			padding: 50px 0;
			text-align: center;
		}

		.table-wrapper {
			> h2 {
				text-align: center;
			}

			.card-table-row {
				> td {
					line-height: 19px;
					font-weight: bold;

					&.rank-cell {
						white-space: pre;
					}

					.card-wrapper {
						min-width: 150px;
						max-width: 217px;
						margin-top: -9px;
						margin-bottom: -9px;
					}
				}
			}
		}

		.chart-column {
			padding-left: 0;
			padding-right: 0;

			.chart-wrapper {
				max-width: 250px;
				margin: 0 auto;
			}
		}

		.button-more-wrapper {
			display: flex;
			justify-content: center;
		}
	}
}
