.report-container {
	display: flex;

	.report-content {
		margin: 20px auto 0 auto;
		max-width: 1000px;
		min-height: 1000px;
		width: calc(100% - 250px);

		@media(max-width: 992px) {
			width: 100%;
			margin-left: 0px;
		}
		
		.content-message {
			padding: 50px 0;
			text-align: center;
		}

		.table-wrapper {
			> h2 {
				text-align: center;
			}

			.card-table-row {
				> td {
					line-height: 19px;
					font-weight: bold;

					&.rank-cell {
						white-space: pre;
					}

					.card-wrapper {
						min-width: 150px;
						max-width: 217px;
						margin-top: -9px;
						margin-bottom: -9px;
					}
				}
			}
		}

		.chart-column {
			padding-left: 0;
			padding-right: 0;

			.chart-wrapper {
				max-width: 250px;
				margin: 0 auto;
			}
		}

		#button-show-more {
			text-align: center;
		}
	}
}
