/* Colors */

/* Primary brand colors*/

$blue: #1d3657;
$red: #c9485b;
$offwhite: #fbf7f6;

/* Supplementary colors */

$darkercyan: #011C23;
$darkcyan: #08313A;
$cyan: #184752;
$lightcyan: #2A5B67;
$lightercyan: #47747F;

$darkerblue: #031225;
$darkblue: #0c223e;
$lightblue1: #314B6D;
$lighterblue1: #4F6786;

$aqua: #154b69;
$lightblue: #3188b8;
$lighterblue: #3ba3db; // text on $blue and $aqua

$premium: #ffb00d; // premium gold, only use with premium
$premium-hover: #d89300;

/* HearthSim Brand */

$hearthsim-color: #b90303; // distinct from $red, should only be used when directly referring to HearthSim

/* Other brands */
$twitch-purple: #6441a4;

/* Notices and unimportant things */

$darkgrey: #505050;
$lightgrey: #e9e9e9;
$help: #737373;

/* Card Tiles */

$card-tile-background: rgb(49, 49, 49);
$card-tile-text-color: white;
$card-tile-count-color: #f4d442;

$card-tile-background-common: #858585;
$card-tile-background-rare: #315376;
$card-tile-background-epic: #644C82;
$card-tile-background-legendary: #855C25;

$card-tile-background-default: $card-tile-background-rare;
