{% load web_extras %}

<article id="faq">
	<div class="container">
		<h2>Frequently Asked Questions</h2>
		<div class="row">
			<div class="col-lg-6 col-xs-12">
				<dl>
					<dt>How do I sign in?</dt>
					<dd>
						Click on the "Log in with Battle.net" button and we'll send you to Battle.net.
						HSReplay.net never gains access to your password.
					</dd>
					<dt>
						Do I need to sign in?
					</dt>
					<dd>
						Not at all! Just <a href="{% url 'downloads' %}">download Hearthstone Deck Tracker</a> and
						use it to upload and share your replays.
						You can then connect your replays to your Battle.net account at any time.
					</dd>
					<dt>How do I share a replay?</dt>
					<dd>
						Simply send the link to your friends.
						You can also use the "Share" dialog on the replay page, where you can even set the specific
						turn to link to.
					</dd>
				</dl>
			</div>
			<div class="col-lg-6 col-xs-12">
				{% setting 'HSREPLAY_TWITTER_HANDLE' as twitter_handle %}
				<dl>
					<dt>How do you know which cards the opponent was holding in his hand?</dt>
					<dd>
						Once a card is played from hand we can deduce when that card was drawn,
						discovered or created in any other way.
					</dd>
					<dt>
						Where can I get the latest news about HSReplay.net?
					</dt>
					<dd>
						Follow us <a href="https://twitter.com/{{ twitter_handle }}">@{{ twitter_handle }}</a> and
						subscribe to <a href="https://www.reddit.com/r/hsreplay">/r/hsreplay</a>.
					</dd>
					<dt>Can you show me statistics about my winrates/decks/matchups…</dt>
					<dd>Stay tuned!</dd>
				</dl>
			</div>
		</div>
	</div>
</article>
